<div class="breadcrumb-div">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home/dashboard/">Home</a></li>
    <li class="breadcrumb-item active">Corporate List</li>
  </ol>
</div>
<div class="inner-head">
  <h2>Corporate List</h2>
</div>
<div class="search-input hidden-xs">
  <input type="text" placeholder="Search" [(ngModel)]="reqObj.searchText" (input)="changeSearch()">
  <span class="icon-search"></span>
</div>
<div class="search-box visible-xs">
  <div class="icon-search main-search search-remove" ></div>
  <div class="search-box1">
    <input type="text" placeholder="Search"  [(ngModel)]="reqObj.searchText" (ngModelChange)="changeSearch()" />
    <div class="icon-search" ></div>
  </div>
</div>
<div class="button-orange">
  <a (click)="addCorporate()">Add Corporate <span class="icon-plus"></span></a>
</div>
<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="20"
  (scrolled)="onScroll()">
  <div class="no-record" *ngIf="!listCorporate.length">
    No Records Found
  </div>
  <div class="responsive-nt" *ngIf="listCorporate.length">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Corporate Name</th>
            <th scope="col">Corporate Code</th>
            <!-- <th scope="col">Address</th> -->
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Country</th>
            <th scope="col">Status</th>
            <!-- <th class="text-align" scope="col">Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let corporate of listCorporate">
            <td (click)="goEditListCorporate(corporate.corporateId)"><a>
                {{corporate.corporateName}}</a></td>
            <td>{{corporate.corporateCode}}</td>
            <!-- <td>{{corporate.address1}}</td> -->
            <td>{{corporate.city}}</td>
            <td>{{corporate.state}}</td>
            <td>{{corporate.country}}</td>
            <!-- <td>{{corporate.isActive}}</td> -->
            <!-- <td>{{corporate.modifiedDate | showDate}} </td> -->
            <td *ngIf="corporate.isActive=='1'"><i class="fa fa-check" aria-hidden="true"></i>Active</td>
            <td *ngIf="corporate.isActive!='1'"><i class="fa fa-times" aria-hidden="true"></i>InActive</td>

            <!-- <td class="text-align">
              <i class="icon-delete" (click)="showModal(corporate)" title="Delete" data-toggle="tooltip" data-placement="left"></i>
            </td> -->


          </tr>
          <!-- <tr>
            <td><a href="#">Fatima Abdul Rahman Al Najar</a></td>
            <td>156549</td>
            <td>13:03:03 <span> 25-12-2019</span> </td>
            <td><i class="fa fa-check" aria-hidden="true"></i>Active</td>
            <td><i class="icon-delete"></i></td>
          </tr>
          <tr>
            <td><a href="#">Fatima Abdul Rahman Al Najar</a></td>
            <td>156549</td>
            <td>13:03:03 <span> 25-12-2019</span></td>
            <td><i class="fa fa-times" aria-hidden="true"></i>Deac tivate</td>
            <td><i class="icon-delete"></i></td>
          </tr>
          <tr>
            <td><a href="#">Fatima Abdul Rahman Al Najar</a></td>
            <td>156549</td>
            <td>13:03:03 <span> 25-12-2019</span></td>
            <td><i class="fa fa-key" aria-hidden="true"></i> Rest Password</td>
            <td><i class="icon-delete"></i></td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog notify-modal" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="icon-close1"></span>
        </button>
        <i class="icon-delete del-popup"></i>
        <h4>Alert Message</h4>
        <p>Are you Sure You want to Delete the Corporate?</p>
        <!-- <div class="text-areabox">
            <label>Reason</label>
            <textarea class="form-control"></textarea>
            <span>(Max 500 Character Allowed)</span>
  
          </div>  -->
        <a (click)="deleteUser()" class="add-btn">Delete</a>
      </div>

    </div>
  </div>
</div>