<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.AddUser.Home' | translate}}</a></li>
        <li *ngIf="!Edit && !isApprove" class="breadcrumb-item active"> {{'label.AddUser.Add' | translate}} {{role.menuLabel}}</li>
        <li *ngIf="Edit" class="breadcrumb-item active">{{'label.AddUser.Edit' | translate}}  {{role.menuLabel}}</li>
        <li *ngIf="isApprove" class="breadcrumb-item active">Approve User</li>
    </ol>
</div>
<div class="inner-head display-head inner-head2">


    <h2 class="edit-service">
        <a (click)="backToList()" *ngIf="!isApprove" href="javascript:void(0)" class="back-btn">
            <span class="icon-back"></span></a>
        <a (click)="backToList()" *ngIf="isApprove" href="javascript:void(0)" class="back-btn">
            <span class="icon-back"></span></a>
        <span *ngIf="!showNames || isApprove">{{firstName}}</span>
        <span class="serviceName" *ngIf="!showAdd">{{'label.AddUser.AddNewUser' | translate}}</span>

        <button (click)=topEdite() class="edit-toggle"><span *ngIf="!showNames" class="icon-edit"></span></button>
    </h2>


    <div class="active-sec active-sec2">

        <span *ngIf="!defaultTrue">
            <div class="active-btn">{{'label.AddUser.ACTIVE' | translate}} <span class="icon-edit" data-toggle="modal" data-target="#activeModal">  
                
            </span>
        <span *ngIf="opStatus">
                <span class="icon-checkout-previous eror-active">
                    <div class="popup-previous">
                        <div class="updated">
                            <p>{{'label.AddUser.Updated' | translate}} </p>
                            <h6>{{newvalue.opStatus}}</h6>
                        </div>
                        <div class="previous">
                            <p>{{'label.AddUser.Previous' | translate}}</p>
                            <h6>{{oldvalue.opStatus}}</h6>
                        </div>
                    </div>
                </span>
        </span>

    </div>
    </span>
    <span *ngIf="defaultTrue">
            <div class="active-btn active-btn-red">{{'label.AddUser.DEACTIVE' | translate}} <span class="icon-edit" data-toggle="modal" data-target="#activeModal">
            </span>
    <span *ngIf="!opStatus">
                <span class="icon-checkout-previous eror-active">
                    <div class="popup-previous">
                        <div class="updated">
                            <p>{{'label.AddUser.Updated' | translate}}</p>
                            <h6>{{newvalue.opStatus}}</h6>
                        </div>
                        <div class="previous">
                            <p>{{'label.AddUser.Previous' | translate}}</p>
                            <h6>{{oldvalue.opStatus}}</h6>
                        </div>
                    </div>
                </span>
    </span>

</div>

</span>
</div>


</div>

<form [formGroup]="UserTopForm">

    <div class="service-bg show-editdiv show-editdiv2">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="form-group">
                <label>{{'label.AddUser.FirstName' | translate}}</label>
                <input class="form-control" [(ngModel)]="operatorObjs.firstName" formControlName="firstName">

                <div class="error error-position" *ngIf="UserTopForm.controls['firstName'].hasError('required') && UserTopForm.controls['firstName'].touched">
                    {{'error.AddUser.FirstName' | translate}} </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">

            <div class="form-group">
                <label>{{'label.AddUser.LastName' | translate}}</label>
                <input class="form-control" [(ngModel)]="operatorObjs.lastName" formControlName="lastName">

                <div class="error error-position" *ngIf="UserTopForm.controls['lastName'].hasError('required') && UserTopForm.controls['lastName'].touched ">
                    {{'error.AddUser.LastName' | translate}}</div>
            </div>

        </div>

    </div>

</form>


<div class="side-button side-btn-search side-btn-search2" data-toggle="modal" (click)=searchModal()>
    <i data-toggle="tooltip" data-placement="left" data-original-title="Search User" class="icon-search srch-rtat" aria-hidden="true"></i>
</div>

<form [formGroup]="OperatorForm" [class.disabled]="isEditOrUpdate()">



    <div class="form-list">

        <div class="row">
            <div class="col-sm-12 col-md-10 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddUser.UserType' | translate}}</label>
                    <div class="radio-group compaign-radio">
                        <div class="radio-btn" *ngIf="superUser">
                            <input id="radio-1" type="radio" name="userGroupName" value="Super Admin" (click)="showSuperDrop()" formControlName="userGroupName" [(ngModel)]="operatorObj.userGroupName" />
                            <label for="radio-1" class="radio-label">{{'label.AddUser.SuperAdmin' | translate}}</label>
                        </div>
                        <div class="radio-btn" *ngIf="companyUser">
                            <input id="radio-2" type="radio" name="userGroupName" value="Company" (click)="showCompanyDrop()" formControlName="userGroupName" [(ngModel)]="operatorObj.userGroupName" />
                            <label for="radio-2" class="radio-label">{{'label.AddUser.Company' | translate}}</label>
                        </div>
                        <div class="radio-btn" *ngIf="branchUser">
                            <input id="radio-3" type="radio" name="userGroupName" value="Branch" (click)="showBranchDrop()" formControlName="userGroupName" [(ngModel)]="operatorObj.userGroupName" />
                            <label for="radio-3" class="radio-label">{{'label.AddUser.Branch' | translate}}</label>
                        </div>

                    </div>


                    <div class="error error-position error-right" *ngIf="OperatorForm.controls['userGroupName'].hasError('required') && OperatorForm.controls['userGroupName'].touched">
                        {{'error.AddUser.userType' | translate}} </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-6 col-md-5 col-xs-12">
            <div class="form-group">
                <label class="prefered-tgle-label">Is Ldap User</label>
                <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                    <input class='tgl tgl-light' id='display-subscription' type='checkbox' formControlName="isLDAP" [(ngModel)]="operatorObj.isLDAP" >
                    <label class='tgl-btn' for='display-subscription'></label>
                    <!-- <span>{{subscriptionValue}}</span> -->
                </div>
                </div>
                </div>
            </div>
        <div class="row" *ngIf="!companyIdShow">

            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <span *ngIf="companyIde">
                        <label class="eror-active">{{'label.AddUser.Company' | translate}}
                            <span class="icon-checkout-previous">
                                <div class="popup-previous">
                                    <div class="updated">
                                        <p>{{'label.AddUser.Updated' | translate}}</p>
                                        <h6>{{getBranchName(newvalue.companyId)}}</h6>
                                    </div>
                                    <div class="previous">
                                        <p>{{'label.AddUser.Previous' | translate}}</p>
                                        <h6>{{getBranchName(oldvalue.companyId)}}</h6>
                                    </div>
                                </div>
                            </span>
                    </label>
                    </span>
                    <span *ngIf="!companyIde">
                                                                <label>{{'label.AddUser.Company' | translate}}</label>

</span>
                    <p-dropdown (onChange)="basedOnCompanyId($event)" optionLabel="companyName" [options]="listCompany" [(ngModel)]="operatorObj.company" formControlName="companyId" [filter]="true" class="dropdown-user-select"></p-dropdown>



                    <div class="error error-position" *ngIf="OperatorForm.controls['companyId'].hasError('required') && OperatorForm.controls['companyId'].touched ">
                        {{'error.AddUser.CompanyIdrequired' | translate}} </div>
                </div>
            </div>

        </div>

        <div class="row" *ngIf="!branchIdShow">

            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <span *ngIf="branchId">
                        <label class="eror-active">{{'label.AddUser.Branch' | translate}}
                            <span class="icon-checkout-previous">
                                <div class="popup-previous">
                                    <div class="updated">
                                        <p>{{'label.AddUser.Updated' | translate}}</p>
                                        <h6>{{getBranchName(newvalue.branchId)}}</h6>
                                    </div>
                                    <div class="previous">
                                        <p>{{'label.AddUser.Previous' | translate}}</p>
                                        <h6>{{getBranchName(oldvalue.branchId)}}</h6>
                                    </div>
                                </div>
                            </span>
                    </label>
                    </span>
                    <span *ngIf="!branchId">
                                                                <label>{{'label.AddUser.Branch' | translate}}</label>

</span>
                    <p-dropdown optionLabel="branchName" [options]="listBranchs" [(ngModel)]="operatorObj.branch" formControlName="branchId" [filter]="true" class="dropdown-user-select"></p-dropdown>



                    <div class="error error-position" *ngIf="OperatorForm.controls['branchId'].hasError('required') && OperatorForm.controls['branchId'].touched">
                        {{'label.AddUser.Branchrequired' | translate}}</div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12" *ngIf="showNames">
                <div class="form-group">
                    <span *ngIf="opFirstName">
                        <label class="eror-active">{{'label.AddUser.FirstName' | translate}}
                            <span class="icon-checkout-previous">
                                <div class="popup-previous">
                                    <div class="updated">
                                        <p>{{'label.AddUser.Updated' | translate}}</p>
                                        <h6>{{newvalue.opFirstName}}</h6>
                                    </div>
                                    <div class="previous">
                                        <p>{{'label.AddUser.Updated' | translate}}</p>
                                        <h6>{{oldvalue.opFirstName}}</h6>
                                    </div>
                                </div>
                            </span>
                    </label>
                    </span>
                    <span *ngIf="!opFirstName">
                                                                <label>{{'label.AddUser.FirstName' | translate}}</label>

</span>
                    <input type="text" class="form-control" [(ngModel)]="operatorObj.opFirstName" formControlName="opFirstName" id="opFirstName" autocomplete="off" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF/\s/g]","1","16","opFirstName",operatorObj.opFirstName.length)'
                        placeholder="{{'label.AddUser.Sarmed' | translate}}">

                    <div class="error error-position" *ngIf="OperatorForm.controls['opFirstName'].hasError('required') && OperatorForm.controls['opFirstName'].touched">
                        {{'error.AddUser.FirstName' | translate}}  </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12" *ngIf="showNames">
                <div class="form-group">
                    <span *ngIf="opLastName">
                        <label class="eror-active"> {{'label.AddUser.LastName' | translate}}
                            <span class="icon-checkout-previous">
                                <div class="popup-previous">
                                    <div class="updated">
                                        <p>{{'label.AddUser.Updated' | translate}}</p>
                                        <h6>{{newvalue.opLastName}}</h6>
                                    </div>
                                    <div class="previous">
                                        <p>{{'label.AddUser.Previous' | translate}}</p>
                                        <h6>{{oldvalue.opLastName}}</h6>
                                    </div>
                                </div>
                            </span>
                    </label>
                    </span>
                    <span *ngIf="!opLastName">
                                                                <label>{{'label.AddUser.LastName' | translate}}</label>

</span>
                    <input type="text" class="form-control" [(ngModel)]="operatorObj.opLastName" formControlName="opLastName" id="opLastName" autocomplete="off" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","16","opLastName",operatorObj.opLastName.length)'
                        placeholder="{{'label.AddUser.Quwalder' | translate}}">

                    <div class="error error-position" *ngIf="OperatorForm.controls['opLastName'].hasError('required') && OperatorForm.controls['opLastName'].touched">
                        {{'error.AddUser.LastName' | translate}} </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <span *ngIf="opEmailId">
                        <label class="eror-active">Email
                            <span class="icon-checkout-previous">
                                <div class="popup-previous">
                                    <div class="updated">
                                        <p>{{'label.AddUser.Updated' | translate}}</p>
                                        <h6>{{newvalue.opEmailId}}</h6>
                                    </div>
                                    <div class="previous">
                                        <p>{{'label.AddUser.Previous' | translate}}</p>
                                        <h6>{{oldvalue.opEmailId}}</h6>

                                    </div>
                                </div>
                            </span>
                    </label>
                    </span>
                    <span *ngIf="!opEmailId">
                                                                <label>{{'label.AddUser.Email' | translate}}</label>

</span>
                    <input type="text" class="form-control" [(ngModel)]="operatorObj.opEmailId" formControlName="opEmailId" id="opEmailId" (change)="focusOutEmailId($event)" (input)='changeField($event,"/^[^\s@]+@[^\s@]+\.[^\s@]+$/","1","35","opEmailId",operatorObj.opEmailId.length)'>

                    <div *ngIf="f.opEmailId.touched && f.opEmailId.errors" class="invalid-feedback">
                        <div *ngIf="f.opEmailId.errors.required" class="error error-position">{{'error.AddUser.Emailrequired' | translate}}</div>
                        <div *ngIf="f.opEmailId.errors.email" class="error error-position">{{'error.AddUser.ValidEmail' | translate}}</div>
                    </div>
                    <div class="error error-position" *ngIf="OperatorForm.controls['opEmailId'].hasError('alreadyExist')&& OperatorForm.controls['opEmailId'].touched">
                        {{'error.AddUser.ExistEmail' | translate}} </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group phone-mumber">
                    <span *ngIf="opMobileNo">
                        <label class="eror-active">{{'label.AddUser.Phonenumber' | translate}}
                            <span class="icon-checkout-previous">
                                <div class="popup-previous">
                                    <div class="updated">
                                        <p>{{'label.AddUser.Updated' | translate}}</p>
                                        <h6>{{newvalue.opMobileNo}}</h6>
                                    </div>
                                    <div class="previous">
                                        <p>{{'label.AddUser.Previous' | translate}}</p>
                                        <h6>{{oldvalue.opMobileNo}}</h6>
                                    </div>
                                </div>
                            </span>
                    </label>
                    </span>
                    <span *ngIf="!opMobileNo">
                                                                <label>{{'label.AddUser.Phonenumber' | translate}}</label>

</span>

                

                    <ngx-intl-tel-input [cssClass]="'custom'" [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [maxLength]="15" [tooltipField]="TooltipLabel.Name" [separateDialCode]="separateDialCode"
                        [(ngModel)]="operatorObj.opMobileNo"
                      formControlName="opMobileNo" [onlyCountries]="CountryISO"   (change)="focusOutMobile()"  name="phone">
                    </ngx-intl-tel-input>

                    <div class="error error-position" *ngIf="OperatorForm.controls['opMobileNo'].hasError('required') && OperatorForm.controls['opMobileNo'].touched">
                        {{'error.AddUser.Phonerequired' | translate}}  </div>
                    <span *ngIf="pluginVali">
                            <div class="error error-position" *ngIf="OperatorForm.controls['opMobileNo'].hasError('validatePhoneNumber') && OperatorForm.controls['opMobileNo'].touched">
                                {{'error.AddUser.Invalidphone' | translate}}  </div>
                          </span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <span *ngIf="opDesignation ">
                        <label class="eror-active">{{'label.AddUser.Designation' | translate}}
                            <span class="icon-checkout-previous">
                                <div class="popup-previous">
                                    <div class="updated">
                                        <p>{{'label.AddUser.Updated' | translate}}</p>
                                        <h6>{{newvalue.opDesignation}}</h6>
                                    </div>
                                    <div class="previous">
                                        <p>{{'label.AddUser.Previous' | translate}}</p>
                                        <h6>{{oldvalue.opDesignation}}</h6>
                                    </div>
                                </div>
                            </span>
                    </label>
                    </span>
                    <span *ngIf="!opDesignation">
                                                                <label>{{'label.AddUser.Designation' | translate}}</label>

</span>
                    <input type="text" class="form-control" [(ngModel)]="operatorObj.opDesignation" formControlName="opDesignation" id="opDesignation" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","16","opDesignation",operatorObj.opDesignation.length)' placeholder="{{'label.AddUser.Designation' | translate}}">

                    <div class="error error-position" *ngIf="OperatorForm.controls['opDesignation'].hasError('required') && OperatorForm.controls['opDesignation'].touched">
                        {{'error.AddUser.Designationrequired' | translate}}  </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <span *ngIf="departmentId">
                        <label class="eror-active">{{'label.AddUser.Department' | translate}} 
                            <span class="icon-checkout-previous">
                                <div class="popup-previous">
                                    <div class="updated">
                                        <p>{{'label.AddUser.Updated' | translate}} </p>
                                        <h6>{{getDepartmentName(newvalue.departmentId)}}</h6>
                                    </div>
                                    <div class="previous">
                                        <p>{{'label.AddUser.Previous' | translate}}</p>
                                        <h6>{{getDepartmentName(oldvalue.departmentId)}}</h6>
                                    </div>
                                </div>
                            </span>
                    </label>
                    </span>
                    <span *ngIf="!departmentId">
                                                                <label>{{'label.AddUser.Department' | translate}}</label>

</span>
                    
                    <p-dropdown optionLabel="departmentName" [options]="listDepartments" [(ngModel)]="operatorObj.department" formControlName="departmentId" [filter]="true" class="dropdown-user-select"></p-dropdown>

                    <div class="error error-position" *ngIf="OperatorForm.controls['departmentId'].hasError('required') && OperatorForm.controls['departmentId'].touched">
                        {{'error.AddUser.Departmentrequired' | translate}}  </div>
                </div>
            </div>
        </div>










        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddUser.DayLimit' | translate}} </label>
                    <input type="number" class="form-control" [(ngModel)]="operatorObj.dayLimit"
                     formControlName="dayLimit" id="dayLimit" (focusout)="setdayLimit()"
                      (input)='changeField($event,"[^0-9]","1","16","dayLimit",operatorObj.dayLimit.length)'>

                    <div class="error error-position" *ngIf="OperatorForm.controls['dayLimit'].hasError('required') && OperatorForm.controls['dayLimit'].touched">
                        {{'error.AddUser.DayLimitrequired' | translate}} </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddUser.MonthLimit' | translate}} </label>
                    <input type="number" class="form-control" (focusout)="setmonthLimit()" [(ngModel)]="operatorObj.monthLimit" formControlName="monthLimit" id="monthLimit" (input)='changeField($event,"[^0-9]","1","16","monthLimit",operatorObj.monthLimit.length)'>

                    <div class="error error-position" *ngIf="OperatorForm.controls['monthLimit'].hasError('required') && OperatorForm.controls['monthLimit'].touched">
                        {{'error.AddUser.MonthLimitrequired' | translate}}</div>
                </div>
            </div>

        </div>


    </div>
















    <div class="table-list" style="margin-top:0">
        <span *ngIf="selectedGroups">
            <label class="eror-active">{{'label.AddUser.RoleAccess' | translate}}
                <span class="icon-checkout-previous">
                    <div class="popup-previous">
                        <div class="updated">
                            <p>{{'label.AddUser.Updated' | translate}}</p>
                            <h6>{{newvalue.selectedGroups}}</h6>
                        </div>
                        <div class="previous">
                            <p>{{'label.AddUser.Previous' | translate}}</p>
                            <h6>{{oldvalue.selectedGroups}}</h6>
                        </div>
                    </div>
                </span>
        </label>
        </span>
        <h2 *ngIf="!selectedGroups" style="margin-top:0">{{'label.AddUser.RoleAccess' | translate}}</h2>
        <div class="row">
            <div class="col-sm-12 col-md-10">
                <div class="tablemain tablemain-hight0">
                    <div class="tableheader">
                        <table class="table table-checkbox">
                            <thead>
                                <tr [class.disabled]="RoleDisable">

                                    <th width="1%" scope="col">
                                        <div class="checkbox">
                                            <label>
                
                  <input type="checkbox"  [class.active]="this.operatorObj.showSelectGroup"
                  (change)="selectAllGroup();">
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              </label>
                                        </div>
                                    </th>
                                    <th width="75%" scope="col">{{'label.AddUser.Role' | translate}}</th>

                                    <th width="20%" scope="col">
                                        <div class="check-select">
                                            <a *ngIf="selectedAll2" href="javascript:void(0)" [class.active]="this.operatorObj.showSelectGroup" (click)="selectAllGroup()">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>{{'label.AddUser.SelectAll' | translate}}</a>
                                            <a *ngIf="!selectedAll2" href="javascript:void(0)" [class.active]="this.operatorObj.showSelectGroup" (click)="selectAllGroup()">
                                                <i class="fa fa-check-circle" aria-hidden="true"></i>{{'label.AddUser.DeselectAll' | translate}}</a>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tablebody scroll-margin ">
                        <table class="table">
                            <tbody>
                                <tr formArrayName="opGroup" *ngFor="let group of listGroups; let i = index">
                                    <td width="1%" data-th="Select All">
                                        <div class="checkbox">
                                            <label>
        
          <input [class.disabled]="RoleDisable" type="checkbox" [formControlName]="i" id="group_desc" [(ngModel)]="group.isChecked"
          id="theCheckbox-{{i}}" (change)="toggleVisibility(group)" value="{{group.groupId}}">


        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
      </label>
                                        </div>
                                    </td>
                                    <td width="75%" data-th="Role"> <span *ngIf="group.isChecked">
                    <input type="text" id="group_desc" class="form-control alert-success" value="{{group.groupName}}"
                      disabled>
                  </span>
                                        <span *ngIf="!group.isChecked">
                    <input type="text" id="group_desc" class="form-control " value="{{group.groupName}}" disabled>
                  </span></td>
                                    <td width="20%" data-th=""><span class="ok-select" *ngIf="group.isChecked">{{'label.AddUser.Ok' | translate}}</span>
                                        <span class="not-select" *ngIf="!group.isChecked">{{'label.AddUser.NotSelected' | translate}}</span></td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="error" *ngIf="OperatorForm.controls['opGroup'].status=='INVALID' && OperatorForm.controls['opGroup'].touched">
                            {{'error.AddUser.UserRolerequired' | translate}} </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
</form>



<!-- user edit modal -->
<div class="modal fade left-alignmodal" id="activeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog notify-modal modal-medium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddUser.EditStatus' | translate}}
                <button type="button" class="close close12" (click)="CloseModalActive()" aria-label="Close">
          <span aria-hidden="true"><i class="icon-close1"></i></span>
        </button>
            </div>
            <form [formGroup]="ActiveForm">

                <div class="modal-body">
                    <div class="status-list">
                        <div class="status-toggle">
                            <p>{{'label.AddUser.Status' | translate}}</p>
                            


                            <div class="tgl-group tg-mg0 tg-mg-padd">
                                <input formControlName="opStatus" class='tgl tgl-light' (change)="ActiveUpdate()" id='theCheckbox' type='checkbox' [(ngModel)]="operatorObj.opStatus">
                                <label class='tgl-btn' for='theCheckbox'></label>
                                <!-- <span>Active</span> -->
                                <span *ngIf="active">{{'label.AddUser.Active' | translate}}</span>
                                <span *ngIf="!active">{{'label.AddUser.Inactive' | translate}}</span>
                            </div>
                            <div class="text-areabox">
                                <label>{{'label.AddUser.Reason' | translate}}</label>
                                <textarea class="form-control" rows="3" [(ngModel)]="operatorObj.reasons" formControlName="reasons"></textarea>
                                <div class="error error-position error-right" *ngIf="ActiveForm.controls['reasons'].hasError('required') && 
                                ActiveForm.controls['reasons'].touched">{{'error.AddUser.Reasonrequired' | translate}}</div>
                            </div>
                        </div>

                    </div>
                    <br />
                    <input type="submit" class="add-btn" (click)=statusSubmit() [class.disabled]="temp.status == 'new' " value="{{'label.AddUser.Update' | translate}}">

                    
                    <a class="cancel-btn" (click)=cancelActive()><span>{{'label.AddUser.Cancel' | translate}}</span></a>

                    
                </div>
            </form>

        </div>
    </div>
</div>



<!-- search modal -->
<div class="modal fade left-alignmodal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddUser.SearchCustomer' | translate}}
                <button type="button" class="close close12" data-dismiss="modal" aria-label="Close">
       <span class="icon-close1"></span>
      </button>
            </div>
            <div class="modal-body search-inr-csmr">
                <div class="input-group">
                    <input id="user_name" type="text" id="searchTextId" class="form-control" name="name" placeholder="{{'label.AddUser.UserName' | translate}}">
                    <span class="input-group-addon"><i  class="icon-search"></i></span>
                </div>
                <div class="responsive-nt">
                    <h6 class="srch-result"><span>{{listOperator.length}}</span> {{'label.AddUser.Resultfoundfor' | translate}} <span class="user-bold"> " {{'label.AddUser.UserName' | translate}} "</span></h6>

                    <table class="table datatable1">
                        <thead>
                            <tr>
                                <th scope="col" class="column1">
                                    {{'label.AddUser.UserName' | translate}}
                                </th>
                                <th scope="col" class="column2">
                                    {{'label.AddUser.BranchName' | translate}}  
                                </th>
                                <th scope="col" class="column3">
                                    {{'label.AddUser.DepartmentName' | translate}}   
                                </th>
                                <th scope="col" class="column4">
                                    {{'label.AddUser.LastLogin' | translate}}   
                                </th>
                                <th scope="col" class="column5">
                                    {{'label.AddUser.Status' | translate}}    
                                </th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let operator of listOperator">
                                <td class="hover-hand " (click)="gotoDefaultUser(operator)"><a>{{operator.opFirstName}}&nbsp;{{operator.opLastName}}</a>
                                </td>
                                <td>{{getBranchName(operator.branchId)}}</td>
                                <td>{{getDepartmentName(operator.departmentId)}}</td>
                                <td>{{operator.lastLoginTime}}</td>
                                <td>
                                    <p *ngIf="operator.opStatus=='Active'"><i class="fa fa-check"></i>{{'label.AddUser.Active' | translate}}   </p>
                                    <p *ngIf="operator.opStatus=='Inactive'"><i class="fa fa-times"></i>{{'label.AddUser.Inactive' | translate}} </p>
                                </td>


                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>




<div class="button-right" *ngIf="user.userId!=operatorObj.opUserId || user.data.isAdminUser">

    <input [class.disabled]="getAccessRole('isEdit') || RoleDisable" *ngIf="Edit && !isApprove" (click)=Update() type="button" class="add-btn" value="Update" />
    <a (click)=cancel() class="cancel-btn"><span>{{'label.AddUser.Cancel' | translate}}</span></a>
    
    <input *ngIf="!Edit && !isApprove" (click)=Save() type="submit" class="add-btn" value="{{'label.AddUser.Submit' | translate}}" />
    <input *ngIf="isApprove &&(user.userId!=operatorObj.createdBy||user.data.isAdminUser)" (click)="showAprroveorRejecte('approve')" type="submit" class="add-btn" value="{{'label.AddUser.Approve' | translate}}" />
    <input *ngIf="isApprove &&(user.userId!=operatorObj.createdBy||user.data.isAdminUser)" (click)="showAprroveorRejecte('reject')" class="cancel-btn" value="{{'label.AddUser.Reject' | translate}}" />

</div>


<div class="modal fade left-alignmodal" id="userModale" tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel " aria-hidden="true ">
    <div class="modal-dialog notify-modal modal-medium reject-modal-inner" role="document">
        <div class="modal-content ">
            <div class="modal-heading">
                <h5 *ngIf="approve ">{{'label.AddUser.Approve' | translate}}</h5>
                <h5 *ngIf="!approve ">{{'label.AddUser.Reject' | translate}}</h5>
            </div>
            <div class="modal-body ">


                <div *ngIf="approve" class="text-areabox ">
                    <div class="reject-modal-inrcont">
                        <h4>{{'label.AddUser.Areyou' | translate}}</h4>
                    </div>
                </div>

                <div *ngIf="!approve " class="text-areabox ">


                    <div class="reject-modal-inrcont">
                        <div class="form-group">
                            <label for="Rason">{{'label.AddUser.Reason ' | translate}}</label>
                            <textarea [(ngModel)]="operatorObj.reason" #reason id="reason " class="form-control " (input)='approveField($event,"/^[ A-Za-z0-9_@./#&+-]*$/ ","1 ","50 ","reason ")'></textarea>

                            <small class="form-text text-muted "><code>{{50 - reason.value.length}}</code> {{'label.AddUser.of ' | translate}}
                    <code>{{maxIncidentReasonLength}}</code> {{'label.AddUser.charactersleft ' | translate}}</small>

                        </div>

                    </div>



                </div>

                <a (click)="sendOver('approve')" *ngIf="approve" class="add-btn "><span><i class="icon-approve"></i> {{'label.AddUser.Approve' | translate}}</span></a>
                <a (click)="sendOver('reject')" *ngIf="!approve" class="add-btn "><span>{{'label.AddUser.Reject' | translate}}</span></a>
                <a (click)="cancel()" class="cancel-btn"><span>{{'label.AddUser.Cancel' | translate}}</span></a>


            </div>

        </div>

    </div>

</div>