<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.AddServices.Home' | translate}} </a></li>
        <li class="breadcrumb-item active">{{role.menuLabel}}</li>
    </ol>
</div>
<div class="inner-head campadd-head display-head">
    <h2 class="edit-service">
        <a (click)=back() href="javascript:void(0)" class="back-btn">
            <span class="icon-back"></span></a>
        <span *ngIf="!showNames">{{serviceId}} - {{serviceName}}</span>
        <span class="serviceName" *ngIf="!showAdd">{{'label.AddServices.AddNewServices' | translate}}</span>

        <button (click)="topEdite()" class="edit-toggle"><span *ngIf="!showPencil" class="icon-edit"></span></button>
    </h2>

    <!-- <div class="active-sec">
        <div class="active-btn">Active <span class="icon-edit-new" data-toggle="modal" (click)= openModal() ></span>
        </div>
    </div> -->
    <span *ngIf="statusHideInAdd">
    <span *ngIf="defaultTrue">
        <div class="active-sec">
            <div class="active-btn">{{'label.AddServices.Active' | translate}} <span class="icon-edit-new" data-toggle="modal" (click)= openModal() ></span>
</div>
</div>
</span>
<span *ngIf="!defaultTrue">
        <div class="active-sec">
            <div class="active-btn active-btn-red">{{'label.AddServices.Inactive' | translate}} <span class="icon-edit-new" data-toggle="modal" (click)= openModal()></span>
</div>
</div>
</span>
</span>
</div>
<form [formGroup]="ServiceTopForm">

    <div class="service-bg show-editdiv">
        <div class="col-sm-5 col-md-5 col-xs-12">
            <div class="form-group">
                <label>{{'label.AddServices.ServiceID' | translate}}</label>
                <input class="form-control" [(ngModel)]="serviceObj.serviceId" formControlName="serviceId">

                <div class="error error-position" *ngIf="ServiceTopForm.controls['serviceId'].hasError('required') && ServiceTopForm.controls['serviceId'].touched">
                    {{'error.AddServices.ServiceID' | translate}}   
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-md-7 col-xs-12">
            <div class="form-group">
                <label>{{'label.AddServices.ServiceName' | translate}}</label>
                <input class="form-control" [(ngModel)]="serviceObj.serviceName" formControlName="serviceName" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF/\s/g]","1","200","serviceName",serviceObj.serviceName.length)'>

                <div class="error error-position" *ngIf="ServiceTopForm.controls['serviceName'].hasError('required') && ServiceTopForm.controls['serviceName'].touched">
                    {{'error.AddServices.ServiceName' | translate}} 
                </div>
            </div>
        </div>
        <!-- <div class="button-right" class="edit-btntoggle">
        <a class="add-btn" (click)=topEditSave()> Save</a>
        <a class="cancel-btn toggle-cancel">cancel</a>

    </div> -->
    </div>
</form>

<form [formGroup]="ServiceForm" [class.disabled]="isEditOrUpdate()">
    <div class="form-list form-list2">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddServices.PreferedChannel' | translate}} <span class="required">*</span></label>
                    <div class="radio-group compaign-radio">
                        <div class="radio-btn" *ngFor="let stat of listChannelId let i=index;">
                            <input formControlName="channelId" id="radio-{{i}}" type="radio" [(ngModel)]="serviceObj.channelId" value="{{stat.channelId}}" (change)="channelChange($event)" />
                            <label for="radio-{{i}}" class="radio-label">{{stat.channelDesc}}</label>
                            <span class="i-bg"></span>
                        </div>

                    </div>
                    <div class="error error-position error-right" *ngIf="ServiceForm.controls['channelId'].hasError('required') && ServiceForm.controls['channelId'].touched">
                        {{'error.AddServices.Channel' | translate}}    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12" *ngIf="!notiDesc">
                <div class="form-group">
                    <label>{{'label.AddServices.ServiceName' | translate}}</label>
                    <input type="text" class="form-control" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF/\s/g]","1","200","notiDesc",serviceObj.notiDesc.length)' [(ngModel)]="serviceObj.notiDesc" formControlName="notiDesc" id="notiDesc" autocomplete="off">

                    <div class="error error-position" *ngIf="ServiceForm.controls['notiDesc'].hasError('required') && ServiceForm.controls['notiDesc'].touched">
                        {{'error.AddServices.ServiceName' | translate}}</div>
                    <div class="error error-position" *ngIf="ServiceForm.get('notiDesc').hasError('maxlength') && ServiceForm.get('notiDesc').touched">
                        {{'error.AddServices.ServiceName200' | translate}} 
                    </div>
                </div>
            </div>

        </div>

       

     

        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12" *ngIf="!notiId">
                <div class="form-group">
                    <label>{{'label.AddServices.ServiceId' | translate}}</label>
                    <input type="text" class="form-control" (input)='changeField($event,"[^0-9]","1","15","notiId",serviceObj.notiId.length)' [(ngModel)]="serviceObj.notiId" formControlName="notiId" id="notiId" autocomplete="off">

                    <div class="error error-position" *ngIf="ServiceForm.controls['notiId'].hasError('required') && ServiceForm.controls['notiId'].touched">
                        {{'error.AddServices.Serviceid' | translate}} </div>
                    <div class="error error-position" *ngIf="ServiceForm.get('notiId').hasError('maxlength') && ServiceForm.get('notiId').touched">
                        {{'error.AddServices.Serviceid15' | translate}}   
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddServices.SenderId' | translate}}</label>
                    <div class="styled-select">
                        <select [(ngModel)]="serviceObj.senderId" formControlName="senderId" id="senderId">
              <option value="undefined" selected>{{'label.AddServices.SelectSenderId' | translate}} </option>
              <option *ngFor="let list of listSenderId; let i=index" value="{{list.senderId}}">{{list.senderDesc}}
              </option>
            </select>
                        <span class="fa fa-sort-desc"></span>
                    </div>
                    <div class="error error-position" *ngIf="ServiceForm.controls['senderId'].hasError('required') && ServiceForm.controls['senderId'].touched">
                        {{'error.AddServices.SelectSenderId' | translate}}     </div>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddServices.Category' | translate}}</label>
                    <div class="styled-select">
                        <select [(ngModel)]="serviceObj.categoryId" formControlName="categoryId" id="categoryId" (change)="EnableFields($event)">
                            <option value="undefined" selected> Select Category</option>
                            <option *ngFor="let listCategoryId of listCategoryId; let i=index "
                                value="{{listCategoryId.categoryId}}">
                                {{listCategoryId.categoryName}}</option>
                        </select>
                        <span class="fa fa-sort-desc"></span>
                    </div>

                    <div class="error error-position" *ngIf="ServiceForm.controls['categoryId'].hasError('required') && ServiceForm.controls['categoryId'].touched">
                        {{'error.AddServices.Category' | translate}}  </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddServices.Operator' | translate}} </label>
                    <div class="styled-select">
                        <select formControlName="smsCid" [(ngModel)]="serviceObj.smsCid" id="smsCid">
                            <option value="undefined" selected disabled>Select Operator</option>
                            <option *ngFor="let listOperatorId of listOperatorId; let i=index "
                                value="{{listOperatorId.operatorId}}">
                                {{listOperatorId.operatorDesc}}</option>
                        </select>
                        <span class="fa fa-sort-desc"></span>
                    </div>
                    <div class="error error-position" *ngIf="ServiceForm.controls['smsCid'].hasError('required') && ServiceForm.controls['smsCid'].touched">
                        {{'error.AddServices.Operator' | translate}}
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddServices.PriorityLevel' | translate}}</label>
                    <div class="styled-select">
                        <select formControlName="priorityId" [(ngModel)]="serviceObj.priorityId" id="priorityId">
                            <option value="undefined" selected disabled>{{'label.AddServices.SelectPriorityLevel' | translate}}</option>
                            <option *ngFor="let listPriorityId of listPriorityId; let i=index "
                                value="{{listPriorityId.priorityNumber}}">
                                {{listPriorityId.priorityNumber}} -
                                {{listPriorityId.description}}</option>
                        </select>
                        <span class="fa fa-sort-desc"></span>
                    </div>
                    <div class="error error-position" *ngIf="ServiceForm.controls['priorityId'].hasError('required') && ServiceForm.controls['priorityId'].touched">
                        {{'error.AddServices.PriorityLevel' | translate}}   
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddServices.PromoID' | translate}}<span>{{'label.AddServices.Optional' | translate}}</span></label>
               
    
                    <p-multiSelect optionLabel="promoName" [options]="listPromo" [(ngModel)]="serviceObj.promoId" formControlName="promoIde" [filter]="true">
                        <ng-template let-selectedCars pTemplate="selectedItems">
                            <span *ngFor="let selectedCar of selectedCars">{{selectedCar.promoName}}</span>
                            <!-- <span class="multi-last" *ngIf="serviceObj.promoId.length>=3"> {{serviceObj.promoId.length}}</span> -->
                        </ng-template>
                    </p-multiSelect>
                    <div class="error error-position" *ngIf="ServiceForm.controls['promoIde'].hasError('required') && ServiceForm.controls['promoIde'].touched">
                        Promo id is required  {{'error.AddServices.PromoID' | translate}}  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddServices.TransactionCode' | translate}} </label>
                    <input type="text" class="form-control" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","200","tranCode",serviceObj.tranCode.length)' [(ngModel)]="serviceObj.tranCode" formControlName="tranCode" id="tranCode" autocomplete="off">
                    <div class="error error-position" *ngIf="ServiceForm.controls['tranCode'].hasError('required') && ServiceForm.controls['tranCode'].touched">
                        {{'error.AddServices.TransactionCode' | translate}} </div>
                    <div class="error error-position" *ngIf="ServiceForm.get('tranCode').hasError('maxlength') && ServiceForm.get('tranCode').touched">
                        {{'error.AddServices.TransactionCode200' | translate}}    
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddServices.TransactionMenemonic' | translate}} <span>{{'label.AddServices.Optional' | translate}}</span></label>
                    <input type="text" class="form-control" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","200","txnMnemonic",serviceObj.txnMnemonic.length)' [(ngModel)]="serviceObj.txnMnemonic" formControlName="txnMnemonic" id="txnMnemonic" autocomplete="off">

                    <div class="error error-position" *ngIf="ServiceForm.controls['txnMnemonic'].hasError('required') && ServiceForm.controls['txnMnemonic'].touched">
                        {{'error.AddServices.TransactionMenemonic' | translate}}    </div>
                    <div class="error error-position" *ngIf="ServiceForm.get('txnMnemonic').hasError('maxlength') && ServiceForm.get('txnMnemonic').touched">
                        {{'error.AddServices.TransactionMenemonic200' | translate}}   
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12" *ngIf="mobileApp">
                <div class="form-group">
                    <label>{{'label.AddServices.MobileAppID' | translate}} </label>
               
    
                    <p-multiSelect optionLabel="mobileName" [options]="listmobileApp" [(ngModel)]="serviceObj.mobileAppId" formControlName="mobileAppId" [filter]="true">
                        <ng-template let-selectedCars pTemplate="selectedItems">
                            <span *ngFor="let selectedCar of selectedCars">{{selectedCar.mobileName}}</span>
                        </ng-template>
                    </p-multiSelect>
                    <div class="error error-position" *ngIf="ServiceForm.controls['mobileAppId'].hasError('required') && ServiceForm.controls['mobileAppId'].touched">
                        {{'error.AddServices.MobileAppID' | translate}} </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label class="prefered-tgle-label">{{'label.AddServices.Subscription' | translate}}</label>
                    <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                        <input class='tgl tgl-light' id='display-subscription' type='checkbox' formControlName="subscription" [(ngModel)]="serviceObj.subscription" (click)="Subscription()">
                        <label class='tgl-btn' for='display-subscription'></label>
                        <!-- <span>{{subscriptionValue}}</span> -->
                    </div>
                    <div class="error error-position" *ngIf="ServiceForm.controls['subscription'].hasError('required') && ServiceForm.controls['subscription'].touched">
                        {{'error.AddServices.Subscription' | translate}}  
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label class="prefered-tgle-label">{{'label.AddServices.Sensitive' | translate}} </label>
                    <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                        <input class='tgl tgl-light' id='display-otpMaskingFlag' type='checkbox' formControlName="otpMaskingFlag" [(ngModel)]="serviceObj.otpMaskingFlag" (click)="Subscription()">
                        <label class='tgl-btn' for='display-otpMaskingFlag'></label>
                        <!-- <span>{{subscriptionValue}}</span> -->
                    </div>
                    <div class="error error-position" *ngIf="ServiceForm.controls['otpMaskingFlag'].hasError('required') && ServiceForm.controls['otpMaskingFlag'].touched">
                        {{'error.AddServices.Sensitive' | translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="EnableBlockTime">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label class="prefered-tgle-label">{{'label.AddServices.ValidateBlock' | translate}}</label>
                    <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                        <input class='tgl tgl-light' id='display-validateBlockTime' type='checkbox' formControlName="validateBlockTime" [(ngModel)]="serviceObj.validateBlockTime" (click)="Subscription()">
                        <label class='tgl-btn' for='display-validateBlockTime'></label>
                        <!-- <span>{{subscriptionValue}}</span> -->
                    </div>
                    <div class="error error-position" *ngIf="ServiceForm.controls['validateBlockTime'].hasError('required') && ServiceForm.controls['validateBlockTime'].touched">
                        {{'error.AddServices.ValidateBlock' | translate}}   
                    </div>
                </div>
            </div>

        </div>

        <div class="table-list" *ngIf="EnableLimit">
            <h2>{{'label.AddServices.LimitProperties' | translate}}  </h2>
            <div class="form-list">
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label>{{'label.AddServices.Limit' | translate}}</label>
                            <input type="text" class="form-control" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","50","limitAmount",serviceObj.limitAmount.length)' [(ngModel)]="serviceObj.limitAmount" formControlName="limitAmount" id="limitAmount" autocomplete="off">

                            <div class="error error-position" *ngIf="ServiceForm.controls['limitAmount'].hasError('required') && ServiceForm.controls['limitAmount'].touched">
                                {{'error.AddServices.Limit' | translate}}  </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label class="prefered-tgle-label">{{'label.AddServices.Greaterlimit' | translate}}</label>
                            <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                                <input class='tgl tgl-light' id='display-greaterLimit' type='checkbox' formControlName="greaterLimit" [(ngModel)]="serviceObj.greaterLimit" (click)="Subscription()">
                                <label class='tgl-btn' for='display-greaterLimit'></label>
                                <!-- <span>{{subscriptionValue}}</span> -->
                            </div>

                            <div class="error error-position error-right" *ngIf="ServiceForm.controls['greaterLimit'].hasError('required') && ServiceForm.controls['greaterLimit'].touched">
                                {{'error.AddServices.Greaterlimit' | translate}}   </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="table-list" *ngIf="EnablePull">
            <h2>{{'label.AddServices.PullProperties' | translate}}   </h2>
            <div class="form-list">
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label>{{'label.AddServices.MinParam' | translate}} <span>{{'label.AddServices.Optional1' | translate}}</span></label>
                            <input type="text" class="form-control" (input)='changeField($event,"[^0-9]","1","15","minParam",serviceObj.minParam.length)' [(ngModel)]="serviceObj.minParam" formControlName="minParam" id="minParam" autocomplete="off">

                            <div class="error error-position" *ngIf="ServiceForm.controls['minParam'].hasError('required') && ServiceForm.controls['minParam'].touched">
                                {{'error.AddServices.Minparam' | translate}}   </div>
                            <div class="error error-position" *ngIf="ServiceForm.get('minParam').hasError('maxlength') && ServiceForm.get('minParam').touched">
                                {{'error.AddServices.Minparam15' | translate}}       
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label>{{'label.AddServices.MaxParam' | translate}} <span>{{'label.AddServices.Optional2' | translate}}</span></label>
                            <input type="text" class="form-control" (input)='changeField($event,"[^0-9]","1","15","maxParam",serviceObj.maxParam.length)' [(ngModel)]="serviceObj.maxParam" formControlName="maxParam" id="maxParam">

                            <div class="error error-position" *ngIf="ServiceForm.controls['maxParam'].hasError('required') && ServiceForm.controls['maxParam'].touched">
                                {{'error.AddServices.MaxParam' | translate}}      </div>
                            <div class="error error-position" *ngIf="ServiceForm.get('maxParam').hasError('maxlength') && ServiceForm.get('maxParam').touched">
                                {{'error.AddServices.Manparam15' | translate}}    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label>{{'label.AddServices.PullType' | translate}}  <span>{{'label.AddServices.Optional3' | translate}}</span></label>
                            <input type="text" class="form-control" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","15","pullType",serviceObj.pullType.length)' [(ngModel)]="serviceObj.pullType" formControlName="pullType" id="pullType" autocomplete="off">

                            <div class="error error-position" *ngIf="ServiceForm.controls['pullType'].hasError('required') && ServiceForm.controls['pullType'].touched">
                                {{'error.AddServices.PullType' | translate}}</div>
                            <div class="error error-position" *ngIf="ServiceForm.get('pullType').hasError('maxlength') && ServiceForm.get('pullType').touched">
                                {{'error.AddServices.PullType5' | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label>{{'label.AddServices.serivceUrl' | translate}}  </label>
                            <input type="text" class="form-control" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","15","serviceUrl",serviceObj.serviceUrl.length)' [(ngModel)]="serviceObj.serviceUrl" formControlName="serviceUrl" id="serviceUrl" autocomplete="off">

                            <div class="error error-position" *ngIf="ServiceForm.controls['serviceUrl'].hasError('required') && ServiceForm.controls['serviceUrl'].touched">
                                {{'error.AddServices.PullType' | translate}}</div>
                            <div class="error error-position" *ngIf="ServiceForm.get('serviceUrl').hasError('maxlength') && ServiceForm.get('serviceUrl').touched">
                                {{'error.AddServices.PullType5' | translate}}
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label>{{'label.AddServices.Keyword' | translate}}</label>
                            <input type="text" class="form-control" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","15","keyword",serviceObj.keyword.length)' [(ngModel)]="serviceObj.keyword" formControlName="keyword" id="keyword">

                            <div class="error error-position" *ngIf="ServiceForm.controls['keyword'].hasError('required') && ServiceForm.controls['keyword'].touched">
                                {{'error.AddServices.Keyword' | translate}}</div> -->
                            <!-- <div class="error error-position" *ngIf="ServiceForm.get('keyword').hasError('maxlength') && ServiceForm.get('keyword').touched">
                                {{'error.AddServices.Servicecode10' | translate}}   
                            </div> -->
                        <!-- </div>
                    </div> -->
                </div>
                
                <div class="push-nodiadd" *ngIf="selectedChannel.isPush">
                <div class="page-title">
                    <h2>{{'label.AddServices.Keyword' | translate}}</h2>
                </div>

                <div class="row" formArrayName="keyword" >
                    <div class="col-sm-12 col-md-10 col-xs-12">
                        <div class="button-orange">
                            <a href="javascript:void(0)" (click)="addKeyword()">{{'label.AddCompany.AddMore' | translate}}<span
                                                                                class="icon-plus"></span></a>
                        </div>
                    </div>
                    <div class="bggray-input col-md-10 col-xs-12 col-sm-12"  *ngFor="let keyword of ServiceForm['controls'].keyword['controls']; let i = index" formGroupName="{{i}}">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>{{'label.AddServices.Language' | translate}} <span class="required">*</span></label>
                            <div class="styled-select">
        
                                <select formControlName="Language"  (change)="changeLanguage($event)"
                                    id="Language">
                                    <option value="" selected disabled>{{'label.AddServices.Language' | translate}}</option>
        
                                    <option *ngFor="let listLanguageId of listLanguageId; let i=index"
                                       value="{{listLanguageId.langId}}">{{listLanguageId.langDesc}}</option>
        
                                </select>
                                <span class="fa fa-sort-desc"></span>
                            </div>

                            <div class="error error-position" *ngIf="keyword.controls['Language'].hasError('required') && keyword.controls['Language'].touched">
                                {{'error.AddServices.Language' | translate}}  </div>
                        
        
                
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label>{{'label.AddServices.Keyword' | translate}}</label>
                            <input type="text" class="form-control"   formControlName="keyword" id="keyword">
                            <div class="error error-position" *ngIf="keyword.controls['keyword'].hasError('required') && keyword.controls['keyword'].touched">
                                {{'error.AddServices.Keyword' | translate}}   </div>


                  

                           
                           
                        </div>
                    </div>
                    <button class="del-input" *ngIf="Keywords.length>=2" (click)="deleteKeyword(i)"><i
                        class="icon-delete"></i></button>
                </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label class="prefered-tgle-label">{{'label.AddServices.Fin-Txn' | translate}} <span>{{'label.AddServices.Optional' | translate}}</span></label>
                            <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                                <input class='tgl tgl-light' id='display-finTxn' type='checkbox' formControlName="finTxn" [(ngModel)]="serviceObj.finTxn" (click)="Subscription()">
                                <label class='tgl-btn' for='display-finTxn'></label>
                                <!-- <span>{{subscriptionValue}}</span> -->
                            </div>
                            <div class="error error-position" *ngIf="ServiceForm.controls['finTxn'].hasError('required') && ServiceForm.controls['finTxn'].touched">
                                {{'error.AddServices.Fin-Txn' | translate}}  </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label class="prefered-tgle-label">{{'label.AddServices.VerifyAccount' | translate}}  <span>{{'label.AddServices.Optional' | translate}}</span></label>
                            <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                                <input class='tgl tgl-light' id='display-validateCustomerAccount' type='checkbox' formControlName="validateCustomerAccount" [(ngModel)]="serviceObj.validateCustomerAccount" (click)="Subscription()">
                                <label class='tgl-btn' for='display-validateCustomerAccount'></label>
                                <!-- <span>{{subscriptionValue}}</span> -->
                            </div>

                            <div class="error error-position" *ngIf="ServiceForm.controls['validateCustomerAccount'].hasError('required') && ServiceForm.controls['validateCustomerAccount'].touched">
                                {{'error.AddServices.VerifyAccount' | translate}}    </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label class="prefered-tgle-label">{{'label.AddServices.MultiRequest' | translate}}  <span>{{'label.AddServices.Optional' | translate}}</span></label>
                            <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                                <input class='tgl tgl-light' id='display-multiRequest' type='checkbox' formControlName="multiRequest" [(ngModel)]="serviceObj.multiRequest" (click)="Subscription()">
                                <label class='tgl-btn' for='display-multiRequest'></label>
                                <!-- <span>{{subscriptionValue}}</span> -->
                            </div>

                            <div class="error error-position" *ngIf="ServiceForm.controls['multiRequest'].hasError('required') && ServiceForm.controls['multiRequest'].touched">
                                {{'error.AddServices.MultiRequest' | translate}}    </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label class="prefered-tgle-label">{{'label.AddServices.MultiReply' | translate}} <span>{{'label.AddServices.Optional' | translate}}</span></label>
                            <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                                <input class='tgl tgl-light' id='display-multiReply' type='checkbox' formControlName="multiReply" [(ngModel)]="serviceObj.multiReply" (click)="Subscription()">
                                <label class='tgl-btn' for='display-multiReply'></label>
                                <!-- <span>{{subscriptionValue}}</span> -->
                            </div>

                            <div class="error error-position" *ngIf="ServiceForm.controls['multiReply'].hasError('required') && ServiceForm.controls['multiReply'].touched">
                                {{'error.AddServices.MultiReply' | translate}} </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label class="prefered-tgle-label">{{'label.AddServices.Validatecustomer' | translate}} <span>{{'label.AddServices.Optional' | translate}}</span></label>
                            <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                                <input class='tgl tgl-light' id='display-validateCustomer' type='checkbox' formControlName="validateCustomer" [(ngModel)]="serviceObj.validateCustomer" (click)="Subscription()">
                                <label class='tgl-btn' for='display-validateCustomer'></label>
                                <!-- <span>{{subscriptionValue}}</span> -->
                            </div>

                            <div class="error error-position" *ngIf="ServiceForm.controls['validateCustomer'].hasError('required') && ServiceForm.controls['validateCustomer'].touched">
                                {{'error.AddServices.Validatecustomer' | translate}}  </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <div class="form-group">
                            <label class="prefered-tgle-label">{{'label.AddServices.Confirm' | translate}}   </label>
                            <div class="tgl-group tg-mg0 tg-mg-padd" let i="index">
                                <input class='tgl tgl-light' id='display-confirmKeyReq' type='checkbox' formControlName="confirmKeyReq" [(ngModel)]="serviceObj.confirmKeyReq" (click)="Subscription()">
                                <label class='tgl-btn' for='display-confirmKeyReq'></label>
                                <!-- <span>{{subscriptionValue}}</span> -->
                            </div>

                            <div class="error error-position error-right" *ngIf="ServiceForm.controls['confirmKeyReq'].hasError('required') && ServiceForm.controls['confirmKeyReq'].touched">
                                {{'error.AddServices.Confirm' | translate}}     </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12 hidden">
                <div class="form-group">
                    <label>{{'label.AddServices.Id' | translate}}</label>
                    <input type="text" class="form-control" [(ngModel)]="serviceObj.id" formControlName="id" id="id">

                    <div class="error error-position" *ngIf="ServiceForm.controls['id'].hasError('required') && ServiceForm.controls['id'].touched">
                        {{'error.AddServices.Id' | translate}}    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<div class="form-list" *ngIf="temp.status=='approveOrReject'">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-xs-12">
            <div class="form-group">
                <label>{{'label.AddServices.Reason' | translate}}</label>
                <textarea placeholder="Enter Reason" type="text" class="form-control" [(ngModel)]="serviceObj.reason" id="reason" autocomplete="off" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","500","reason",serviceObj.reason.length)'></textarea>
                <div class="error error-position" *ngIf="errReasonMsg">
                    {{'error.AddServices.Enter' | translate}}
                    </div>

            </div>


        </div>
    </div>
</div>
<div class="modal fade left-alignmodal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog notify-modal modal-medium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddServices.EditStatus' | translate}}
                <button type="button" class="close close12" data-dismiss="modal" aria-label="Close">
                  <span class="icon-close1"></span>
                </button>
            </div>
            <form [formGroup]="isActiveForm">

                <div class="modal-body">
                    <div class="status-list">
                        <div class="status-toggle">
                            <p>{{'label.AddServices.Status' | translate}}</p>
                            <div class="tgl-group" let i="index">
                                <input class='tgl tgl-light' type='checkbox' id='display-isActiveTop' formControlName="isActive" [(ngModel)]="serviceObj.isActive">
                                <label class='tgl-btn' for="display-isActiveTop"></label>
                                <!-- <span>Active</span> -->
                                <span *ngIf="active">{{'label.AddServices.Active1' | translate}}</span>
                                <span *ngIf="!active">{{'label.AddServices.Inactive2' | translate}}</span>
                            </div>
                        </div>

                        <div class="text-areabox">
                            <label>{{'label.AddServices.Reason1' | translate}}</label>
                            <textarea class="form-control" [(ngModel)]="serviceObj.reasons" formControlName="reasons" id="reasons"></textarea>

                            <div class="error error-position" *ngIf="isActiveForm.controls['reasons'].hasError('required') && isActiveForm.controls['reasons'].touched">
                                {{'error.AddServices.Reasonrequired' | translate}}</div>
                        </div>


                    </div>
                    <br />
                    <a [class.disabled]="getAccessRole('isEdit')" class="add-btn" (click)=ActiveUpdate() type="submit"><span>{{'label.AddServices.Update' | translate}}</span></a>
                    <a class="cancel-btn" (click)=closeModal()><span>{{'label.AddServices.Cancel' | translate}}</span></a>

                </div>
            </form>

        </div>
    </div>
</div>
<div class="button-right">

    <input [class.disabled]="getAccessRole('isEdit')" *ngIf="temp.status=='edit'" (click)=Update() type="submit" class="add-btn" value="{{'label.AddServices.Update' | translate}}" />
    <input [class.disabled]="getAccessRole('isAdd')" *ngIf="temp.status=='new' || temp.status=='draft'||temp.status=='reopen'" (click)=Submit() type="submit" class="add-btn" value="{{'label.AddServices.Submit' | translate}}" />
    <input [class.disabled]="getAccessRole('isAdd')" *ngIf="temp.status=='new'|| temp.status=='draft'||temp.status=='reopen'" (click)=Draft() type="submit" class="add-btn" value="{{'label.AddServices.Save' | translate}}" />
    <input *ngIf="temp.status=='new'|| temp.status=='draft'||temp.status=='reopen'|| temp.status=='edit'
    || temp.status=='approveOrReject'" (click)=back() type="submit" class="cancel-btn" value="Cancel" />
    <input *ngIf="temp.status=='approveOrReject' &&(user.userId!=serviceObj.createdBy||user.data.isAdminUser)" (click)="approve('approve')" type="submit" class="add-btn" value="{{'label.AddServices.Approve' | translate}}"  />
    <input *ngIf="temp.status=='approveOrReject' &&(user.userId!=serviceObj.createdBy||user.data.isAdminUser)" (click)="approve('reject')" type="submit" class="cancel-btn" value="{{'label.AddServices.Reject' | translate}}" />
    <input *ngIf="temp.status=='approveOrReject' &&(user.userId!=serviceObj.createdBy||user.data.isAdminUser)" (click)="approve('reopen')" type="submit" class="cancel-btn" value="{{'label.AddServices.Return' | translate}}" />


    <!-- <a href="#" class="add-btn">ADD</a> -->
</div>
<!-- <div class="button-right">
    
        <input [class.disabled]="getAccessRole('isEdit')" *ngIf="Edit" (click)=Update() type="submit" class="add-btn" value="Update" />
        <input *ngIf="!Edit" (click)=Save() type="submit" class="add-btn" value="ADD" />
        <a (click)=back() class="cancel-btn">cancel</a>
      
    </div> -->