<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.ApproveCustomer.Home' | translate}}</a></li>
        <li class="breadcrumb-item active">{{role.menuLabel}}</li>
    </ol>
</div>
<div class="inner-head">
    <h2>{{role.menuLabel}}</h2>
</div>
<div class="tabs-list">
    <ul class="nav nav-tabs">
        <li class="active" (click)=singleClick(1)>
            <a data-toggle="tab" href="#tab1">
                <span >{{'label.ApproveCustomer.CustomerRegistrationRequest' | translate}}</span> <span >{{CustomerReg}}</span>
            </a>
        </li>
        <li (click)=singleClick(2)>
            <a data-toggle="tab" href="#tab1">
                <span class="csmr-unsbr-wdth">{{'label.ApproveCustomer.CustomerUpdateRequest' | translate}}</span> <span  >{{CustomerUpdate}}</span>
            </a>
        </li>
        <li (click)=singleClick(3)>
            <a data-toggle="tab" href="#tab1">
                <span>{{'label.ApproveCustomer.CustomerActivate' | translate}}</span> <span>{{CustomerActive}}</span>
            </a>
        </li>
        <li (click)=singleClick(4)>
            <a data-toggle="tab" href="#tab1">
                <span class="sub-wdth">{{'label.ApproveCustomer.CustomerUnsubscribe' | translate}}</span> <span>{{customerSub}}</span>
            </a>
        </li>
       
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">
            <!-- <div class="search-input hidden-xs">
                <input type="text" placeholder="Search" [(ngModel)]="reqObj.searchText" (input)="changeSearch()">
                <span class="icon-search"></span>
                <span class="icon-close1 closesearch"></span>
            </div> -->
            <div class="responsive-nt">
                <div class="tablemain tablemain-hight0 tablemain-approve-csmr">
                    <div class="tableheader">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="column1"> {{'label.ApproveCustomer.CustomerNumber' | translate}}</th>
                                    <th scope="col" class="column2">{{'label.ApproveCustomer.Name' | translate}} </th>
                                    <th scope="col" class="column3">{{'label.ApproveCustomer.Mobile' | translate}}</th>
                                    <th scope="col" class="column4">{{'label.ApproveCustomer.Email' | translate}}</th>
                                    <!-- <th scope="col" class="column5">Request Type</th> -->
                                    <th scope="col" class="column5">{{'label.ApproveCustomer.Actions' | translate}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tablebody scroll-margins">
                        <table class="table">
                            <tbody>
                                <tr *ngFor ="let request of listCustomer">
                                    <td class="hover-hand column1 ellipsis"  data-th="Name" (click)="gotoCustomer(request)">
                                        <a title="{{request.customerNumber}}" data-toggle="tooltip">{{request.customerNumber}}</a>
                                    </td>
                                    <td class="column2 ellipsis" data-th="Mobile">
                                        <a data-toggle="tooltip"  title="{{request.firstName}}">{{request.firstName}}</a>  
                                    </td>
                                    <td class="column3 ellipsis" data-th="Email">
                                        <a data-toggle="tooltip" title="{{request.mobileNo}}">{{request.mobileNo}}</a>  
                                    </td>
                                    <td class="column4" data-th="Request Type">
                                        {{request.emailID}}
                                    </td>
                                    <!-- <td class="column5" data-th="Request Type">
                                        {{request.requestType}}
                                    </td> -->
                                    <td class="column5 actons-align-center" data-th="Actions">
                                        <div class="actions-group" [class.disabled]="getAccessRole('isChecker')">
                                            <a class="approve-btn"  (click)="showAprroveorRejecte('approve', request)"><span><i class="icon-approve"></i>
                                                
                                                {{'label.ApproveCustomer.Approve' | translate}}</span></a>
                                            <span data-toggle="modal"  (click)="showAprroveorRejecte('reject', request)">
                                              <i title="" data-toggle="tooltip" data-placement="left" class="icon-reject" data-original-title="Reject"></i>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            
                   
                           
                

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
 

    </div>
</div>




<div class="modal fade" id="approveModale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
                <i class="fa fa-bell-o"></i>
                <h4> {{'label.ApproveCustomer.AlertMessage' | translate}}</h4>
                <p> {{'label.ApproveCustomer.Areyou' | translate}}</p>
        

                <!-- <a (click)="send()" class="add-btn"><span>Approve</span></a> -->
                <a (click)="sendOver('approve')" *ngIf="approve" class="add-btn "><span> {{'label.ApproveCustomer.Approve' | translate}}</span></a>

             

            </div>

        </div>
    </div>
</div>



<div class="modal fade left-alignmodal" id="userModale" tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel " aria-hidden="true ">
    <div class="modal-dialog notify-modal modal-medium reject-modal-inner" role="document">
            <div class="modal-content ">
                <div class="modal-heading">
                    <h5 *ngIf="approve ">{{'label.ApproveCustomer.Approve' | translate}}</h5>
                    <h5 *ngIf="!approve ">{{'label.ApproveCustomer.Reject' | translate}}</h5>
                </div>
                <div class="modal-body ">
        

                    <div *ngIf="approve" class="text-areabox ">
                        <div class="reject-modal-inrcont">
                                <h4>{{'label.ApproveCustomer.Areyou1' | translate}}</h4>
                        </div>
                    </div>

                    <div *ngIf="!approve " class="text-areabox ">


                        <div class="reject-modal-inrcont">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="border-spacing">
                                        <h6>{{'label.ApproveCustomer.Name' | translate}}</h6>
                                        <h6 class="name-cont">{{customerObj.firstName}}</h6>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="border-spacing">
                                        <h6>{{'label.ApproveCustomer.Email' | translate}}</h6>
                                        <h6 class="name-cont">{{customerObj.emailID}}</h6>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="border-spacing">
                                        <h6>{{'label.ApproveCustomer.Mobile' | translate}}</h6>
                                        <h6 class="name-cont">{{customerObj.mobileNo}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="req-detail">
                                <h6>{{'label.ApproveCustomer.RequestType' | translate}}</h6>
                                <h6 class="name-cont">{{customerObj.requestType}} </h6>
                            </div>
                            <div class="form-group">
                                <label for="Rason">{{'label.ApproveCustomer.Reason' | translate}}</label>
                                <textarea [(ngModel)]="customerObj.reason"  #reason id="reason " class="form-control " (input)='approveField($event,"/^[ A-Za-z0-9_@./#&+-]*$/ ","1 ","50 ","reason ")'></textarea>

                                <small class="form-text text-muted "><code>{{50 - reason.value.length}}</code>
                                    {{'label.ApproveCustomer.of' | translate}} 
                    <code>{{maxIncidentReasonLength}}</code> {{'label.ApproveCustomer.charactersleft' | translate}}</small>
                          
                    </div>
                          
                        </div>



                    </div>

                    <a (click)="sendOver('approve')" *ngIf="approve" class="add-btn "><span><i class="icon-approve"></i> 
                        {{'label.ApproveCustomer.Approve' | translate}}</span></a>
                    <a (click)="sendOver('reject')" *ngIf="!approve" class="add-btn "><span>
                        {{'label.ApproveCustomer.Reject' | translate}}</span></a>
                    <a (click)="cancel()" class="cancel-btn"><span>
                        {{'label.ApproveCustomer.Cancel' | translate}}</span></a>


                </div>

            </div>

    </div>

</div>


<!-- user edit modal -->
<!-- <div class="modal fade left-alignmodal" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog notify-modal modal-medium reject-modal-inner" role="document">
        <div class="modal-content">
            <div class="modal-heading">
                <h5>Reject</h5>
            </div>
            <div class="modal-body">
                <div class="reject-modal-inrcont">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="border-spacing">
                                <h6>Name</h6>
                                <h6 class="name-cont">Peruvaru</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="border-spacing">
                                <h6>Email</h6>
                                <h6 class="name-cont">peruvaru@gmail.com</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="border-spacing">
                                <h6>Mobile</h6>
                                <h6 class="name-cont">(+971) 2545254409</h6>
                            </div>
                        </div>
                    </div>
                    <div class="req-detail">
                        <h6>Request Type</h6>
                        <h6 class="name-cont">Add Associate Mobiele Number </h6>
                    </div>
                    <div class="form-group">
                        <label for="Rason">Reason</label>
                        <textarea class="form-control" type="text" name="Reason"></textarea>
                    </div>
                    <div class="button-right">
                        <input type="submit" class="add-btn" value="Submit" readonly/>
                        <a class="cancel-btn"><span>Cancel</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="userModal " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel " aria-hidden="true ">
    <div class="modal-dialog notify-modal " role="document ">
        <form [formGroup]="NormalForm " [class.disabled]="getAccessRole( 'isEdit') ">


            <div class="modal-content ">
                <div class="modal-body ">
                    <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
          <span aria-hidden="true ">&times;</span>
        </button>
                    <i class="fa fa-bell-o "></i>
                    <h4>{{selectedCustomer.title}}</h4>
                    <p>{{selectedCustomer.body}}</p>
                    <div *ngIf="!approve " class="text-areabox ">
                        <label>Reason</label>
                        <textarea [(ngModel)]="selectedCustomer.reason " formControlName="reason " #reason id="reason " class="form-control " (input)='changeField($event,"/^[ A-Za-z0-9_@./#&+-]*$/ ","1 ","50 ","reason ",selectedCustomer.reason.length)'></textarea>

                        <small class="form-text text-muted "><code>{{50 - reason.value.length}}</code> of
            <code>{{maxIncidentReasonLength}}</code> characters left</small>
                        <div class="error error-position " *ngIf="NormalForm.get( 'reason').hasError( 'maxlength') && NormalForm.get( 'reason').touched ">
                            Please enter Reason not more than 50 characters.
                        </div>
                        <div *ngIf="errMsg ">Enter Reason</div>

                    </div>

                    <a (click)="send() " *ngIf="approve " class="approve-btn "><span><i class="icon-approve"></i> Approve</span></a>
                    <a (click)="send() " *ngIf="!approve " class="cancel-bg cancel-btn "><span>Reject</span></a>

                </div>

            </div>

        </form>


    </div>

</div> -->