<form [formGroup]="passwordForm">
  <br>
  <div class="from-list">
    <!-- <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <div class="form-group label-bold">
          <label>User ID</label>
          <p>456577</p>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <div class="form-group" >
          <label>Current Password</label>
          <input [type]="showPassword ? 'text' : 'password'"  (click)="ezhilSam()"autocomplete="new-password" placeholder="Current Password" class="form-control" formControlName="pass" required [(ngModel)]="changePasswordObj.pass">
          <span (click)="ShowPasswordIcon()" class="pasword-icon"></span>
          <div class="error error-position"
          *ngIf="passwordForm.get('pass').hasError('required') && passwordForm.get('pass').touched">
          Please enter current password
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 margin20">
        <div class="form-group">
          <label>New Password</label>
          <input type="password" formControlName="newPassword" [(ngModel)]="changePasswordObj.newPassword"
            name="newPassword" placeholder="New Password" 
            class="form-control" required />

            <!-- <input type="password" formControlName="newPassword" [(ngModel)]="changePasswordObj.newPassword"
            pattern="(?=.*\d)(?=.*[.!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}" name="newPassword" placeholder="New Password"
            class="form-control" required /> -->
          <div class="error error-position"
            *ngIf="passwordForm.get('newPassword').hasError('required') && passwordForm.get('newPassword').touched">
            Please enter new password
          </div>

          <div class="error error-position"
            *ngIf="passwordForm.get('newPassword').hasError('minlength') && passwordForm.get('newPassword').touched">
            Please enter a new password at least 8 characters.

          </div>
          <div class="error error-position"
            *ngIf="passwordForm.get('newPassword').hasError('maxlength') && passwordForm.get('newPassword').touched">
            Please enter a new password no more than 16 characters.

          </div>
          <div class="error error-position"
            *ngIf="passwordForm.get('newPassword').hasError('pattern') && passwordForm.get('newPassword').touched">
            Must contain at least one number and one uppercase and special character
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmNewPassword" [(ngModel)]="changePasswordObj.confirmNewPassword"
            name="confirmNewPassword" placeholder="Confirm Password" class="form-control" required
            pattern="{{ changePasswordObj.newPassword }}" />

          <div class="error error-position"
            *ngIf="passwordForm.get('confirmNewPassword').hasError('required') && passwordForm.get('confirmNewPassword').touched">
            Please re-enter new password
          </div>

          <div class="error error-position" *ngIf="passwordForm.get('confirmNewPassword').hasError('pattern')">
            Password & Confirm Password does not match.</div>
        </div>
      </div>
    </div>
    <div class="button-right">
      <a href="javascript:void(0)" (click)="cancel()" class="cancel-btn">cancel</a>
      <a (click)="submitPassword()" class="add-btn"><span>Save</span></a>
    </div>


  </div>
</form>