<div class="login-section">
    <form [formGroup]="otpform">

    <div class="login-inner">
        <div class="login-left">
            <img src="assets/images/logo.svg" alt="Logo" />
        


            <h1>
                {{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} <br/>
            </h1>

                <div class="input text">
                    <input type="email" [(ngModel)]="otp.otp" formControlName="otp" placeholder="ENTER OTP" name="otp" id="otp"
                        autocomplete="off" />
                        <span class="icon-login icon-login-user"></span>
                        <div class="error" *ngIf="otpform.get('otp').hasError('required') && otpform.get('otp').touched">OTP Required</div>
        </div>
           
                <div class="submit-btn">
                    <input (click)="save()" type="submit" value="Submit" />
                </div>
       
     
                <div class="submit-btn" *ngIf="!regenDisable">
                    <input (click)="regenrate()"  type="submit" value="Regenerate" />
                </div>
       
          
        </div>
    </div>
    </form>
    </div>



