<div class="breadcrumb-div">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.PromotionalMarketing.Home' | translate}}</a></li>
    <li class="breadcrumb-item active">{{role.menuLabel}}</li>
  </ol>
</div>
<div class="inner-head">
  <h2>{{'label.PromotionalMarketing.PromotionMarketingList' | translate}}</h2>
</div>
<!-- <div class="row" >
    <div class="col-sm-6 col-md-5 col-xs-12" >
      <div class="form-group">
        <label>Status</label>
        <div class="styled-select">
        <select class="form-control" [(ngModel)]="reqObj.statusFilter" id="listServices"
            (change)="onChange($event.target.value)">           
            <option *ngFor="let status of status; let i = index" value="{{status.id}}">
                {{status.statusDesc}}</option>
        </select>
        <span class="fa fa-sort-desc"></span>
        </div>
    </div>
    </div>
</div> -->
<!-- <div class="tablesearch-sort">
  <div class="search-input">
    <input type="text" placeholder="Search" [(ngModel)]="reqObj.searchText" (input)="changeSearch()">
    <span class="icon-search"></span>
    <span class="icon-close1 closesearch"></span>
  </div>
  <div class="search-value">
    <p class="sortby-title">Sorted by</p>
    <p>Service ID <i class="icon-close1"></i></p>
    <p class="clearall">Clear All</p>
  </div>
</div> -->
<div class="tablesearch-sort">
  <div class="search-input">
    <div class="searchexpand">
      <input type="text" id="searchTextId" placeholder="{{'label.PromotionalMarketing.Search' | translate}}" [(ngModel)]="SearchValue" />
      <button type="submit"><i class="icon-search"></i></button>
    </div>
    <span class="icon-search"></span>
    <span class="icon-close1 closesearch" (click)="resetSearch()"></span>
  </div>
  <div class="search-value" *ngIf="isFilterStatus">
    <p class="sortby-title">{{'label.PromotionalMarketing.Filteredby' | translate}}</p>
    <p>{{'label.PromotionalMarketing.Status' | translate}} <i class="icon-close1" (click)="clearFilter()"></i></p>
    <!-- <p class="clearall">Clear All</p> -->
  </div>
</div>
<div class="button-orange">
  <a [class.disabled]="getAccessRole('isAdd')" (click)="addPromotion()">
    {{'label.PromotionalMarketing.AddPromotionMarketing' | translate}} <span
      class="icon-plus"></span></a>
</div>


<div class="search-results">
  <!-- <div class="no-record" *ngIf="!listPromotions.length">
    No Records Found
  </div> -->
  <!-- <div class="responsive-nt" *ngIf="listPromotions.length"></div> -->
  <div class="responsive-nt">

    <table class="table datatable table-visible">
      <thead>
        <tr>


          <!-- <th scope="col">
            Service ID
          </th> -->
          <th scope="col">
            {{'label.PromotionalMarketing.PromotionMarketingName' | translate}} 

          </th>
          <th scope="col">
            {{'label.PromotionalMarketing.Channel' | translate}} 
          </th>

          <th>
            {{'label.PromotionalMarketing.Status' | translate}} 
            <span class="icon-uniE90D user-arrow filter-open"></span>
            <div class="table-checkfilter">
              <div class="searchbox">
                <input type="text" placeholder="{{'label.PromotionalMarketing.Search' | translate}}" [(ngModel)]="searchStatusFilter" />
              </div>
              <div class="tablesearch-content">
                <ul>
                  <li
                    *ngFor="let status of filterStatus | customeTableFilter:searchStatusFilter:'statusDesc'; let i = index">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" [(ngModel)]="status.theCheckbox" (change)="onStatusChange(status)" />
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{status.statusDesc}}
                        &nbsp;&nbsp;</label>
                    </div>
                  </li>
                  <!-- <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" />
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>Email
                        &nbsp;&nbsp;</label>
                    </div>
                  </li> -->
                </ul>
              </div>
            </div>
          </th>

          <th scope="col" class="text-center">{{'label.PromotionalMarketing.Actions' | translate}}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let promotion of listPromotions;">
          <!-- <td class="column1" data-th="Service ID">
            <a class="linktext" (click)="gotoPromotion(promotion)"><span
                *ngFor="let item of promotion.ser;let i=index;">{{item}} <span *ngIf="i!=(promotion.ser.length-1)">
                  ,</span></span> </a>
            <div class="promolist-dropdown">
              <span class="dropdown-toggle promoid-count" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">{{promotion.ser.length}}</span>
              <div class="promolist dropdown-menu">
                <ul>
                  <li *ngFor="let item of promotion.ser">{{item}}</li>
            
                </ul>
              </div>
            </div>
          </td> -->
          <!-- <td (click)="gotoPromotion(promotion)">{{RemoveBracket(promotion.serviceId)}}</td> -->
          <!-- <td class="hover-hand ellipsis" >
            <a (click)="gotoPromotion(promotion)" title="{{promotion.promoName}}" data-toggle="tooltip"><span>{{promotion.promoName}}</span></a></td> -->
            <td class="hover-hand ellipsis" (click)="gotoPromotion(promotion)">
              <a title="{{promotion.promoName}}" data-toggle="tooltip">{{promotion.promoName}}</a>
            </td>
          <td *ngIf="promotion.status=='Approved'" class="ellipsis" >
            <a title="{{getChannels(promotion.channelId)}}" data-toggle="tooltip"> {{getChannels(promotion.channelId)}}</a></td>
          <td *ngIf="promotion.status!='Approved'" class="ellipsis" >
          <a title="{{getChannels(promotion.channel)}}" data-toggle="tooltip"> {{getChannels(promotion.channel)}}</a></td>
          <td>
            <i class="icon-approve" *ngIf="promotion.status=='Approved'"></i>
            <i class="icon-draft" *ngIf="promotion.status=='Draft'"></i>
            <i class="icon-reject" *ngIf="promotion.status=='Rejected'"></i>
            <i class="icon-reopen" *ngIf="promotion.status=='Reopen'"></i>
            <i class="icon-pending" *ngIf="promotion.status=='Pending For Approval'"></i> {{promotion.status}}
          </td>
          <td data-th="Actions" class="text-align">
            <i *ngIf="promotion.status=='Approved'" [class.disabled]="getAccessRole('isDelete')" class="icon-delete"
              (click)="showModal(promotion.reqId,'Approved')" title="Delete" data-toggle="tooltip"
              data-placement="left">
            </i>

            <i *ngIf="promotion.status=='Draft'" [class.disabled]="getAccessRole('isDelete')" class="icon-delete"
              (click)="showModal(promotion.wfId,'draft')" title="Delete" data-toggle="tooltip" data-placement="left">
            </i>
            <div *ngIf="promotion.status=='Pending For Approval' && (user.userId!=promotion.makerUserId||user.data.isAdminUser)"
            [class.disabled]="getAccessRole('isChecker')">
            <i class="icon-returnmaker" (click)="reopenPromotions(promotion)"
              [class.disabled]="getAccessRole('isChecker')" *ngIf="promotion.status=='Pending For Approval'"
              title="Return to Maker" data-toggle="tooltip" data-placement="left"></i>


            <div class="statuschange" *ngIf="promotion.status=='Pending For Approval'"
              [class.disabled]="getAccessRole('isChecker')">
              <i class="icon-status-change dropdown-toggle drop-after" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></i>
              <i class="icon-close1 dropdown-toggle drop-after" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></i>
              <div class="statuschange-list dropdown-menu dropdown-menu-right">
                <p (click)="approvePromotions(promotion)"><i class="icon-approve"></i>{{'label.PromotionalMarketing.Approve' | translate}} 
                </p>
                <p (click)="rejectPromotions(promotion)"><i class="icon-reject"></i>{{'label.PromotionalMarketing.Reject' | translate}} </p>
              </div>
            </div>
</div>

            <!-- <a *ngIf="promotion.status=='Pending For Approval'  && (user.userId!=promotion.makerUserId||user.data.isAdminUser)"
              (click)="approvePromotions(promotion)" class="add-btn"><span>Approve</span></a>
            <a *ngIf="promotion.status=='Pending For Approval'  && (user.userId!=promotion.makerUserId||user.data.isAdminUser)"
              (click)="rejectPromotions(promotion)" class="cancel-btn cancel-mg10 cancel-bg">Reject</a>
            <a *ngIf="promotion.status=='Pending For Approval'  && (user.userId!=promotion.makerUserId||user.data.isAdminUser)"
              (click)="reopenPromotions(promotion)" class="cancel-btn cancel-mg10 cancel-bg">Return To Maker</a> -->

          </td>


        </tr>
      </tbody>
    </table>
    <!-- new design no datatables -->

    <!-- <div class="tablemain promotiontable">
      <div class="tableheader">
        <table class="table">
          <thead>
            <tr>
              <th class="column1">Service ID</th>
              <th class="column2">Promotion Name</th>
              <th class="column3">Channel</th>
              <th class="column4">Status</th>
              <th class="column5">Actions</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tablebody">
        <table class="table">
          <tbody>
            <tr>
              <td class="column1" data-th="Service ID">
                <a class="linktext">50647-UAE ADIB Account, 5324-Adding UAE ADIB Account, 50647-UAE ADIB Account</a>
                <div class="promolist-dropdown">
                  <span class="dropdown-toggle promoid-count" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">3</span>
                  <div class="promolist dropdown-menu">
                    <ul>
                      <li>50647-UAE ADIB Account</li>
                      <li>5324-Adding UAE ADIB Account</li>
                      <li>50647-UAE ADIB Account</li>
                    </ul>
                  </div>
                </div>
              </td>
              <td class="column2" data-th="Promotion Name">Adding UAE ADIB Account</td>
              <td class="column3" data-th="Channel">Push Notification, SMS, Email</td>
              <td class="column4" data-th="Status"><i class="icon-approve"></i> Approved</td>
              <td class="column5" data-th="Actions">
                <i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i>
              </td>
            </tr>
            <tr>
              <td class="column1" data-th="Service ID">
                <a class="linktext">50647-UAE ADIB Account, 5324-Adding UAE ADIB Account, 50647-UAE ADIB Account</a>
                <div class="promolist-dropdown">
                  <span class="dropdown-toggle promoid-count" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">3</span>
                  <div class="promolist dropdown-menu">
                    <ul>
                      <li>50647-UAE ADIB Account</li>
                      <li>5324-Adding UAE ADIB Account</li>
                      <li>50647-UAE ADIB Account</li>
                    </ul>
                  </div>
                </div>
              </td>
              <td class="column2" data-th="Promotion Name">Adding UAE ADIB Account</td>
              <td class="column3" data-th="Channel">SMS, Email</td>
              <td class="column4" data-th="Status"><i class="icon-reject"></i> Delete Approval</td>
              <td class="column5" data-th="Actions">
                <i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i>
              </td>
            </tr>
            <tr>
              <td class="column1" data-th="Service ID">
                <a class="linktext">50647-UAE ADIB Account, 5324-Adding UAE ADIB Account, 50647-UAE ADIB Account</a>
                <div class="promolist-dropdown">
                  <span class="dropdown-toggle promoid-count" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">3</span>
                  <div class="promolist dropdown-menu">
                    <ul>
                      <li>50647-UAE ADIB Account</li>
                      <li>5324-Adding UAE ADIB Account</li>
                      <li>50647-UAE ADIB Account</li>
                    </ul>
                  </div>
                </div>
              </td>
              <td class="column2" data-th="Promotion Name">Adding UAE ADIB Account</td>
              <td class="column3" data-th="Channel">Push Notification</td>
              <td class="column4" data-th="Status"><i class="icon-approve"></i> Approved</td>
              <td class="column5" data-th="Actions">
                <i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i>
              </td>
            </tr>
            <tr>
              <td class="column1" data-th="Service ID">
                <a class="linktext">50647-UAE ADIB Account, 5324-Adding UAE ADIB Account, 50647-UAE ADIB Account</a>
                <div class="promolist-dropdown">
                  <span class="dropdown-toggle promoid-count" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">3</span>
                  <div class="promolist dropdown-menu">
                    <ul>
                      <li>50647-UAE ADIB Account</li>
                      <li>5324-Adding UAE ADIB Account</li>
                      <li>50647-UAE ADIB Account</li>
                    </ul>
                  </div>
                </div>
              </td>
              <td class="column2" data-th="Promotion Name">Adding UAE ADIB Account</td>
              <td class="column3" data-th="Channel">Push Notification</td>
              <td class="column4" data-th="Status"><i class="icon-pending"></i> Pending</td>
              <td class="column5" data-th="Actions">
                <i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->

    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col" *ngIf="reqObj.statusFilter=='2'">Request Id</th>
          <th scope="col" >Service Id</th>            
          <th scope="col" >Created By</th>
          <th scope="col" >Created On</th>            
          <th scope="col" >Status</th>
          <th class="text-align" scope="col" *ngIf="reqObj.statusFilter=='2'|| reqObj.statusFilter=='3'">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let promotion of listPromotions;">
          <td *ngIf="reqObj.statusFilter=='2'"><a (click)="gotoPromotion(promotion)">{{promotion.reqId}}</a></td>
          <td *ngIf="reqObj.statusFilter=='2' ||reqObj.statusFilter=='6'"
          >{{RemoveBracket(promotion.serviceId)}} {{RemoveBracket(promotion.recordName)}}</td>           
          
          <td *ngIf="reqObj.statusFilter=='1'||reqObj.statusFilter=='3'||reqObj.statusFilter=='4'||
          reqObj.statusFilter=='5'||reqObj.statusFilter!='6' && reqObj.statusFilter!='2' "><a (click)="gotoPromotion(promotion)"
          >{{RemoveBracket(promotion.recordName)}}</a></td>
          
          
          <td *ngIf="reqObj.statusFilter=='2'||reqObj.statusFilter=='6'"
          >{{promotion.createdby}} {{promotion.makerUserId}}</td>

      <td *ngIf="reqObj.statusFilter=='1'||reqObj.statusFilter=='3'||reqObj.statusFilter=='4'||
          reqObj.statusFilter=='5'||reqObj.statusFilter!='6' && reqObj.statusFilter!='2' ">{{promotion.makerUserId}}</td>


          <td >{{promotion.createdTime | showDate}} </td> 
          <td *ngIf="reqObj.statusFilter=='2'||reqObj.statusFilter=='6'"
          >{{promotion.status}} {{promotion.action}}</td> 
          <td *ngIf="reqObj.statusFilter=='1'||reqObj.statusFilter=='3'||reqObj.statusFilter=='4'||
          reqObj.statusFilter=='5'||reqObj.statusFilter!='6'">{{promotion.action}} </td>

          <td [class.disabled]="getAccessRole('isDelete')" *ngIf="reqObj.statusFilter=='2'" class="text-align">
            <i class="icon-delete" (click)="showModal(promotion.reqId)" title="Delete" data-toggle="tooltip" data-placement="left"></i>
          </td>             
          <td *ngIf="reqObj.statusFilter=='3'  && (user.userId!=promotion.makerUserId||user.data.isAdminUser)">
              <a (click)="approvePromotions(promotion)" class="add-btn"><span>Approve</span></a>
              <a (click)="rejectPromotions(promotion)" class="cancel-btn cancel-mg10 cancel-bg">Reject</a>
              <a (click)="reopenPromotions(promotion)" class="cancel-btn cancel-mg10 cancel-bg">Return To Maker</a>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog notify-modal" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="icon-close1"></span>
        </button>
        <i class="icon-delete del-popup"></i>
        <h4>{{'label.PromotionalMarketing.Alertmessage' | translate}}</h4>
        <p>{{'label.PromotionalMarketing.Areyou' | translate}}</p>
        <!-- <div class="text-areabox">
            <label>Reason</label>
            <textarea class="form-control"></textarea>
            <span>(Max 500 Character Allowed)</span>  
          </div>  -->
        <a (click)="deletePromotion()" class="add-btn"><span>{{'label.PromotionalMarketing.Submit' | translate}}</span></a>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog notify-modal" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="icon-close1"></span>
        </button>
        <i class="fa fa-bell-o"></i>
        <h4>{{selectedPromotion.title}}</h4>
        <p>{{selectedPromotion.body}}</p>
        <div *ngIf="this.promoStatus != 2" class="text-areabox">
          <label>{{'label.PromotionalMarketing.Reason' | translate}}</label>

          <form [formGroup]="AppOrRejForm">
            <textarea [(ngModel)]="selectedPromotion.reason" formControlName="reason" class="form-control"
              (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF/\s/g]","1","250","reason",selectedPromotion.reason.length)'></textarea>
            <span>{{'label.PromotionalMarketing.Max250' | translate}}</span>
            <div *ngIf="errMsg" class="error error-position error-right">
              {{'label.PromotionalMarketing.Enter' | translate}}</div>
          </form>

        </div>

        <!-- <a (click)="send()" *ngIf="approve" class="add-btn"><span>Approve</span></a>
        <a (click)="send()" *ngIf="!approve" class="cancel-bg cancel-btn"><span>Reject</span></a> -->

        <a (click)="send()" *ngIf="this.promoStatus == 2" class="add-btn"><span>{{'label.PromotionalMarketing.Approve' | translate}}</span></a>
        <a (click)="send()" *ngIf="this.promoStatus == 4" class="add-btn"><span>{{'label.PromotionalMarketing.Reject' | translate}}</span></a>
        <a (click)="send()" *ngIf="this.promoStatus == 5" class="add-btn"><span>
          {{'label.PromotionalMarketing.Return' | translate}}
            </span></a>

      </div>

    </div>
  </div>
</div>