<!-- <div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">Home</a></li>
        <li class="breadcrumb-item active">{{role.menuLabel}}</li>
    </ol>
</div>
<div class="inner-head">
    <h2>{{role.menuLabel}}</h2>
</div> -->
<!-- <div class="search-input"> -->
    <input type="text" placeholder="search" [(ngModel)]="reqObj.searchText" (ngModelChange)="changeSearch()">
    <span class="icon-search"></span>
<!-- </div> -->
<div class="button-orange">
    <a (click)="addPage()">Add Page <span class="icon-plus"></span></a>
</div>
<div class="search-results" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="20"
    (scrolled)="onScroll()">
    <div class="no-record" *ngIf="!listPage.length">
        No Records Found
    </div>
    <div class="responsive-nt" *ngIf="listPage.length">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">ID</th>
                        <th scope="col">Is Sub Menu</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="text-align">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let page of listPage;">
                        <td (click)="goEditListManagement(page)"><a>
                                {{page.menu_label}}</a></td>
                        <td>{{page.menu_id}}</td>
                        <td *ngIf="page.is_sub_menu=='1'">Yes</td>
                        <td *ngIf="page.is_sub_menu=='0'">No</td>
                        <td *ngIf="page.is_active=='1'"><i class="fa fa-check" aria-hidden="true"></i>Active
                        </td>
                        <td *ngIf="page.is_active=='0'"><i class="fa fa-times" aria-hidden="true"></i>Deactive</td>


                        <td class="text-align">
                            <i class="icon-delete" (click)="showModal(page)"></i>

                        </td>


                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="pageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="icon-close1"></span>
                </button>
                <i class="icon-delete del-popup"></i>
                <h4>Alert Message</h4>
                <p>Are you sure want to Delete Page</p>
                <!-- <div class="text-areabox">
                <label>Reason</label>
                <textarea class="form-control"></textarea>
                <span>(Max 500 Character Allowed)</span>
      
              </div>  -->
                <a (click)="deletepage()" class="add-btn"><span>Submit</span></a>
            </div>

        </div>
    </div>
</div>