<div class="object-scroll">
    <div class="breadcrumb-div">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.CreateNewRole.Home' | translate}}</a></li>
            <li class="breadcrumb-item active">{{role.menuLabel}}</li>
        </ol>
    </div>
    <div class="inner-head display-head">
        <h2 *ngIf="!isEdit && this.currentStatus != 'Pending For Approval'"><a (click)=back() href="javascript:void(0)" class="back-btn"><span class="icon-back"></span></a>
            {{'label.CreateNewRole.NewRolePrivileges' | translate}}
        </h2>

        <h2 *ngIf="this.currentStatus == 'Pending For Approval'"><a (click)=back() href="javascript:void(0)" class="back-btn"><span class="icon-back"></span></a>
            {{'label.CreateNewRole.RolePrivileges' | translate}}
        </h2>
        <h2 *ngIf="isEdit"><a (click)=back() href="javascript:void(0)" class="back-btn"><span
                    class="icon-back"></span></a> {{editData.groupName}}
            <button class="edit-toggle" *ngIf="!showAddRole" (click)="showRole()"><span
                    class="icon-edit-new"></span></button>
        </h2>
        <div class="active-sec" *ngIf="isEdit">
            <div *ngIf="groupObj.status" class="active-btn">{{'label.CreateNewRole.Active' | translate}} <span class="icon-edit-new" data-toggle="modal" data-target="#statusModal" (click)="openStatus()"></span></div>
            <div *ngIf="!groupObj.status" class="active-btn active-btn-red">{{'label.CreateNewRole.Deactive' | translate}}  <span class="icon-edit-new" data-toggle="modal" data-target="#statusModal" (click)="openStatus()"></span></div>

        </div>
    </div>

    <div class="service-bg show-editdiv active" [class.disabled]="this.currentStatus == 'Pending For Approval'" *ngIf="showAddRole">
        <form [formGroup]="groupForm">


            <div class="col-sm-5 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.CreateNewRole.RoleName' | translate}}</label>
                    <input type="text" class="form-control" formControlName="groupName" id="groupName" autocomplete="off">

                    <div class="error error-position" *ngIf="groupForm.controls['groupName'].hasError('required') &&groupForm.controls['groupName'].touched">
                        {{'error.CreateNewRole.RoleNamerequired' | translate}} </div>
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-xs-12">
                <div class="form-group">
                    <label>{{'label.CreateNewRole.RoleDescription' | translate}}</label>
                    <input type="text" class="form-control" formControlName="groupDesc" id="groupDesc" autocomplete="off">

                    <div class="error error-position" *ngIf="groupForm.controls['groupDesc'].hasError('required') &&groupForm.controls['groupDesc'].touched">
                        {{'error.CreateNewRole.Roledescriptionrequired' | translate}}</div>
                </div>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.CreateNewRole.DayLimit' | translate}} <span>{{'label.CreateNewRole.Optional' | translate}}</span></label>
                    <input type="number" class="form-control" formControlName="dayLimit" id="dayLimit" (input)='changeField($event,"[^0-9]","1","20","dayLimit",groupForm.value.dayLimit.length)'>

                    <div class="error error-position" *ngIf="groupForm.controls['dayLimit'].hasError('required') &&groupForm.controls['dayLimit'].touched">
                        {{'error.CreateNewRole.DayLimitrequired' | translate}}</div>
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-xs-12">
                <div class="form-group">
                    <label>{{'label.CreateNewRole.MonthLimit' | translate}} <span>{{'label.CreateNewRole.Optional' | translate}}</span></label>
                    <input type="number" class="form-control" formControlName="monthLimit" id="monthLimit" (input)='changeField($event,"[^0-9]","1","20","monthLimit",groupForm.value.monthLimit.length)'>

                    <div class="error error-position" *ngIf="groupForm.controls['monthLimit'].hasError('required') &&groupForm.controls['monthLimit'].touched">
                        {{'error.CreateNewRole.MonthLimitrequired' | translate}} </div>
                </div>
            </div>
           
            <div class="col-sm-7 col-md-7 col-xs-12">
                <div class="form-group">
                    <label>{{'label.CreateNewRole.RoleType' | translate}}</label>
                    <div class="radio-group compaign-radio">
                        <div class="radio-btn" *ngFor="let item of userGroupList;let i=index">
                            <input id="radio-{{i}}" type="radio" name="userGroupName" value="{{item.value}}" (click)="showSuperDrop()" formControlName="userGroupName" />
                            <label for="radio-{{i}}" class="radio-label">{{item.name}}</label>
                        </div>                      
                    </div>
                    <div class="error error-position" *ngIf="groupForm.controls['userGroupName'].hasError('required') && groupForm.controls['userGroupName'].touched">
                        {{'error.CreateNewRole.userGroupNamerequired' | translate}} </div>
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-xs-12">
                <div class="form-group">
                    <label>{{'label.CreateNewRole.isShortMessageRequired' | translate}}</label>
                    <div class="radio-group compaign-radio">
                        <div class="radio-btn" *ngFor="let item of isShortMessageRequired;let i=index">
                            <input id="isShortMessageRequired-{{i}}" type="radio" name="isShortMessageRequired" value="{{item.id}}" (click)="shortMessageLengthChange()" formControlName="isShortMessageRequired" />
                            <label for="isShortMessageRequired-{{i}}" class="radio-label">{{item.name}}</label>
                        </div>                      
                    </div>
                    <!-- <div class="error error-position" *ngIf="groupForm.controls['userGroupName'].hasError('required') && groupForm.controls['userGroupName'].touched">
                        {{'error.CreateNewRole.userGroupNamerequired' | translate}} </div> -->
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-xs-12" *ngIf="groupForm.value.isShortMessageRequired==1">
                <div class="form-group">
                    <label>{{'label.CreateNewRole.shortMessageLength' | translate}} </label>
                    <input type="number" class="form-control" formControlName="shortMessageLength" id="shortMessageLength" (input)='changeField($event,"[^0-9]","1","20","shortMessageLength",groupForm.value.shortMessageLength.length)'>

                    <!-- <div class="error error-position" *ngIf="groupForm.controls['monthLimit'].hasError('required') &&groupForm.controls['monthLimit'].touched">
                        {{'error.CreateNewRole.MonthLimitrequired' | translate}} </div> -->
                </div>
            </div>
            <div class="button-right" class="edit-btntoggle" *ngIf="isEdit">
                <a class="add-btn" (click)="SaveRoleDescription()"> {{'label.CreateNewRole.Save' | translate}}</a>
                <a class="cancel-btn toggle-cancel" (click)="cancelRoleEdit()">{{'label.CreateNewRole.Cancel' | translate}}</a>

            </div>

        </form>


    </div>

    <div class="row" *ngIf="isEdit">
        <div class="refrsh-overall marg-20">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="show-content">
                    <p><b>{{'label.CreateNewRole.RoleDescription' | translate}} </b> {{editData.groupDesc}}</p>
                </div>
            </div>

            <div class="refrsh-div">
                <div class="select-all">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" [(ngModel)]="groupPrevilege.selectAll"
                                (change)="selectAll($event.target.value)">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            {{'label.CreateNewRole.Selectall' | translate}} </label>
                    </div>
                    <a href="javascript:void(0)" title="Select all pages" data-toggle="tooltip" data-placement="left"><i
                            class="icon-info1"></i>
                       
                    </a>
                </div>
                <div class="refrsh-cnt">
                    <button (click)="getDefaultPages()"><span class="icon-refresh"></span></button>{{'label.CreateNewRole.Selectall' | translate}} Restore to
                    <br>{{'label.CreateNewRole.DefaultPrivileges' | translate}} 
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-xs-12 cnt-count">
                <div class="show-content">
                    <p><b>{{'label.CreateNewRole.DailyLimit' | translate}} </b><span>{{editData.dayLimit}}</span></p>
                </div>
                <div class="show-content">
                    <p><b>{{'label.CreateNewRole.MonthlyLimit' | translate}}  </b><span>{{editData.monthLimit}}</span></p>
                </div>
            </div>

        </div>
    </div>

   
    <div class="manage-over marg-top0">
        <form [class.disabled]="this.currentStatus == 'Pending For Approval'" [formGroup]="groupForm">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" formArrayName="mainPages">
                <div class="panel panel-default" *ngFor="let mainPage of mainPages; let i = index" formGroupName="{{i}}">
                    <div class="panel-heading" role="tab" id="headingOne{{i}}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less fa fa-caret-right"></i> {{mainPage.menuLabel}}
                            </a>
                            <div class="check-select">
                                <a [class.active]="mainPage.selectAllSubpage" href="javascript:void(0)" (click)="selectAllSubpageclick(mainPage)"><i class="fa fa-check-circle"
                                        aria-hidden="true"></i><span>{{'label.CreateNewRole.Selectallmodule' | translate}}</span></a>
                            </div>
                        </h4>
                    </div>
                    <div id="collapseOne{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="responsive-manage">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" width="60%"></th>
                                                <th scope="col" width="10%">{{'label.CreateNewRole.View' | translate}}</th>
                                                <th scope="col" width="10%">{{'label.CreateNewRole.Add' | translate}}</th>
                                                <th scope="col" width="10%">{{'label.CreateNewRole.Edit' | translate}}</th>
                                                <th scope="col" width="10%">{{'label.CreateNewRole.Delete' | translate}}</th>
                                                <th scope="col" width="7%">{{'label.CreateNewRole.Checker' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="subPages">
                                            <tr *ngFor="let subpage of mainPage.subPages; let j = index" formGroupName="{{j}}">
                                                <td>
                                                  {{subpage.menuLabel}}
                                                </td>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input formControlName="isView" type="checkbox"
                                                                (change)="changeSubPageCheckBox(subpage.isView,subpage,mainPage)"
                                                                [(ngModel)]="subpage.isView">
                                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td  [class.disabled]="subpage.disable">
                                                    <div class="checkbox" *ngIf="subpage.actionRequired">
                                                        <label>
                                                            <input formControlName="isAdd" type="checkbox"
                                                                (change)="changeCheckBox($event.target.value,subpage,mainPage)"
                                                                [(ngModel)]="subpage.isAdd">
                                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td  [class.disabled]="subpage.disable">
                                                    <div class="checkbox" *ngIf="subpage.actionRequired">
                                                        <label>
                                                            <input formControlName="isEdit" type="checkbox"
                                                                (change)="changeCheckBox($event.target.value,subpage,mainPage)"
                                                                [(ngModel)]="subpage.isEdit">
                                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td  [class.disabled]="subpage.disable">
                                                    <div class="checkbox" *ngIf="subpage.actionRequired">
                                                        <label>
                                                            <input formControlName="isDelete" type="checkbox"
                                                                (change)="changeCheckBox($event.target.value,subpage,mainPage)"
                                                                [(ngModel)]="subpage.isDelete">
                                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td  [class.disabled]="subpage.disable || !mainPage.isMainChecker">
                                                    <div class="checkbox" *ngIf="subpage.isCheckerAvailable">
                                                        <label>
                                                            <input formControlName="isChecker" type="checkbox"
                                                                (change)="changeCheckBox($event.target.value,subpage,mainPage)"
                                                                [(ngModel)]="subpage.isChecker">
                                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
            <!-- panel-group -->
        </form>
        <label *ngIf="this.currentStatus == 'Pending For Approval'">{{'label.CreateNewRole.Reason' | translate}}</label>

        <textarea *ngIf="this.currentStatus == 'Pending For Approval'" [(ngModel)]="reason" class="form-control" (input)="
    changeField(
      $event,
      '[^0-9 a-zA-Z\u0600-\u06FF/\s/g]',
      '1',
      '250',
      'reason',
      reason.length
    )
  "></textarea>
        <span *ngIf="this.currentStatus == 'Pending For Approval'">{{'label.CreateNewRole.Max250' | translate}}</span>
        <div *ngIf="errMsg">{{'label.CreateNewRole.EnterReason' | translate}}</div>


        <div class="button-right scroll-button">
            <a href="javascript:void(0)" *ngIf="!isEdit && this.currentStatus != 'Pending For Approval'" (click)="createGroup(false)" class="add-btn"><span>{{'label.CreateNewRole.Create' | translate}}</span></a>
            <a href="javascript:void(0)" *ngIf="!isEdit && this.currentStatus != 'Pending For Approval'" (click)="createGroup(true)" class="add-btn"><span>
                {{'label.CreateNewRole.SaveDraft' | translate}} </span></a>
                   
            <a href="javascript:void(0)" *ngIf="isEdit" (click)="submit()" class="add-btn"><span>{{'label.CreateNewRole.Save' | translate}} </span></a>


            <a [class.disabled]="getAccessRole('isChecker')" href="javascript:void(0)" *ngIf="this.currentStatus == 'Pending For Approval'" (click)="approveOrReject(true)" class="add-btn"><span>
                {{'label.CreateNewRole.Approve' | translate}} </span></a>
            <a [class.disabled]="getAccessRole('isChecker')" href="javascript:void(0)" *ngIf="this.currentStatus == 'Pending For Approval'" (click)="approveOrReject(false)" class="add-btn"><span>
                {{'label.CreateNewRole.Reject' | translate}}</span></a>

            <a class="cancel-btn" (click)="back()"><span>{{'label.CreateNewRole.Cancel' | translate}}</span></a>
        </div>
        <div class="side-button" data-toggle="modal" data-target="#sidemodal">
            <span data-toggle="tooltip" data-placement="left" data-original-title="Role Privileges" class="icon-list-view"></span>
        </div>
    </div>
</div>

<div class="modal fade left-alignmodal" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog notify-modal modal-medium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.CreateNewRole.EditStatus' | translate}}
                <button type="button" class="close close12" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="status-list">
                    <div class="status-toggle">
                        <p>{{'label.CreateNewRole.Status' | translate}}</p>
                        <div class="tgl-group">


                            <input [(ngModel)]="groupObj.changeStatus" class='tgl tgl-light' id='display-creditLimit' type='checkbox'>
                            <label class='tgl-btn' for='display-creditLimit'></label><span>
                                <span *ngIf="groupObj.changeStatus">{{'label.CreateNewRole.Active' | translate}}</span>
                            <span *ngIf="!groupObj.changeStatus">{{'label.CreateNewRole.Deactive' | translate}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="text-areabox">
                        <label>{{'label.CreateNewRole.Reason' | translate}}</label>
                        <textarea class="form-control" [(ngModel)]="changeStatus"></textarea>
                    </div>
                </div>
                <br />
                <a class="add-btn" (click)="updateStatus()"><span>{{'label.CreateNewRole.Update' | translate}}</span></a>
                <a class="cancel-btn" data-dismiss="modal"><span>{{'label.CreateNewRole.Cancel' | translate}}</span></a>

            </div>

        </div>
    </div>
</div>


<div class="modal fade right" id="sidemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <span class="icon-close"></span>
        </button>
        <div class="modal-content" style="overflow-y: inherit;">
            <div class="modal-heading">Role Privileges
                <button type="button" (click)="createNewRole()" class="add-rightside" data-dismiss="modal" aria-label="Close">
                    <span class="icon-plus"></span>
                    <div class="addrole-info">
                        Create New Role
                    </div>
                </button>

            </div>
            <div class="modal-body">
                <div class="search-list">
                    <input class="form-control" type="text" [(ngModel)]="searchRole">
                    <span class="icon-search"></span>
                </div>
                <div class="role-list">
                    <ul>
                        <li (click)="editGroupPrivilege(group)" data-dismiss="modal" aria-label="Close" *ngFor="let group of listGroup  | customeTableFilter:searchRole:'groupName'; let i=index ">
                            {{group.groupName}}</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>