<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">Home</a></li>
        <li class="breadcrumb-item active">System Parameter</li>
    </ol>
</div>
<div class="inner-head">
    <h2>System Parameter</h2>
    <a (click)="cancel()" href="javascript:void(0)" class="cancel-btn cancel-bg"><span class="icon-back"></span>Back</a>
</div>
<div class="form-list" *ngIf="showContent">
    <form [formGroup]="channelForm">
        <div class="check-list">
            <div class="row">
                <div class="page-title">
                    <h2 class="margin20 font-20"> Channel</h2>
                </div>

                <div class="col-sm-12 col-md-12 col-xs-12">


                    <div class="checkbox checkbox1" formArrayName="channels">
                        <div class="form-group" *ngFor="let channel of channels; let i = index" formGroupName="{{i}}">
                            <label>
                                <input type="checkbox" formControlName="value" (change)="changeChannel(channel)"
                                    [(ngModel)]="channel.value">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span> {{channel.channelDesc}}
                            </label>
                        </div>

                    </div>

                </div>
  
            </div>


        </div>

        <!--add push nodification-->
        <div class="push-nodiadd" *ngIf="flag.isPush">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-xs-12">
                    <div class="button-orange">
                        <a href="javascript:void(0)" (click)="addMobileApp()">Add More <span
                                class="icon-plus"></span></a>
                    </div>
                </div>
            </div>
            <div formArrayName="mobileApp">
                <div class="bggray-input col-md-10 col-xs-12 col-sm-12"
                    *ngFor="let mobileApp of channelForm['controls'].mobileApp['controls']; let i = index"
                    formGroupName="{{i}}">
                    <div class="col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>Mobile App Name</label>
                            <input formControlName="mobileName" type="text" class="form-control">
                        </div>
                        <div class="error error-position"
                            *ngIf="mobileApp.controls['mobileName'].hasError('required') && mobileApp.controls['mobileName'].touched">
                            Mobile App Name is required</div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>Server Key</label>
                            <input formControlName="serverKey" type="text" class="form-control">
                        </div>
                        <div class="error error-position"
                            *ngIf="mobileApp.controls['serverKey'].hasError('required') && mobileApp.controls['serverKey'].touched">
                            Server Key is required</div>
                    </div>
                    <button class="del-input" (click)="deleteMobileApp(i)"><i class="icon-delete"></i></button>
                </div>
            </div>


        </div>
        <!--add push nodification end-->
    </form>
    <!--email-->
    <div class="push-nodiadd" *ngIf="flag.isEmail">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>SMTP Server Name</label>
                    <input [(ngModel)]="systemParameter[12].propertyValue" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>From Email</label>
                    <input [(ngModel)]="systemParameter[13].propertyValue" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>User Name</label>
                    <input [(ngModel)]="systemParameter[14].propertyValue" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>Password</label>
                    <input [(ngModel)]="systemParameter[15].propertyValue" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-5 col-xs-12">
                <div class="form-group ">
                    <label>Port</label>
                    <input type="text" [(ngModel)]="systemParameter[16].propertyValue" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <!--email end-->
    <div class="push-nodiadd">
        <form [formGroup]="passwordForm">
            <div class="page-title">
                <h2 class="margin20 font-20">Password Policy</h2>
            </div>
            <div class="row">
                <!-- <div class="col-sm-6 col-md-5 col-xs-12">
          <div class="form-group pos-rel">
            <label>Login Name Length</label>
            <input type="text" class="form-control"
              (input)='changeField($event,"[^0-9]","1","2","LoginNameLength",systemParameter[1].propertyValue.length)'
              formControlName="LoginNameLength" [(ngModel)]="systemParameter[1].propertyValue">
            <span class="alert-mssg">(min)</span>
          </div>
          <div class="error error-position"
            *ngIf="passwordForm.controls['LoginNameLength'].hasError('required') && passwordForm.controls['LoginNameLength'].touched">
            Login Name Length is required</div>
        </div> -->
                <!-- <div class="col-sm-6 col-md-5 col-xs-12">
        <div class="form-group pos-rel">
          <label>Password complexity combination required for a Password</label>
          <input type="text" class="form-control" [(ngModel)]="systemParameter[2].propertyValue">
          <span class="alert-mssg">(min)</span>
        </div>
      </div> -->
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="form-group pos-rel">
                        <label>Password Length</label>
                        <input type="text" class="form-control"
                            (input)='changeField($event,"[^0-9]","1","1","passwordLength",systemParameter[2].propertyValue.length)'
                            formControlName="passwordLength" (focusout)="checkPassword()"
                            [(ngModel)]="systemParameter[2].propertyValue">
                        <span class="alert-mssg">(min)</span>
                    </div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['passwordLength'].hasError('required') && passwordForm.controls['passwordLength'].touched">
                        Password Length is required</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['passwordLength'].hasError('passwordCheck') && passwordForm.controls['passwordLength'].touched">
                        Password Length is not less than by other field</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.get('passwordLength').hasError('maxlength') && passwordForm.get('passwordLength').touched">
                        Please enter Password Length not more than 1 numbers.
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="form-group">
                        <label>Invalid Login Attempts before Lock Out</label>
                        <input type="text" class="form-control"
                            (input)='changeField($event,"[^0-9]","1","1","wrongPassword",systemParameter[3].propertyValue.length)'
                            formControlName="wrongPassword" [(ngModel)]="systemParameter[3].propertyValue">
                    </div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['wrongPassword'].hasError('required') && passwordForm.controls['wrongPassword'].touched">
                        Invalid Login Attempt is required</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.get('wrongPassword').hasError('maxlength') && passwordForm.get('wrongPassword').touched">
                        Please enter Invalid Login attempts not more than 1 numbers.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="form-group pos-rel">
                        <label>Lower Case characters for Password - Minimum Lower Case Characters</label>
                        <input type="text" class="form-control"
                            (input)='changeField($event,"[^0-9]","1","1","lowerCaseNeeded",systemParameter[4].propertyValue.length)'
                            (focusout)="checkPassword()" formControlName="lowerCaseNeeded"
                            [(ngModel)]="systemParameter[4].propertyValue">
                        <span class="alert-mssg">(min)</span>
                    </div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['lowerCaseNeeded'].hasError('required') && passwordForm.controls['lowerCaseNeeded'].touched">
                        Lower Case Length is required</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.get('lowerCaseNeeded').hasError('maxlength') && passwordForm.get('lowerCaseNeeded').touched">
                        Please enter Lower Case not more than 1 numbers.
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="form-group">
                        <label>Session Timeout (in mins)</label>
                        <input type="text" class="form-control"
                            (input)='changeField($event,"[^0-9]","1","2","accountLockout",systemParameter[5].propertyValue.length)'
                            formControlName="accountLockout" [(ngModel)]="systemParameter[5].propertyValue">
                    </div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['accountLockout'].hasError('required') && passwordForm.controls['accountLockout'].touched">
                        Session Timeout Duration is required</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.get('accountLockout').hasError('maxlength') && passwordForm.get('accountLockout').touched">
                        Please enter Session Timeout Duration not more than 2 numbers.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="form-group pos-rel">
                        <label>Upper case characters for Password - Minimum Upper Case Characters</label>
                        <input type="text" class="form-control"
                            (input)='changeField($event,"[^0-9]","1","1","upperCaseNeeded",systemParameter[6].propertyValue.length)'
                            (focusout)="checkPassword()" formControlName="upperCaseNeeded"
                            [(ngModel)]="systemParameter[6].propertyValue">
                        <span class="alert-mssg">(min)</span>
                    </div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['upperCaseNeeded'].hasError('required') && passwordForm.controls['upperCaseNeeded'].touched">
                        Upper Case Length is required</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.get('upperCaseNeeded').hasError('maxlength') && passwordForm.get('upperCaseNeeded').touched">
                        Please enter Upper Case not more than 1 numbers.
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="form-group">
                        <label>Password Expiry (in days)</label>
                        <input type="text" class="form-control"
                            (input)='changeField($event,"[^0-9]","1","2","passwordExpiry",systemParameter[7].propertyValue.length)'
                            formControlName="passwordExpiry" [(ngModel)]="systemParameter[7].propertyValue">
                    </div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['passwordExpiry'].hasError('required') && passwordForm.controls['passwordExpiry'].touched">
                        Password Expiry Days is required</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.get('passwordExpiry').hasError('maxlength') && passwordForm.get('passwordExpiry').touched">
                        Please enter Password Expiry Days not more than 2 numbers.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="form-group pos-rel">
                        <label>Numeric characters for Password - Minimum Numeric Characters</label>
                        <input type="text" class="form-control"
                            (input)='changeField($event,"[^0-9]","1","1","numericsNeeded",systemParameter[8].propertyValue.length)'
                            (focusout)="checkPassword()" formControlName="numericsNeeded"
                            [(ngModel)]="systemParameter[8].propertyValue">
                        <span class="alert-mssg">(min)</span>
                    </div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['numericsNeeded'].hasError('required') && passwordForm.controls['numericsNeeded'].touched">
                        Numerical characters length is required</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.get('numericsNeeded').hasError('maxlength') && passwordForm.get('numericsNeeded').touched">
                        Please enter numerical characters not more than 1 numbers.
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="form-group">
                        <label> Password Expiry Reminder (in days)</label>
                        <input type="text" class="form-control"
                            (input)='changeField($event,"[^0-9]","1","2","expiryNotification",systemParameter[9].propertyValue.length)'
                            formControlName="expiryNotification" [(ngModel)]="systemParameter[9].propertyValue">
                    </div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['expiryNotification'].hasError('required') && passwordForm.controls['expiryNotification'].touched">
                        Password Expiry Reminder Days is required</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.get('expiryNotification').hasError('maxlength') && passwordForm.get('expiryNotification').touched">
                        Please enter Password Expiry Reminder days not more than 2 numbers.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="form-group pos-rel">
                        <label>Symbol characters for Password – Minimum Special Characters</label>
                        <input type="text" class="form-control"
                            (input)='changeField($event,"[^0-9]","1","1","symbolsNeeded",systemParameter[10].propertyValue.length)'
                            (focusout)="checkPassword()" formControlName="symbolsNeeded"
                            [(ngModel)]="systemParameter[10].propertyValue">
                        <span class="alert-mssg">(min)</span>
                    </div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['symbolsNeeded'].hasError('required') && passwordForm.controls['symbolsNeeded'].touched">
                        Symbol characters length is required</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.get('symbolsNeeded').hasError('maxlength') && passwordForm.get('symbolsNeeded').touched">
                        Please enter symbol characters not more than 1 numbers.
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <div class="form-group">
                        <label>Deactivate User Account (inactivity period in days)</label>
                        <input type="text" class="form-control"
                            (input)='changeField($event,"[^0-9]","1","2","autoInactive",systemParameter[11].propertyValue.length)'
                            formControlName="autoInactive" [(ngModel)]="systemParameter[11].propertyValue">
                    </div>
                    <div class="error error-position"
                        *ngIf="passwordForm.controls['autoInactive'].hasError('required') && passwordForm.controls['autoInactive'].touched">
                        Deactivate User Account Days is required</div>
                    <div class="error error-position"
                        *ngIf="passwordForm.get('autoInactive').hasError('maxlength') && passwordForm.get('autoInactive').touched">
                        Please enter Deactivate User Account days not more than 2 numbers.
                    </div>
                </div>
            </div>
            <!-- <div class="row">
      <div class="col-sm-6 col-md-5 col-xs-12">
        <div class="form-group">
          <label>Language Setting</label>
          <div class="styled-select">
            <select>
              <option>Here is the first option</option>
              <option>The second option</option>
              <option>The thrid option</option>
            </select>
            <span class="fa fa-sort-desc"></span>
          </div>
        </div>
      </div>
    </div> -->
        </form>
    </div>
    <div class="push-nodiadd">


        <div class="row">

            <div class="page-title">
                <h2 class="margin20 font-20"> OTP for Login</h2>
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="tgl-group tg-mg0" let i="index">
                    <input [(ngModel)]="systemParameter[1].propertyValue" class='tgl tgl-light' id='display-addressOtp'
                        type='checkbox'>
                    <label class='tgl-btn' for='display-addressOtp'></label><span>
                        <span *ngIf="this.systemParameter[1].propertyValue">Active</span><span
                            *ngIf="!this.systemParameter[1].propertyValue">In Active</span> </span>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="page-title">
                <h2 class="margin20 font-20"> User Limits / Budgets</h2>
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="tgl-group tg-mg0" let i="index">
                    <input [(ngModel)]="systemParameter[19].propertyValue" class='tgl tgl-light'
                        id='display-creditLimit' type='checkbox'>
                    <label class='tgl-btn' for='display-creditLimit'></label><span>
                        <span *ngIf="this.systemParameter[19].propertyValue">Active</span><span
                            *ngIf="!this.systemParameter[19].propertyValue">In Active</span> </span>
                </div>

            </div>
        </div>
    </div>
    <div class="push-nodiadd">
        <form [formGroup]="menuForm">

            <div class="row">

                <div class="page-title">
                    <h2 class="margin20 font-20"> Dual Control Authorization (Maker / Checker)</h2>
                </div>
                <!-- <div class="col-xs-12 form-group">
          <label> Maker Checker Required</label>
        </div> -->
                <div class="col-sm-12 col-md-12 col-xs-12" formArrayName="mainPages">
                    <div class="tgl-group tg-mg0" *ngFor="let menu of mainMenus; let i = index" formGroupName="{{i}}">
                        <input formControlName="value" [(ngModel)]="menu.value" class='tgl tgl-light'
                            id='display-address{{i}}' type='checkbox'>
                        <label class='tgl-btn' for='display-address{{i}}'></label><span>
                            {{menu.menu_label}}</span>
                    </div>
                    <!-- <div class="tgl-group tg-mg0" >
            <input class="tgl tgl-light" type="checkbox" formControlName="value">
            <label class="tgl-btn"></label>
            <span>{{menu.menu_label}}</span>
          </div> -->
                    <!-- <div class="checkbox checkbox1">
            <div class="form-group" *ngFor="let channel of channels; let i = index" formGroupName="{{i}}">
              <label>
                <input type="checkbox" formControlName="value" (change)="changeChannel(channel)"
                  [(ngModel)]="channel.value">
                <span class="cr"><i class="cr-icon fa fa-check"></i></span> {{channel.channelDesc}}
              </label>
            </div>

          </div> -->
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-10 col-xs-12 col-sm-12">
            <div class="button-right">

                <a href="javascript:void(0)" (click)="submit()" class="add-btn"><span>Save</span></a>
            </div>
        </div>
    </div>
</div>