<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.CategoryMaster.Home' | translate}}</a></li>
        <li class="breadcrumb-item active">{{'label.CategoryMaster.CampaignCategory' | translate}}</li>
    </ol>
</div>
<div class="inner-head">
    <h2>{{'label.CategoryMaster.CampaignCategory' | translate}}</h2>
</div>
<div class="row">
    <div class="status-filter">

        <!-- <div class="col-sm-6 col-md-5 col-xs-12">
            <div class="form-group">
                <label>Status</label>
                <div class="styled-select">
                    <select class="form-control" [(ngModel)]="reqObj.statusFilter" id="listServices" (change)="onChange($event.target.value)">
          <option value="undefined" selected disabled> Select Service</option>
          <option *ngFor="let status of status; let i = index" value="{{status.id}}">
            {{status.statusDesc}}</option>
          </select>
                    <span class="fa fa-sort-desc"></span>
                </div>
            </div>
        </div> -->
        <div class="col-xs-12">
            <!-- <div class="tablesearch-sort">
                <div class="search-input">
                    <input type="text" id="searchTextId" placeholder="Search">
                    <span class="icon-search"></span>
                    <span class="icon-close1 closesearch"></span>
                </div>
            </div> -->
            <!-- <div class="search-box visible-xs">
                <div class="icon-search main-search search-remove"></div>
                <div class="search-box1">
                    <input type="text" placeholder="Search" [(ngModel)]="reqObj.searchText" (ngModelChange)="changeSearch()" />
                    <div class="icon-search"></div>
                </div>
            </div> -->
            <div class="tablesearch-sort">
                <div class="search-input">
                    <div class="searchexpand">
                        <input type="text" id="searchTextId" placeholder="{{'label.CategoryMaster.Search' | translate}}"  [(ngModel)]="SearchValue" />
                        <button type="submit"><i class="icon-search"></i></button>
                    </div>
                    <span class="icon-search"></span>
                    <span class="icon-close1 closesearch" (click)="resetSearch()"></span>
                </div>
                <div class="search-value" *ngIf="reqObj.isStatusFilter">
                    <p class="sortby-title">{{'label.CategoryMaster.Filteredby' | translate}}</p>
                   
                    <p *ngIf="reqObj.isStatusFilter">{{'label.CategoryMaster.Status' | translate}} <i (click)="clearStatus()" class="icon-close1"></i></p>
                    <p class="clearall" (click)="clearAllFilter()">{{'label.CategoryMaster.ClearAll' | translate}}</p>
                  </div>
                <!-- <div class="search-value">
                  <p class="sortby-title">Sorted by</p>
                  <p>Service ID <i class="icon-close1"></i></p>
                  <p class="clearall">Clear All</p>
                </div> -->
            </div>
            <div class="button-orange" [class.disabled]="getAccessRole('isAdd')">
                <a class="mt-xs-0" (click)="goToaddCateogory()">{{'label.CategoryMaster.AddCategory' | translate}}<span class="icon-plus"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="responsive-nt">
    <div class="tablemain tablemian-category">

        <table class="table datatable datatable">
            <thead>
                <tr>
                    <th scope="col" width="20%">
                        {{'label.CategoryMaster.CategoryName' | translate}}  <span *ngIf="categoryList.length>0">({{categoryList.length}})</span>
                    </th>
                    <th scope="col"  width="20%">
                        {{'label.CategoryMaster.Description' | translate}}  

                    </th>
                    <th scope="col"  width="15%">
                        {{'label.CategoryMaster.CreatedOn' | translate}}  
                    </th>
                    <th scope="col"  width="15%">
                        {{'label.CategoryMaster.CreatedBy' | translate}}  
                    </th>
                    <th scope="col"  width="10%">
                        {{'label.CategoryMaster.Status' | translate}} 
                        
                        <span class="icon-uniE90D user-arrow filter-open"></span>
                        <div class="table-checkfilter">
                          <div class="searchbox">
                            <input type="text" placeholder="{{'label.CategoryMaster.Search' | translate}}" />
                          </div>
                          <div class="tablesearch-content">
                            <ul>
                              <li>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" [(ngModel)]="statusActive" (change)="onStatusChange('true')" />
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{'label.CategoryMaster.Active' | translate}}
                                    &nbsp;&nbsp;</label>
                                </div>
                              </li>
                              <li>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" [(ngModel)]="statusInActive" (change)="onStatusChange('false')" />
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{'label.CategoryMaster.Inactive' | translate}}
                                    &nbsp;&nbsp;</label>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                    </th>
                    <th scope="col" class="text-align" width="5%">{{'label.CategoryMaster.Actions' | translate}}</th>
                    <!-- <th class="text-align" scope="col" *ngIf="reqObj.statusFilter=='2' || reqObj.statusFilter=='3'">Actions</th> -->
                </tr>
            </thead>


            <tbody>
                <tr *ngFor="let category of categoryList;">
                    <td  class="hover-hand ellipsis" width="20%" data-th="Category Name" (click)="gotoCategory(category)">
                        <a  title={{category.categoryName}}  data-toggle="tooltip" >{{category.categoryName}}</a> </td>
                    <td width="20%" data-th="Description" class="ellipsis" >
                        <a  title="{{category.description}}" data-toggle="tooltip" >{{category.description}}</a></td>
                    <td width="15%"  data-th="Created On" class="ellipsis">
                       <a data-toggle="tooltip"  title="{{category.createdTime | showDate}}" >{{category.createdTime | showDate}}</a> 
                    </td>
                    <td  width="15%" data-th="Created By" class="ellipsis" >
                     <a data-toggle="tooltip" title="{{category.createdBy }}" >{{category.createdBy }}</a>   
                    </td>
                    <td  width="10%" data-th="Status" *ngIf="category.status== 1">
                        <i class="fa fa-check" aria-hidden="true"></i>{{'label.CategoryMaster.Active' | translate}} </td>

                    <td  width="10%" data-th="Status" *ngIf="category.status== 0"><i class="fa fa-times"
                            aria-hidden="true"></i>{{'label.CategoryMaster.InActive' | translate}} </td>
                    <td [class.disabled]="getAccessRole('isDelete')" width="5%"  class="text-align" data-th="Actions">
                        <i title="" data-toggle="tooltip" data-placement="left" (click)="deleteCategory(category)"
                            class="icon-delete" data-original-title="Delete"></i>
                    </td>
                </tr>
                <!-- <tr>
                        <td class="hover-hand column1" data-th="Category Name (03)"> <a>Category Name 2</a> </td>
                        <td class="column2" data-th="Description">Category Description comes here</td>
                        <td class="column3" data-th="Created On">
                            1/19/2020 10:14:00 AM
                        </td>
                        <td class="column4" data-th="Status">
                            <i class="icon-pending"></i> Pending
                        </td>
                        <td class="column5" data-th="Actions">
                            <i title="" data-toggle="tooltip" data-placement="left" class="icon-delete" data-original-title="Delete"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="hover-hand column1" data-th="Category Name (03)"> <a>Category Name 3</a> </td>
                        <td class="column2" data-th="Description">Category Description comes here</td>
                        <td class="column3" data-th="Created On">
                            5/14/2020 11:00:00 PM
                        </td>
                        <td class="column4" data-th="Status">
                            <i class="icon-approve"></i> Approved
                        </td>
                        <td class="column5" data-th="Actions">
                            <i title="" data-toggle="tooltip" data-placement="left" class="icon-delete" data-original-title="Delete"></i>
                        </td>
                    </tr> -->

            </tbody>
        </table>


    </div>

</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
                <i class="icon-delete del-popup"></i>
                <h4>{{'label.CategoryMaster.AlertMessage' | translate}}</h4>
                <p>{{'label.CategoryMaster.Areyou' | translate}}</p>

                <a (click)="delete()" class="add-btn"><span>{{'label.CategoryMaster.Delete' | translate}}</span></a>
            </div>

        </div>
    </div>
</div>