<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.ManageCampaign.Home' | translate}}</a></li>
        <li class="breadcrumb-item active">{{role.menuLabel}}</li>
    </ol>
</div>
<div class="inner-head">
    <h2>{{role.menuLabel}}</h2>
    <!-- <h2>Campaign</h2> -->
</div>
<!-- <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label>Campaign Type</label>            
            <div class="styled-select">

                <select (change)='onChange($event.target.value)' class="form-control" [(ngModel)]="reqObj.campaignType"
                    id="channel">
                    <option value="1">Push</option>
                    <option value="2">Pull</option>

                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <div class="form-group">
            <label>Status</label>
            <div class="styled-select">
                <select class="form-control" [(ngModel)]="reqObj.statusFilter" id="listServices"
                    (change)="onChange($event.target.value)">                    
                    <option *ngFor="let status of status; let i = index" value="{{status.id}}">
                        {{status.statusDesc}}</option>
                </select>
                <span class="fa fa-sort-desc"></span>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="tablesearch-sort">
    <div class="search-input">
        <input type="text" placeholder="Search" [(ngModel)]="reqObj.searchText" (input)="changeSearch()">
        <span class="icon-search"></span>
        <span class="icon-close1 closesearch"></span>
    </div>
    <div class="search-value" *ngIf="sortList.length">
        <p class="sortby-title">Sorted by</p>
        <p *ngFor="let sort of sortList">{{sort}} <i class="icon-close1" (click)="deleteSort(sort)"></i></p>
        <p>Active <i class="icon-close1"></i></p>
        <p class="clearall" (click)="clearSort()">Clear All</p>
    </div>
</div> -->
<div class="tablesearch-sort">
    <div class="search-input">
        <div class="searchexpand">
            <input type="text" id="searchTextId" placeholder="{{'label.ManageCampaign.Search' | translate}}" [(ngModel)]="SearchValue"/>
            <button type="submit"><i class="icon-search"></i></button>
        </div>
        <span class="icon-search"></span>
        <span class="icon-close1 closesearch" (click)="resetSearch()"></span>
    </div>
    <!-- <div class="search-value">
      <p class="sortby-title">Sorted by</p>
      <p>Service ID <i class="icon-close1"></i></p>
      <p class="clearall">Clear All</p>
    </div> -->
</div>
<div class="button-orange">
    <a [class.disabled]="getAccessRole('isAdd')" (click)="gotoPush()">{{'label.ManageCampaign.AddCampaign' | translate}} <span class="icon-plus"></span></a>
</div>

<div class="search-results">


    <div class="responsive-nt">

        <!-- <table class="designdata-table table" style="width:100%;">
            <thead>
                <tr>
                    <th>Campaign Name</th>
                    <th>Channel </th>
                    <th>Campaign Type
                        <span class="icon-uniE90D user-arrow filter-open"></span>
                        <div class="table-checkfilter">
                            <form [formGroup]="campaingnTypeForm">

                                <div class="searchbox">
                                    <input type="text" placeholder="Search" formControlName="searchTypeFilter"
                                        [(ngModel)]="searchTypeFilter" />
                                </div>
                                <div class="tablesearch-content">
                                    <ul>
                                        <li *ngFor="let status of campaingnType | customeTableFilter:searchTypeFilter:'name'; let i = index"
                                        formArrayName="campaingnTypeGroup">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" [formControlName]="i"
                                                        [(ngModel)]="status.theCheckbox"
                                                        (change)="campaingnTypeChange()" />
                                                    <span class="cr"><i
                                                            class="cr-icon fa fa-check"></i></span>{{status.name}}
                                                    &nbsp;&nbsp;</label>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </form>
                        </div>
                    </th>
                    <th>Created Time </th>
                    <th>Scheduled Time </th>
                    <th>Status
                        <span class="icon-uniE90D user-arrow filter-open"></span>
                        <div class="table-checkfilter">
                            <form [formGroup]="statusForm">

                                <div class="searchbox">
                                    <input type="text" placeholder="Search" formControlName="searchStatusFilter"
                                        [(ngModel)]="searchStatusFilter" />
                                </div>
                                <div class="tablesearch-content">
                                    <ul>
                                        <li *ngFor="let status of status | customeTableFilter:searchStatusFilter:'statusDesc'; let i = index"
                                        formArrayName="statusGroup">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" [formControlName]="i"
                                                        [(ngModel)]="status.theCheckbox"
                                                        (change)="onChange(status)" />
                                                    <span class="cr"><i
                                                            class="cr-icon fa fa-check"></i></span>{{status.statusDesc}}
                                                    &nbsp;&nbsp;</label>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </form>
                        </div>
                    </th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-th="Campaign Name"><a>User 123456</a></td>
                    <td data-th="Channel">Email</td>
                    <td data-th="Campaign Type">Pull</td>
                    <td data-th="Created Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Scheduled Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Status"><i class="icon-reject"></i> Rject</td>
                    <td data-th="Actions" class="text-right"><i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i></td>
                </tr>
                <tr>
                    <td data-th="Campaign Name"><a>SMS1234</a></td>
                    <td data-th="Channel">SMS</td>
                    <td data-th="Campaign Type">Push</td>
                    <td data-th="Created Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Scheduled Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Status"><i class="icon-approve"></i> Approve</td>
                    <td data-th="Actions" class="text-right">
                        <i class="icon-stop" title="Stop" data-toggle="tooltip" data-placement="left"></i>
                        <i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i>
                    </td>
                </tr>
                <tr>
                    <td data-th="Campaign Name"><a>Administrator</a></td>
                    <td data-th="Channel">SMS</td>
                    <td data-th="Campaign Type">Push</td>
                    <td data-th="Created Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Scheduled Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Status"><i class="icon-pending"></i> Pending</td>
                    <td data-th="Actions" class="text-right">
                        <i class="icon-returnmaker" title="Return to Maker" data-toggle="tooltip" data-placement="left"></i>
                        <div class="statuschange">
                            <i class="icon-status-change dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <i class="icon-close1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="statuschange-list dropdown-menu dropdown-menu-right">
                                <p><i class="icon-approve"></i> Approve</p>
                                <p><i class="icon-reject"></i> Rject</p>
                            </div>
                        </div>
                    </td>
                </tr>                      
                <tr>
                    <td data-th="Campaign Name"><a>SMS1234</a></td>
                    <td data-th="Channel">SMS</td>
                    <td data-th="Campaign Type">Push</td>
                    <td data-th="Created Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Scheduled Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Status"><i class="icon-reopen"></i> Reopen</td>
                    <td data-th="Actions" class="text-right"><i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i></td>
                </tr>
                <tr>
                    <td data-th="Campaign Name"><a>User 123456</a></td>
                    <td data-th="Channel">Email</td>
                    <td data-th="Campaign Type">Pull</td>
                    <td data-th="Created Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Scheduled Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Status"><i class="icon-draft"></i> Draft</td>
                    <td data-th="Actions" class="text-right"><i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i></td>
                </tr>
                <tr>
                    <td data-th="Campaign Name"><a>SMS1234</a></td>
                    <td data-th="Channel">SMS</td>
                    <td data-th="Campaign Type">Push</td>
                    <td data-th="Created Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Scheduled Time">07 Apr 2020 09:02 PM</td>
                    <td data-th="Status"><i class="icon-approve"></i> Approve</td>
                    <td data-th="Actions" class="text-right">
                        <i class="icon-stop" title="Stop" data-toggle="tooltip" data-placement="left"></i>
                        <i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i>
                    </td>
                </tr>
            </tbody>
        </table> -->

        <div class="tablemain campaigntable">
            <table class="table datatable table-visible">


                <thead>
                    <tr>
                        <th class="column1" (click)="sort('Campaign Name','campaignDesc')">
                            {{'label.ManageCampaign.CampaignName' | translate}}
                        </th>
                        <th class="column2">{{'label.ManageCampaign.Channel' | translate}} </th>
                        <th class="column3 ">{{'label.ManageCampaign.CampaignType' | translate}}
                            <span class="icon-uniE90D user-arrow filter-open"></span>
                            <div class="table-checkfilter">
                                <form [formGroup]="campaingnTypeForm">

                                    <div class="searchbox">
                                        <input type="text" placeholder="{{'label.ManageCampaign.Search' | translate}}" formControlName="searchTypeFilter"
                                            [(ngModel)]="searchTypeFilter" />
                                    </div>
                                    <div class="tablesearch-content">
                                        <ul>
                                            <li>
                                                <div class="checkbox"
                                                    *ngFor="let status of campaingnType | customeTableFilter:searchTypeFilter:'name'; let i = index"
                                                    formArrayName="campaingnTypeGroup">
                                                    <label>
                                                        <input type="checkbox" [formControlName]="i"
                                                            [(ngModel)]="status.theCheckbox"
                                                            (change)="campaingnTypeChange()" />
                                                        <span class="cr"><i
                                                                class="cr-icon fa fa-check"></i></span>{{status.name}}
                                                        &nbsp;&nbsp;</label>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </th>
                        <!-- <th class="column4">Created Time </th> -->
                        <th class="column5" (click)="sort('Scheduled Time','scheduledTime')">{{'label.ManageCampaign.ScheduledTime' | translate}}
                        </th>

                        <th class="column5">{{'label.ManageCampaign.Status' | translate}}
                            <span class="icon-uniE90D user-arrow filter-open"></span>
                            <div class="table-checkfilter">
                                <form [formGroup]="statusForm">

                                    <div class="searchbox">
                                        <input type="text" placeholder="{{'label.ManageCampaign.Search' | translate}}" formControlName="searchStatusFilter"
                                            [(ngModel)]="searchStatusFilter" />
                                    </div>
                                    <div class="tablesearch-content">
                                        <ul>
                                            <li>
                                                <div class="checkbox"
                                                    *ngFor="let status of status | customeTableFilter:searchStatusFilter:'statusDesc'; let i = index"
                                                    formArrayName="statusGroup">
                                                    <label>
                                                        <input type="checkbox" [formControlName]="i"
                                                            [(ngModel)]="status.theCheckbox"
                                                            (change)="onChange(status)" />
                                                        <span class="cr"><i
                                                                class="cr-icon fa fa-check"></i></span>{{status.statusDesc}}
                                                        &nbsp;&nbsp;</label>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </th>
                        <th class="column7">{{'label.ManageCampaign.Actions' | translate}}</th>
                    </tr>
                </thead>


                <!-- <table class="table"> -->
                <tbody>
                    <tr *ngFor="let PushCampaign of listPushCampaign;">
                        <td class="hover-hand column1 ellipsis" data-th="Campaign Name" (click)="gotoPushSms(PushCampaign,'1')">
                            <a title="{{PushCampaign.campaignDesc}}"  data-toggle="tooltip" >{{PushCampaign.campaignDesc}}</a>
                        </td>
                        <td class="column2" data-th="Channel">{{getChannelName(PushCampaign.channel) }}</td>
                        <td class="column3" data-th="Campaign Type">{{PushCampaign.campaignType}}</td>
                        <!-- <td class="column4" data-th="Created Time">{{PushCampaign.createdDate | showDate}}</td> -->
                        <td class="column5 ellipsis"  data-th="Scheduled Time">
                          <a title="{{PushCampaign.scheduledTime | showDate}} ({{PushCampaign.timeZone}})" data-toggle="tooltip">{{PushCampaign.scheduledTime | showDate}}
                            ({{PushCampaign.timeZone}})</a>  
                        </td>
                        <td class="column5 ellipsis" data-th="Status">
                            <a title="{{PushCampaign.status}}" data-toggle="tooltip"> <i class="icon-approve"
                                *ngIf="PushCampaign.status=='Approved' || PushCampaign.status=='Stopped'"></i>
                            <i class="icon-draft" *ngIf="PushCampaign.status=='Draft'"></i>
                            <i class="icon-reject" *ngIf="PushCampaign.status=='Rejected'"></i>
                            <i class="icon-reopen" *ngIf="PushCampaign.status=='Reopen'"></i>
                            <i class="icon-pending" *ngIf="PushCampaign.status=='Pending For Approval'"></i>
                            {{PushCampaign.status}}</a>
                        </td>
                        <td class="column7" data-th="Actions">
                            <i class="icon-stop" [class.disabled]="getAccessRole('isChecker')"
                                *ngIf="PushCampaign.status=='Approved' && PushCampaign.status!='Stopped'" title="Stop"
                                (click)="changeStatus(PushCampaign,6)" data-toggle="tooltip" data-placement="left"></i>
                            <i class="icon-stop" [class.disabled]="getAccessRole('isChecker')"
                                *ngIf="PushCampaign.status=='Approved' && PushCampaign.status=='Stopped'" title="Resume"
                                (click)="changeStatus(PushCampaign,7)" data-toggle="tooltip" data-placement="left"></i>

                            <i class="icon-returnmaker" [class.disabled]="getAccessRole('isChecker')"
                                *ngIf="PushCampaign.status=='Pending For Approval' &&
                                 (user.userId!=PushCampaign.createdBy||user.data.isAdminUser)" title="Return to Maker"
                                (click)="changeStatus(PushCampaign,5)" data-toggle="tooltip" data-placement="left"></i>


                            <div class="statuschange" *ngIf="PushCampaign.status=='Pending For Approval' &&
                            (user.userId!=PushCampaign.createdBy||user.data.isAdminUser)"
                                [class.disabled]="getAccessRole('isChecker')">
                                <i class="icon-status-change dropdown-toggle drop-after" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"></i>
                                <i class="icon-close1 dropdown-toggle drop-after" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"></i>
                                <div class="statuschange-list dropdown-menu dropdown-menu-right">
                                    <p (click)="changeStatus(PushCampaign,2)"><i class="icon-approve"></i>{{'label.ManageCampaign.Approve' | translate}} 
                                    </p>
                                    <p (click)="changeStatus(PushCampaign,4)"><i class="icon-reject"></i>{{'label.ManageCampaign.Reject' | translate}} </p>
                                </div>
                            </div>
                            <i class="icon-delete" (click)="showModal(PushCampaign)"
                                [class.disabled]="getAccessRole('isDelete')" *ngIf="PushCampaign.status=='Draft'"
                                title="Delete" data-toggle="tooltip" data-placement="left"></i>
                        </td>
                    </tr>

                    <!-- <td> </td> -->
                    <!-- <td *ngIf="reqObj.statusFilter=='1'">{{PushCampaign.operator}}</td> -->
                    <!-- <td> {{PushCampaign.status}} </td>
                        <td>{{PushCampaign.createdBy}} {{PushCampaign.makerUserId}}</td>
                        <td>{{PushCampaign.createdDate | showDate}} </td> -->
                    <!-- <tr>
                            <td class="hover-hand column1" data-th="Campaign Name"><a>User 123456</a></td>
                            <td class="column2" data-th="Channel">Email</td>
                            <td class="column3" data-th="Campaign Type">Pull</td>
                            <td class="column4" data-th="Created Time">07 Apr 2020 09:02 PM</td>
                            <td class="column5" data-th="Status"><i class="icon-reject"></i> Rject</td>
                            <td class="column6" data-th="Actions">
                                <i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i></td>
                        </tr>
                        <tr>
                            <td class="hover-hand column1" data-th="Campaign Name"><a>SMS1234</a></td>
                            <td class="column2" data-th="Channel">SMS</td>
                            <td class="column3" data-th="Campaign Type">Push</td>
                            <td class="column4" data-th="Created Time">07 Apr 2020 09:02 PM</td>
                            <td class="column5" data-th="Status"><i class="icon-approve"></i> Approve</td>
                            <td class="column6" data-th="Actions">
                                <i class="icon-stop" title="Stop" data-toggle="tooltip" data-placement="left"></i>
                                <i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i>
                            </td>
                        </tr>
                        <tr>
                            <td class="hover-hand column1" data-th="Campaign Name"><a>Administrator</a></td>
                            <td class="column2" data-th="Channel">SMS</td>
                            <td class="column3" data-th="Campaign Type">Push</td>
                            <td class="column4" data-th="Created Time">07 Apr 2020 09:02 PM</td>
                            <td class="column5" data-th="Status"><i class="icon-pending"></i> Pending</td>
                            <td class="column6" data-th="Actions">
                                <i class="icon-returnmaker" title="Return to Maker" data-toggle="tooltip" data-placement="left"></i>
                                <div class="statuschange">
                                    <i class="icon-status-change dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <i class="icon-close1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                    <div class="statuschange-list dropdown-menu dropdown-menu-right">
                                        <p><i class="icon-approve"></i> Approve</p>
                                        <p><i class="icon-reject"></i> Rject</p>
                                    </div>
                                </div>
                            </td>
                        </tr>                      
                        <tr>
                            <td class="hover-hand column1" data-th="Campaign Name"><a>SMS1234</a></td>
                            <td class="column2" data-th="Channel">SMS</td>
                            <td class="column3" data-th="Campaign Type">Push</td>
                            <td class="column4" data-th="Created Time">07 Apr 2020 09:02 PM</td>
                            <td class="column5" data-th="Status"><i class="icon-reopen"></i> Reopen</td>
                            <td class="column6" data-th="Actions"><i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i></td>
                        </tr>
                        <tr>
                            <td class="hover-hand column1" data-th="Campaign Name"><a>User 123456</a></td>
                            <td class="column2" data-th="Channel">Email</td>
                            <td class="column3" data-th="Campaign Type">Pull</td>
                            <td class="column4" data-th="Created Time">07 Apr 2020 09:02 PM</td>
                            <td class="column5" data-th="Status"><i class="icon-draft"></i> Draft</td>
                            <td class="column6" data-th="Actions"><i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i></td>
                        </tr>
                        <tr>
                            <td class="hover-hand column1" data-th="Campaign Name"><a>SMS1234</a></td>
                            <td class="column2" data-th="Channel">SMS</td>
                            <td class="column3" data-th="Campaign Type">Push</td>
                            <td class="column4" data-th="Created Time">07 Apr 2020 09:02 PM</td>
                            <td class="column5" data-th="Status"><i class="icon-approve"></i> Approve</td>
                            <td class="column6" data-th="Actions">
                                <i class="icon-stop" title="Stop" data-toggle="tooltip" data-placement="left"></i>
                                <i class="icon-delete" title="Delete" data-toggle="tooltip" data-placement="left"></i>
                            </td>
                        </tr> -->
                </tbody>


            </table>
        </div>
    </div>


</div>




<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
                <i class="icon-delete del-popup"></i>
                <h4>{{'label.ManageCampaign.AlertMessage' | translate}}</h4>
                <p>{{'label.ManageCampaign.Areyou' | translate}}</p>
                <!-- <div class="text-areabox">
          <label>Reason</label>
          <textarea class="form-control"></textarea>
          <span>(Max 500 Character Allowed)</span>

        </div>  -->
                <a (click)="deleteUser()" class="add-btn"><span>{{'label.ManageCampaign.Submit' | translate}}</span></a>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
                <i class="fa fa-bell-o"></i>
                <h4>{{selectedUser.title}}</h4>
                <p>{{selectedUser.body}}</p>
                <div *ngIf="selectedUser.changeStauts!=2 || selectedUser.changeStauts==6 || selectedUser.changeStauts==7"
                    class="text-areabox">
                    <label>{{'label.ManageCampaign.Reason' | translate}}</label>
                    <form [formGroup]="AppOrRejForm">

                        <textarea [(ngModel)]="selectedUser.reason" class="form-control" formControlName="reason"
                            (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF/\s/g]","1","250","reason",selectedUser.reason.length)'></textarea>
                        <span>{{'label.ManageCampaign.Max250' | translate}}</span>
                        <div *ngIf="errMsg" class="error error-position error-right">{{'label.ManageCampaign.Enter' | translate}} </div>
                    </form>

                </div>

                <a (click)="send()" *ngIf="selectedUser.changeStauts==2" class="add-btn"><span>{{'label.ManageCampaign.Approve' | translate}}</span></a>
                <a (click)="send()" *ngIf=" selectedUser.changeStauts==6" class="add-btn"><span>{{'label.ManageCampaign.Stop' | translate}}</span></a>
                <a (click)="send()" *ngIf=" selectedUser.changeStauts==7" class="add-btn"><span>{{'label.ManageCampaign.Resume' | translate}}</span></a>
                <!-- <a (click)="send()" *ngIf="selectedUser.changeStauts==4"
                class="add-btn"><span>{{'label.ManageCampaign.Reject' | translate}}</span></a> -->
                <a (click)="send()" *ngIf="selectedUser.changeStauts==5" class="add-btn"><span>
                    {{'label.ManageCampaign.Return' | translate}}
                        </span></a>

            </div>

        </div>
    </div>
</div>