<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">Home </a></li>
        <li class="breadcrumb-item active">System Alerts</li>
    </ol>
</div>
<div class="inner-head display-head">
    <h2><a href="javascript:void(0)" (click)="back()" class="back-btn"><span class="icon-back"></span></a>
        System Alerts
    </h2>
</div>

<div *ngIf="filtersLoaded | async">

    <form [formGroup]="isSystemForm">

        <div class="col-sm-12 col-md-5 col-xs-12">
            <div class="form-group">
                <div class="tgl-group tg-mg-padd" let i="index">
                    <input class='tgl tgl-light' id='componentDown' type='checkbox' formControlName="componentDown"
                        [(ngModel)]="parameterDetails[32].propertyValue" (change)="firstChange($event)">
                    <label class='tgl-btn' for='componentDown'></label>
                    Component Down Alert Needed
                </div>
            </div>

            <div class="form-group" *ngIf="!isSelectedUser">
                <label>Select Users</label>
                <!-- <p-dropdown optionLabel="opFirstName" [options]="listMainOperator" [(ngModel)]="sysObj.opId"
                    formControlName="userId" [filter]="true" class="dropdown-user-select"></p-dropdown> -->

                    <p-multiSelect optionLabel="opFirstName" [options]="listMainOperator" [(ngModel)]="parameterDetails[32].opUserId" formControlName="userId" [filter]="true">
                        <ng-template let-selectedCars pTemplate="selectedItems">
                            <span *ngFor="let selectedCar of selectedCars">{{selectedCar.opFirstName}} {{selectedCar.opLastName}}</span>
                            <!-- <span class="multi-last" *ngIf="serviceObj.promoId.length>=3"> {{serviceObj.promoId.length}}</span> -->
                        </ng-template>
                    </p-multiSelect>

                <div class="error error-position"
                    *ngIf="isSystemForm.controls['userId'].hasError('required') && isSystemForm.controls['userId'].touched">
                    Select Users</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5 col-xs-12">
            <div class="form-group">
                <div class="tgl-group tg-mg-padd" let i="index">
                    <input class='tgl tgl-light' id='creditNeeded' type='checkbox' formControlName="creditNeeded"
                        [(ngModel)]="parameterDetails[33].propertyValue">
                    <label class='tgl-btn' for='creditNeeded'></label>
                    Credit Limit Alert Needed
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5 col-xs-12">
            <div class="form-group">
                <div class="tgl-group tg-mg-padd" let i="index">
                    <input class='tgl tgl-light' id='passExpiry' type='checkbox' formControlName="passExpiry"
                        [(ngModel)]="parameterDetails[34].propertyValue" (change)="secondChange($event)">
                    <label class='tgl-btn' for='passExpiry'></label>
                    Password Expiry Reminder Needed
                </div>
            </div>
            <div class="form-group" *ngIf="!isSelectedDays">
                <label>Days Before</label>
                <div class="styled-select">
                    <select class="form-control" [(ngModel)]="parameterDetails[34].days" formControlName="days"
                        id="days" autocomplete="off" >
                        <option value="Select days" disabled>
                            Selects days</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>

                    </select>
                    <span class="fa fa-sort-desc"></span>
                </div>

                <div class="error error-position"
                    *ngIf="isSystemForm.controls['days'].hasError('required') && isSystemForm.controls['days'].touched">
                    No of days required</div>
            </div>
        </div>
    </form>



    <a class="add-btn" (click)="submitParameter()" type="submit"><span>Submit</span></a>
</div>