<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                routerLink="/home/dashboard/">{{'label.AddPromotionalMarketing.Home' | translate}}</a></li>
        <!-- <li *ngIf="!Edit && !isApprove" class="breadcrumb-item active"> {{role.menuLabel}}</li>
    <li *ngIf="Edit" class="breadcrumb-item active"> {{role.menuLabel}}</li>
    <li *ngIf="isApprove" class="breadcrumb-item active">Approve {{role.menuLabel}}</li> -->
        <li class="breadcrumb-item active">{{role.menuLabel}}</li>
    </ol>
</div>
<div class="inner-head promohead">
    <!-- <h2 *ngIf="!Edit"> {{role.menuLabel}}</h2>
  <h2 *ngIf="Edit"> {{role.menuLabel}}</h2> -->
    <h2> <a (click)=back() href="javascript:void(0)" class="back-btn"><span class="icon-back"></span></a>
        {{role.menuLabel}} </h2>

</div>

<form [formGroup]="PromotionForm" [class.disabled]="isEditOrUpdate()">
    <div class="form-list promoform-list">

        <div class="col-sm-12 col-md-10 col-xs-12">
            <div class="form-group">
                <label>{{'label.AddPromotionalMarketing.DeliveryChannel' | translate}}</label>
                <div class="radio-group pushpull-radiogroup">
                    <div class="radio-btn" *ngFor="let list of listChannelId; let i=index" formArrayName="channelId">
                        <input id="checkbox-{{i}} checkbox-{{list.channelId}}" (change)="onChangeService(list,i)" type="checkbox"
                            [formControlName]="i" value="{{list.channelId}}" [(ngModel)]="list.isChecked" />
                        <label for="checkbox-{{i}}" class="radio-label">{{list.channelDesc}}</label>
                    </div>
                    <!-- <div class="radio-btn">
            <input id="checkbox-2" type="checkbox" />
            <label for="checkbox-2" class="radio-label">Email</label>
          </div>
          <div class="radio-btn">
            <input id="checkbox-3" type="checkbox" />
            <label for="checkbox-3" class="radio-label">Push Notification</label>
          </div> -->
                    <div class="error error-position error-right"
                        *ngIf="PromotionForm.controls['channelId'].hasError('required') && PromotionForm.controls['channelId'].touched">
                        {{'error.AddPromotionalMarketing.Channel' | translate}}</div>
                </div>

            </div>
        </div>

        <div class="col-sm-12 col-md-10 col-xs-12">
            <div class="form-group">
                <label>{{'label.AddPromotionalMarketing.PromotionName' | translate}}</label>
                <input type="text" [(ngModel)]="promObj.promoName" formControlName="name" class="form-control" />
                <div class="error error-position"
                    *ngIf="PromotionForm.controls['name'].hasError('required') && PromotionForm.controls['name'].touched">
                    {{'error.AddPromotionalMarketing.Promotionname' | translate}} </div>
            </div>
        </div>

        <!-- <div class="col-sm-12 col-md-10 col-xs-12">
            <div class="form-group">
                <label>Service ID</label>
     

                <p-multiSelect optionLabel="notiId" [options]="listServices" [(ngModel)]="promObj.serviceIds" formControlName="serviceId" [filter]="true">
                    <ng-template let-selectedCars pTemplate="selectedItems">
                        <span *ngFor="let selectedCar of selectedCars">{{selectedCar.notiId}}-{{selectedCar.notiDesc}}</span>
                        <span class="multi-last" *ngIf="promObj.serviceIds.length>=3"> {{promObj.serviceIds.length}}</span>
                    </ng-template>
                </p-multiSelect>
                <div class="error error-position" *ngIf="PromotionForm.controls['serviceId'].hasError('required') && PromotionForm.controls['serviceId'].touched">
                    Service id is required</div>
            </div>
        </div> -->

        <div class="col-sm-6 col-md-5 col-xs-12">
            <div class="form-group pos-rel">
                <label>{{'label.AddPromotionalMarketing.SelectDate' | translate}}</label>
                <input [owlDateTime]="dt1" [min]="minDate" formControlName="date" [owlDateTimeTrigger]="dt1"
                    [(ngModel)]="promObj.date" class="form-control" [selectMode]="'range'" placeholder="Date Time">
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

                <span class="icon-date div-date"></span>
                <!-- <input type="text" class="form-control promodaterange" />
        <span class="icon-date div-date"></span> -->
                <div class="error error-position"
                    *ngIf="PromotionForm.controls['date'].hasError('required') && PromotionForm.controls['date'].touched">
                    {{'error.AddPromotionalMarketing.Date' | translate}} </div>
                <div class="error error-position"
                    *ngIf="PromotionForm.controls['date'].hasError('owlDateTimeMin') && PromotionForm.controls['date'].touched">
                    {{'error.AddPromotionalMarketing.Date1' | translate}} </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-10 col-xs-12">
            <h3 class="promo-subtitle">{{'label.AddPromotionalMarketing.CustomerLimits' | translate}}</h3>
            <div class="promobox">
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="form-group">


                        <label>{{'label.AddPromotionalMarketing.Maximum' | translate}} </label>
                        <input type="number" class="form-control" [(ngModel)]="promObj.maxCustPerDay"
                            (input)='changeField($event,"[^0-9 -\u0600-\u06FF]","1","20","maxCustPerDay",promObj.maxCustPerDay.length)'
                            formControlName="maxCustPerDay" id="maxCustPerDay" autocomplete="off">

                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxCustPerDay'].hasError('required') && PromotionForm.controls['maxCustPerDay'].touched">
                            {{'error.AddPromotionalMarketing.Should' | translate}} </div>
                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxCustPerDay'].hasError('min') && PromotionForm.controls['maxCustPerDay'].touched">
                            {{'error.AddPromotionalMarketing.Pleaseenter' | translate}} </div>
                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxCustPerDay'].hasError('max') && PromotionForm.controls['maxCustPerDay'].touched">
                            {{'error.AddPromotionalMarketing.Pleaseenter1' | translate}} </div>
                        <!-- <div class="error error-position"
              *ngIf="PromotionForm.get('maxCustPerDay').hasError('maxlength') && PromotionForm.get('maxCustPerDay').touched">
              Please enter No.of messages not more than 20 numbers.
            </div> -->

                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="form-group">
                        <label>{{'label.AddPromotionalMarketing.Maximum1' | translate}}</label>
                        <input type="number" class="form-control" [(ngModel)]="promObj.maxCustPromo"
                            formControlName="maxCustPromo"
                            (input)='changeField($event,"[^0-9 -\u0600-\u06FF]","1","20","maxCustPromo",promObj.maxCustPromo.length)'
                            id="maxCustPromo" autocomplete="off">

                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxCustPromo'].hasError('required') && PromotionForm.controls['maxCustPromo'].touched">
                            {{'error.AddPromotionalMarketing.Should' | translate}} </div>
                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxCustPromo'].hasError('min') && PromotionForm.controls['maxCustPromo'].touched">
                            {{'error.AddPromotionalMarketing.Pleaseenter2' | translate}} </div>
                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxCustPromo'].hasError('max') && PromotionForm.controls['maxCustPromo'].touched">
                            {{'error.AddPromotionalMarketing.Pleaseenter3' | translate}} </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-10 col-xs-12">
            <h3 class="promo-subtitle">{{'label.AddPromotionalMarketing.CampaignLimits' | translate}}</h3>
            <div class="promobox">
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="form-group">
                        <label>{{'label.AddPromotionalMarketing.Maximum2' | translate}}</label>

                        <input type="number" class="form-control" [(ngModel)]="promObj.maxPromoPerDay"
                            (input)='changeField($event,"[^0-9 -\u0600-\u06FF]","1","20","maxPromoPerDay",promObj.maxPromoPerDay.length)'
                            formControlName="maxPromoPerDay" id="maxPromoPerDay" autocomplete="off">

                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxPromoPerDay'].hasError('required') && PromotionForm.controls['maxPromoPerDay'].touched">
                            {{'error.AddPromotionalMarketing.Should' | translate}}</div>
                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxPromoPerDay'].hasError('min') && PromotionForm.controls['maxPromoPerDay'].touched">
                            {{'error.AddPromotionalMarketing.Pleaseenter' | translate}} </div>
                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxPromoPerDay'].hasError('max') && PromotionForm.controls['maxPromoPerDay'].touched">
                            {{'error.AddPromotionalMarketing.Pleaseenter1' | translate}} </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="form-group">
                        <label>{{'label.AddPromotionalMarketing.Maximum3' | translate}}</label>
                        <input type="number" class="form-control" [(ngModel)]="promObj.maxForPromo"
                            formControlName="maxForPromo"
                            (input)='changeField($event,"[^0-9 -\u0600-\u06FF]","1","20","maxForPromo",promObj.maxForPromo.length)'
                            id="maxForPromo" autocomplete="off">

                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxForPromo'].hasError('required') && PromotionForm.controls['maxForPromo'].touched">
                            {{'error.AddPromotionalMarketing.Should' | translate}} </div>
                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxForPromo'].hasError('min') && PromotionForm.controls['maxForPromo'].touched">
                            {{'error.AddPromotionalMarketing.Pleaseenter1' | translate}} </div>
                        <div class="error error-position"
                            *ngIf="PromotionForm.controls['maxForPromo'].hasError('max') && PromotionForm.controls['maxForPromo'].touched">
                            {{'error.AddPromotionalMarketing.Pleaseenter2' | translate}} </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div [class.disabled]="temp.status == 'reject' || temp.status == 'approveOrReject'"
            class="col-sm-12 col-md-10 col-xs-12" formArrayName="selectedLanguage"
            *ngFor="let lang of PromotionForm['controls'].selectedLanguage['controls']; let i=index ">
            <div class="form-group text-areab" formGroupName="{{i}}">
                <label class="enablebtn-label"> {{getLanguagedescription(i)}}
                    {{'label.AddPromotionalMarketing.TextMessage' | translate}}
                    <!-- <div class="tgl-group tg-mg0 tg-mg-padd">
            <input id="msglang" type="checkbox" checked="" class="tgl tgl-light"><label for="msglang"
              class="tgl-btn"></label><span>Enable</span></div> -->
                </label>
                <div *ngIf="desc1">
                    <ckeditor  [editor]="Editor" (change)="checkParamsCK($event)"
                    [config]="config"  id="text+{{i}}"
                    (input)='changeMessageField($event,"","1","500","contactName",lang.value.length,i)'  (ready)="onReady($event)" data="<p>Enter Message Text</p>"
                    formControlName="lang" id="reason"></ckeditor>
                </div>
            
            <div *ngIf="desc || desc2">
                <textarea id="text+{{i}}" 
                    (input)='changeMessageField($event,"","1","500","contactName",lang.value.length,i)'
                    class="form-control vkey" formControlName="lang"   #text+{{i}}  (focus)="focusBody('Msgbody', i)"></textarea>






                    <button (click)="activateSpeechSearchMovie(i, getLangid2)">Give Voice </button>
                    <button (click)="stopSpeech(i, getLangid2)">Stop Voice</button>

                    <button (click)="kealuVoice(i, getLangid2)">Listen Voice</button>
                    <button (click)="stopVoice(i, getLangid2)">Stop Listening</button>


                    
                <!-- <small class="text-alert promoalert">(Max 500 Character Allowed)</small> -->
            </div>
            
                <span id="virtualkeyboard{{i}}" class="virtualkeyboard"><i class="icon-key"
                        (click)="AddKeyborad(i,lang.value.lang)"></i></span>

                <small class="text-alert promoalert">
                    <span *ngIf="lang.value.lang">
                        <code *ngIf="lang!.value!.lang!.length<=500">{{500 - lang.value.lang.length}}</code>
                        <code *ngIf="lang!.value!.lang!.length>500">0</code>
                    </span>
                    <span *ngIf="!lang.value">
                        <code>500</code>
                    </span>
                    {{'label.AddPromotionalMarketing.of' | translate}}
                    <code>500</code> {{'label.AddPromotionalMarketing.charactersleft' | translate}}</small>
                <div class="error error-position"
                    *ngIf="getLangForm(i).controls['lang'].hasError('required') && getLangForm(i).controls['lang'].touched">
                    {{'error.AddPromotionalMarketing.TextMessage' | translate}}
                </div>
                <!-- <div class="error error-position"
        *ngIf="PromotionForm.get('maxForPromo').hasError('maxlength') && PromotionForm.get('maxForPromo').touched">
        Please enter No.of messages not more than 20 numbers.
      </div> -->
            </div>
        </div>

    </div>











</form>

<div class="form-list" *ngIf="temp.status=='approveOrReject' ">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-xs-12">
            <div class="form-group">
                <label>{{'label.AddPromotionalMarketing.Reason' | translate}}</label>
                <textarea placeholder="Enter Reason" type="text" class="form-control" [(ngModel)]="promObj.reason"
                    id="reason" autocomplete="off"
                    (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","500","reason",promObj.reason.length)'></textarea>
                <div class="error error-position" *ngIf="errReasonMsg">
                    {{'error.AddPromotionalMarketing.Enter' | translate}} </div>
            </div>
        </div>
    </div>
</div>

<div class="simple-keyboard"></div>
<div class="button-right">

    <a (click)=back() class="cancel-btn">cancel</a>
    <input [class.disabled]="getAccessRole('isEdit')" *ngIf="temp.status=='edit'" (click)=Update() type="submit"
        class="add-btn" value="{{'label.AddPromotionalMarketing.Update' | translate}}" />
    <input *ngIf="temp.status=='new' || temp.status=='draft'||temp.status=='reopen'" (click)=Submit() type="submit"
        class="add-btn" value="{{'label.AddPromotionalMarketing.Add' | translate}}" />
    <input *ngIf="temp.status=='new'|| temp.status=='draft'||temp.status=='reopen'" (click)=Draft() type="submit"
        class="add-btn" value="{{'label.AddPromotionalMarketing.Save' | translate}}" />
    <input *ngIf="temp.status=='approveOrReject' &&(user.userId!=promObj.createdby||user.data.isAdminUser)"
        (click)="approve('approve')" type="submit" class="add-btn"
        value="{{'label.AddPromotionalMarketing.Approve' | translate}}" />
    <input *ngIf="temp.status=='approveOrReject' &&(user.userId!=promObj.createdby||user.data.isAdminUser)"
        (click)="approve('reject')" type="submit" class="cancel-btn"
        value="{{'label.AddPromotionalMarketing.Reject' | translate}}" />
    <input *ngIf="temp.status=='approveOrReject' &&(user.userId!=promObj.createdby||user.data.isAdminUser)"
        (click)="approve('reopen')" type="submit" class="cancel-btn"
        value="{{'label.AddPromotionalMarketing.Return' | translate}}" />


</div>


<div  [class.disabled]="temp.status == 'reject' || temp.status == 'approveOrReject'" data-toggle="modal"
    data-target="#sidemodal" rel="tooltip" data-placement="left" data-original-title="Language List"
    class="side-button languageicon"></div>

<div class="modal fade right promolanguage-model" id="sidemodal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <span class="icon-close"></span>
        </button>
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddPromotionalMarketing.LanguageList' | translate}}
                <button type="button" class="add-rightside" data-dismiss="modal" (click)="Moveto()" aria-label="Close">
                    <span class="icon-plus"></span>
                    <div class="addrole-info">{{'label.AddPromotionalMarketing.AddLanguage' | translate}}</div>
                </button>

            </div>
            <div class="modal-body">
                <div class="search-list">
                    <input class="form-control" type="text" [(ngModel)]="promObj.searchText" />
                    <span class="icon-search"></span>
                </div>


                <div class="role-list">
                    <form [formGroup]="languageForm">
                        <div class="languagelist">
                            <ul>
                                <li *ngFor="let listLanguage of listLanguage | customeTableFilter:promObj.searchText:'langDesc'; let i=index"
                                    formArrayName="language">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="listLanguage.check"
                                                [formControlName]="i" (change)="languageSelect($event,i)" />
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            <!-- {{getLanguageMasterDesctiption(i)}} -->
                                            {{listLanguage.langDesc}}
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </form>
                    <input type="submit" class="add-btn" value="{{'label.AddPromotionalMarketing.Save' | translate}}"
                        (click)="addActiveLanguage()" />
                </div>

            </div>

        </div>
    </div>
</div>
