<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.DistributionList.Home' | translate}}</a>
        </li>
        <li class="breadcrumb-item active">{{'label.DistributionList.DistributionList' | translate}}</li>
    </ol>
</div>
<div class="inner-head display-head">
    <h2>{{'label.DistributionList.DistributionList' | translate}}

    </h2>
    <a class="btn-top" (click)="downloadSampleFile()" ><span class="icon-download"></span>
        {{'label.DistributionList.downloadSampleFile' | translate}}</a>


</div>
<div class="tablesearch-sort">
    <div class="search-input">
        <div class="searchexpand">
            <input type="text" id="searchTextId" placeholder="{{'label.DistributionList.Search' | translate}}"
                [(ngModel)]="SearchValue" />
            <button type="submit"><i class="icon-search"></i></button>
        </div>
        <span class="icon-search"></span>
        <span class="icon-close1 closesearch" (click)="resetSearch()"></span>
    </div>
    <!-- <div class="search-value">
    <p class="sortby-title">Sorted by</p>
    <p>Service ID <i class="icon-close1"></i></p>
    <p class="clearall">Clear All</p>
  </div> -->
</div>
<!-- <div class="tablesearch-sort">
  <div class="search-input">
    <input type="text" placeholder="Search" [(ngModel)]="reqObj.searchText" (ngModelChange)="changeSearch()">
    <span class="icon-search"></span>
    <span class="icon-close1 closesearch"></span>
  </div>

</div> -->
<div class="respon-button">
    <div class="button-orange button-blue" [class.disabled]="getAccessRole('isEdit')">
        <a data-target="#excel-upload1" data-toggle="modal">{{'label.DistributionList.Upload' | translate}} <span
                class="icon-upload1"></span></a>
    </div>
    <div [class.disabled]="getAccessRole('isAdd')" class="button-orange" (click)="goToDistribution()"
        data-toggle="modal">
        <a>{{'label.DistributionList.Create' | translate}} <span class="icon-plus"></span></a>
    </div>
</div>
<div class="no-record" *ngIf="!listPushDistribution.length">
    {{'label.DistributionList.No' | translate}}
</div>


<div class="responsive-nt" *ngIf="listPushDistribution.length">
    <div class="tablemain">
        <table class="table datatable">


            <thead>
                <tr>
                    <th width="15%" scope="col">{{'label.DistributionList.Name' | translate}}</th>
                    <th width="30%" scope="col">{{'label.DistributionList.CreatedOn' | translate}}</th>
                    <th width="8%" scope="col" class="text-center">{{'label.DistributionList.Actions' | translate}}</th>
                </tr>
            </thead>



            <tbody>
                <tr *ngFor="let listPushDistribution of listPushDistribution ; ">
                    <td width="15%" data-th="Distribution Name" class="hover-hand ellipsis"
                        (click)="AddandEditDistribute(listPushDistribution);">
                        <a data-toggle="tooltip"
                            title="{{listPushDistribution.distributionName}} ({{listPushDistribution.count}})">
                            {{listPushDistribution.distributionName}}<span>&nbsp; ({{listPushDistribution.count}})</span>
                        </a>
                    </td>
                    <td width="30%" class="ellipsis" data-th="Created On">
                        <a title="{{listPushDistribution.createdDate  | showDate}}" data-toggle="tooltip">
                            {{listPushDistribution.createdDate  | showDate}}</a></td>
                    <td width="8%" data-th="Actions" class="text-center">
                        <div class="icon-div">
                            <i [class.disabled]="getAccessRole('isDelete')" class="icon-delete"
                                (click)="showModal(listPushDistribution)" title="Delete" data-toggle="tooltip"
                                data-placement="left"></i>
                            <i class="icon-download1 alicon-hover" (click)="download(listPushDistribution)"
                                title="Download" data-toggle="tooltip" data-placement="left"></i>
                        </div>
                    </td>
                </tr>
            </tbody>


        </table>
    </div>
</div>


<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
                <i class="icon-delete del-popup"></i>
                <h4>{{'label.DistributionList.AlertMessage' | translate}}</h4>
                <p>{{'label.DistributionList.Areyou' | translate}}</p>
                <!-- <div class="text-areabox">
          <label>Reason</label>
          <textarea class="form-control"></textarea>
          <span>(Max 500 Character Allowed)</span>

        </div>  -->
                <a (click)="deleteUser()"
                    class="add-btn"><span>{{'label.DistributionList.Submit' | translate}}</span></a>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="distributionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close close-top" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
                <i class="nodi-icon icon-madd"></i>
                <h4>{{'label.DistributionList.AddDistributionList' | translate}}</h4>
                <div class="radio-group margin20">
                    <div class="radio-btn">
                        <input id="radio-1" type="radio" name="radio" [value]="1"
                            [(ngModel)]="distribution.dlCategory" />
                        <label for="radio-1" class="radio-label">{{'label.DistributionList.Public' | translate}}</label>
                    </div>
                    <div class="radio-btn">
                        <input id="radio-2" type="radio" name="radio" [value]="2"
                            [(ngModel)]="distribution.dlCategory" />
                        <label for="radio-2"
                            class="radio-label">{{'label.DistributionList.Private' | translate}}</label>
                    </div>
                </div>
                <div class="text-areabox edit-body">

                    <div class="form-group mg0">
                        <label>{{'label.DistributionList.EnterDistributionListName' | translate}}</label>
                        <input type="text" class="form-control" autofocus [(ngModel)]="distribution.name"
                            (input)='changeField($event,"/^[ A-Za-z0-9_@./#&+-]*$/","1","50","name",distribution.name.length)'>
                    </div>


                </div>

                <a class="add-btn"
                    (click)="addDistribution()"><span>{{'label.DistributionList.Add' | translate}}</span></a>

            </div>
        </div>

    </div>
</div>

<div class="modal fade left-alignmodal" id="excel-upload1" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-medium modal-smedium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.DistributionList.UploadtoExistingList' | translate}}
                <button type="button" class="close close12" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
            </div>
            <div class="modal-body form-group">
                <div class="dragdrop-file height-pad">
                    <div class="cc-upload">
                        <div class="custom-upload">
                            <div class="input-group">
                                {{'label.DistributionList.Draganddrop' | translate}}
                                <span class="input-group-btn input-group-sm">
                                    <input type="file" value="" #uploadSingleFile class="file"
                                        (change)="onFileSelect($event)" />
                                    <button type="button"
                                        class="btn btn-fab btn-fab-mini">{{'label.DistributionList.SelectaFile' | translate}}</button>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade left-alignmodal" id="multiple-upload-file" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-medium modal-smedium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.DistributionList.SelectaFile' | translate}}
                <button type="button" class="close close12" (click)="cancelSelectMorePopup()" data-dismiss="modal"
                    aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-group">
                    <div class="upload-progres" *ngFor="let uploadFile of uploadFiles">
                        <div class="up-img"><img src="../../../assets/images/excel.svg"></div>
                        <div class="up-process">
                            <p>{{uploadFile.fileName}}</p>
                        </div>
                        <div class="up-remove">
                            <span>{{uploadFile.size}}</span>
                            <button (click)="deleteUploadFile(uploadFile)" class="icon-delete"></button>
                        </div>
                    </div>


                    <div class="up-add">

                        <input type="file" #uploadMulitpleFile value=""
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            (change)="onFileSelect($event)" class="file" />
                        <button><span
                                class="icon-plus"></span>{{'label.DistributionList.Selectmorefiles' | translate}}</button>
                    </div>
                </div>
                <div class="up-select">
                    <label>{{'label.DistributionList.SelectDistributionList' | translate}}</label>
                    <div class="up-box">
                        <div class="styled-select">
                            <select [(ngModel)]="distributionObj.distributionId">
                                <option value="undefined" selected disabled>
                                    {{'label.DistributionList.SelectDistribution' | translate}} </option>

                                <option *ngFor="let dist of listPushDistribution" value="{{dist.distributionId}}">
                                    {{dist.distributionName}}
                                </option>

                            </select>
                            <span class="fa fa-sort-desc"></span>
                        </div>
                    </div>
                </div>
                <div class="button-right">
                    <a class="add-btn" *ngIf="uploadFiles.length" (click)="checkFileContent()"><span>
                            {{'label.DistributionList.Proceed' | translate}}</span></a>
                    <a class="cancel-btn" data-dismiss="modal" (click)="cancelSelectMorePopup()"><span>
                            {{'label.DistributionList.Cancel' | translate}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="multiupload-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal notify-modallg" role="document">
        <div class="modal-content modal-pad12">

            <div class="modal-heading modal-padding">{{'label.DistributionList.DistributionList' | translate}}
                <button type="button" class="close close25" aria-label="Close" (click)="closeDetailModal()">
                    <span class="icon-close1"></span>
                </button>
            </div>
            <div class="modal-body padd-modal">
                <div class="ctn-bgray">
                    <div class="tt-contact bordernone">
                        <p>{{'label.DistributionList.Uploaded' | translate}} <br />
                            {{'label.DistributionList.Documents' | translate}} </p>
                        <span>{{this.uploadFiles.length}}</span>
                    </div>
                    <div class="tt-contact">
                        <p>{{'label.DistributionList.TotalContacts' | translate}}</p>
                        <span>{{this.fileUploadContent.validContactList.length+this.contactList.length}}</span>
                    </div>
                    <div class="tt-contact">
                        <p>{{'label.DistributionList.ErrorList' | translate}}</p>
                        <span>{{this.contactList.length}}</span>
                    </div>
                </div>
                <div class="up-filename">
                    <a *ngFor="let uploadFile of uploadFiles">{{uploadFile.fileName}}<span class="icon-delete"
                            (click)="deleteFileContent(uploadFile)"></span></a>
                    <!-- <a>Black-Grp....xlsx<span class="icon-delete"></span></a>
          <a>Black-Grp....xlsx<span class="icon-delete"></span></a> -->
                </div>
                <p style="font-size: 15px;"><b>{{'label.DistributionList.ErrorList' | translate}}</b></p>
                <div class="responsive-nt padd-35 clearfix">
                    <div class="tablemain">
                        <div class="tableheader">
                            <table class="table table-gray popupDatatable">
                                <thead>
                                    <tr>
                                        <th width="25%" scope="col">{{'label.DistributionList.ContactName' | translate}}
                                        </th>
                                        <th width="15%" scope="col">
                                            {{'label.DistributionList.MobileNumber' | translate}}</th>
                                        <th width="15%" scope="col">{{'label.DistributionList.EmailId' | translate}}
                                        </th>
                                        <th width="15%" scope="col">{{'label.DistributionList.PushToken' | translate}}
                                        </th>
                                        <th width="15%" scope="col">{{'label.DistributionList.Source' | translate}}</th>
                                        <th scope="col" width="10%" class="text-center">
                                            {{'label.DistributionList.Action' | translate}}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <!-- <tr [ngStyle]="!contacts.isActive?{'background-color': '#DAECF2',color:'#333'} : {'background-color': '#fff',color:'#333'}"
                *ngFor="let contacts of contactList; let i=index "> -->
                                    <tr *ngFor="let contacts of contactList; let i=index ">
                                        <td width="25%" data-th="Contact Name" style="color:#333">
                                            {{contacts.contactName}}</td>
                                        <td width="15%" data-th="Mobile Number" *ngIf="!contacts.validMobileNumber"
                                            style="color: #ED1C24">
                                            {{contacts.mobileNumber}}</td>
                                        <td width="15%" data-th="Mobile Number" *ngIf="contacts.validMobileNumber">
                                            {{contacts.mobileNumber}}
                                        </td>
                                        <td width="15%" data-th="Email Id" *ngIf="!contacts.validEmail"
                                            style="color: #ED1C24">
                                            {{contacts.email}}</td>
                                        <td width="15%" data-th="Email Id" *ngIf="contacts.validEmail">
                                            {{contacts.email}}</td>
                                        <td width="15%" data-th="Push Token" *ngIf="!contacts.validPushToken"
                                            style="color: #ED1C24">
                                            {{contacts.pushToken}} </td>
                                        <td width="15%" data-th="Push Token" *ngIf="contacts.validPushToken">
                                            {{contacts.pushToken}} </td>
                                        <td width="15%" data-th="Source">{{contacts.sourceFileName}}</td>
                                        <td width="10%" data-th="Actions" class="text-center">
                                            <div data-toggle="modal" data-target="#edit-upload"
                                                style="cursor: pointer; display: inline-block;"><i
                                                    (click)="editUploadContact(contacts)" title="Edit"
                                                    data-toggle="tooltip" data-placement="left"
                                                    class="icon-edit-new1 alicon-hover"></i></div>
                                            <div style="display: inline-block;"><i (click)="deleteContact(contacts)"
                                                    class="icon-delete" title="Delete" data-toggle="tooltip"
                                                    data-placement="left"
                                                    style="color: #ED1C24; cursor: pointer; font-size: 12px;"></i></div>
                                        </td>
                                        <!-- <td ><i *ngIf="!contacts.isActive" (click)="deleteContact(contacts)" class="icon-delete" style="color: #ED1C24"></i>
                    <i *ngIf="contacts.isActive" class="icon-tick" style="color: green;"></i></td> -->
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="button-right">
                    <a class="add-btn" *ngIf="!contactList.length" (click)="proceedData()"><span>
                            {{'label.DistributionList.Proceed' | translate}}</span></a>
                    <a class="cancel-btn" (click)="closeDetailModal()"><span>
                            {{'label.DistributionList.Cancel' | translate}}</span></a>
                </div>
                <!-- <div class="foot-btn" *ngIf="contactCount.invalid==0">
          <a class="add-btn" (click)="uploadContacts()"><span>Upload</span></a>
        </div> -->
            </div>

        </div>
    </div>
</div>

<div class="modal fade left-alignmodal" id="edit-upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-medium modal-smedium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.DistributionList.EditContact' | translate}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>

            </div>
            <form [formGroup]="updateUploadContact">

                <div class="modal-body">
                    <div class="row margin20">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>{{'label.DistributionList.Name' | translate}}</label>
                                <input type="text" [(ngModel)]="uploadEditContact.contactName"
                                    formControlName="mainName" id="mainName" name="mainName" class="form-control">
                                <div class="error error-position"
                                    *ngIf="updateUploadContact.controls['mainName'].hasError('required') && updateUploadContact.controls['mainName'].touched">
                                    {{'error.DistributionList.Name' | translate}} </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group phone-mumber">
                                <label>{{'label.DistributionList.PhoneNumber' | translate}} </label>

                                <!-- <select formControlName="opPreMobileNo" [(ngModel)]="distObj.opPreMobileNo" id="opPreMobileNo"
                  class="styled-select">
                  <option *ngFor="let countryCodes of listCountryCode; let i=index " value="{{countryCodes.countryCode}}">
                    {{countryCodes.countryCode}}
                  </option>
                </select>
                <div class="error error-position error-right"
                  *ngIf="BeforeDistList.controls['opPreMobileNo'].hasError('required') && BeforeDistList.controls['opPreMobileNo'].touched">
                  Code is required</div> -->


                                <ngx-intl-tel-input [cssClass]="'custom'" [enablePlaceholder]="true"
                                    [searchCountryFlag]="true" [maxLength]="15"  
       
                                    [selectedCountryISO]="uploadEditContact.mobileIso"
                                    [tooltipField]="TooltipLabel.Name" [separateDialCode]="separateDialCode"
                                    name="CorpPreMobileNo" formControlName="phoneNumber"
                                    [(ngModel)]="uploadEditContact.phoneNumber">
                                </ngx-intl-tel-input>

                                <div class="error error-position"
                                    *ngIf="updateUploadContact.controls['phoneNumber'].hasError('validatePhoneNumber') && updateUploadContact.controls['phoneNumber'].touched">
                                    {{'error.DistributionList.Invalidphone' | translate}}
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>{{'label.DistributionList.Email' | translate}}</label>
                                <input type="text" [(ngModel)]="uploadEditContact.email" formControlName="email"
                                    id="email" name="email" class="form-control">
                                <div class="error error-position"
                                    *ngIf="updateUploadContact.controls['email'].hasError('required') && updateUploadContact.controls['email'].touched">
                                    {{'error.DistributionList.Emailrequired' | translate}} </div>


                                <div class="error error-position"
                                    *ngIf="updateUploadContact.controls['email'].hasError('email') && updateUploadContact.controls['email'].touched">
                                    {{'error.DistributionList.ValidEmail' | translate}}</div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>{{'label.DistributionList.PushToken' | translate}}</label>
                                <input type="text" [(ngModel)]="uploadEditContact.pushToken" formControlName="pushToken"
                                    id="pushToken" name="pushToken" class="form-control">
                                <div class="error error-position"
                                    *ngIf="updateUploadContact.controls['pushToken'].hasError('required') && updateUploadContact.controls['pushToken'].touched">
                                    {{'error.DistributionList.PushToken' | translate}}</div>


                            </div>
                        </div>
                    </div>
                    <div class="button-right">
                        <a class="add-btn"
                            (click)="saveUploadEditContact()"><span>{{'label.DistributionList.Update' | translate}}</span></a>
                        <a class="cancel-btn"
                            data-dismiss="modal"><span>{{'label.DistributionList.Cancel' | translate}}</span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>