<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.AddMaskType.Home' | translate}} </a></li>
        <li class="breadcrumb-item active">{{'label.AddMaskType.MaskType' | translate}}</li>
    </ol>
</div>


<div class="inner-head campadd-head display-head">
    <h2 class="edit-service">
        <a (click)=back() href="javascript:void(0)" class="back-btn">
            <span class="icon-back"></span></a>
        <span>{{'label.AddMaskType.AddMaskType' | translate}}</span>

    </h2>

    <!-- <div class="active-sec">
        <div class="active-btn">Active <span class="icon-edit-new" data-toggle="modal" (click)= openModal() ></span>
        </div>
    </div> -->
    <span *ngIf="statusHideInAdd">
        <span *ngIf="defaultTrue">
            <div class="active-sec">
                <div class="active-btn">{{'label.AddMaskType.Active' | translate}} <span class="icon-edit-new"
                        data-toggle="modal" (click)=openModal()></span>
                </div>
            </div>
        </span>
        <span *ngIf="!defaultTrue">
            <div class="active-sec">
                <div class="active-btn active-btn-red">{{'label.AddMaskType.Inactive' | translate}} <span
                        class="icon-edit-new" data-toggle="modal" (click)=openModal()></span>
                </div>
            </div>
        </span>
    </span>

</div>


<div class="form-list">
    <div class="row">


        <form [formGroup]="maskForm">

            <div class="col-sm-12 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddMaskType.MaskName' | translate}}</label>

                    <input type="text" class="form-control" [(ngModel)]="maskObj.maskName"
                        formControlName="maskTypeName" id="maskTypeName" autocomplete="off" maxlength="30"/>

                    <div class="error error-position"
                        *ngIf="maskForm.controls['maskTypeName'].hasError('required') && maskForm.controls['maskTypeName'].touched">
                        {{'error.AddMaskType.MaskName' | translate}}   </div>
                </div>
            </div>



            <div class="col-sm-12 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddMaskType.MaskType' | translate}}</label>
                    <div class="styled-select">
                        <select class="form-control" [(ngModel)]="maskObj.maskType" formControlName="maskType"
                            id="maskType" autocomplete="off" (change)="maskType($event)">
                            <option value="Select Mask Type" disabled>
                                {{'label.AddMaskType.SelectMaskType' | translate}}</option>
                            <option *ngFor="let MaskTypeMasterList of MaskTypeMasterList; let i=index "
                                value="{{MaskTypeMasterList.id}}">{{MaskTypeMasterList.maskTypes}}</option>

                        </select>
                        <span class="fa fa-sort-desc"></span>
                    </div>

                    <div class="error error-position"
                        *ngIf="maskForm.controls['maskType'].hasError('required') && maskForm.controls['maskType'].touched">
                        {{'error.AddMaskType.MaskType' | translate}}</div>
                </div>
            </div>

            <!-- Date -->
            <!-- Date -->
            <!-- Date -->

            <div class="col-sm-12 col-md-5 col-xs-12" *ngIf="!showThree">
                <div class="form-group">
                    <label>{{'label.AddMaskType.DateFormats' | translate}}</label>
                    <div class="styled-select">
                        <select class="form-control" [(ngModel)]="maskObj.dateFormat" formControlName="date" id="date"
                            autocomplete="off">
                            <option value="Select Date Format" disabled>
                                {{'label.AddMaskType.SelectDateFormat' | translate}}</option>
                            <option *ngFor="let listDate of listDate; let i=index " value="{{listDate.dateFormats}}">
                                {{listDate.dateFormats}}</option>

                        </select>
                        <span class="fa fa-sort-desc"></span>
                    </div>

                    <div class="error error-position"
                        *ngIf="maskForm.controls['date'].hasError('required') && maskForm.controls['date'].touched">
                        {{'error.AddMaskType.DateFormat' | translate}} </div>
                </div>
            </div>




            <!-- Amount -->
            <!-- Amount -->
            <!-- Amount -->

            <div class="col-sm-12 col-md-5 col-xs-12" *ngIf="!showFour">
                <div class="form-group">
                    <label>{{'label.AddMaskType.AmountFormat' | translate}}</label>


                    <input type="text" class="form-control" [(ngModel)]="maskObj.amountRange" formControlName="amount"
                        id="amount" autocomplete="off" />

                    <div class="error error-position"
                        *ngIf="maskForm.controls['amount'].hasError('required') && maskForm.controls['amount'].touched">
                        {{'error.AddMaskType.Amount' | translate}}</div>
                </div>
            </div>


            <!-- Email -->
            <!-- Email -->
            <!-- Email -->

            <div class="col-sm-12 col-md-5 col-xs-12" *ngIf="!showFive">
                <div class="form-group">
                    <label>{{'label.AddMaskType.EmailFormat' | translate}}</label>


                    <input type="text" class="form-control" [(ngModel)]="maskObj.emailMask" formControlName="email"
                        id="email" autocomplete="off" />

                    <div class="error error-position"
                        *ngIf="maskForm.controls['email'].hasError('required') && maskForm.controls['email'].touched">
                        {{'error.AddMaskType.Email' | translate}}  </div>
                </div>
            </div>

            <!-- Mask Required -->
            <!-- Mask Required -->
            <!-- Mask Required -->

            <div class="col-sm-12 col-md-5 col-xs-12" *ngIf="!showOne">
                <div class="form-group">
                    <div class="tgl-group tg-mg-padd" let i="index">
                        <input class='tgl tgl-light' id='mask-required' type='checkbox' formControlName="maskEnabled"
                            [(ngModel)]="maskObj.maskEnabled" (change)="toggleVisiblity($event)">
                        <label class='tgl-btn' for='mask-required'></label>
                        {{'label.AddMaskType.Mask' | translate}}
                    </div>

                    <!-- <div class="form-group">
            <label>Mask Required/Enabled <span class="required">*</span></label>
            <div class="radio-group pushpull-radiogroup" (change)='toggleVisiblity($event)'>
                <div class="radio-btn">
                    <input type="radio" name="maskEnabled" value="Hide" formControlName="maskEnabled"
                        [(ngModel)]="maskObj.maskEnabled" id="Hide" />
                    <label class="radio-label" for="Hide">Hide</label>
                </div>
                <div class="radio-btn">
                    <input type="radio" name="maskEnabled" value="Mask" formControlName="maskEnabled"
                        [(ngModel)]="maskObj.maskEnabled" id="Mask" />
                    <label class="radio-label" for="Mask">Mask</label>
                </div>
            </div>
            <div class="error error-position"
                *ngIf="maskForm.controls['maskEnabled'].hasError('required') && maskForm.controls['maskEnabled'].touched">
                Mask is Required
            </div>
           
        </div> -->



                </div>


                <!-- Acct Number Length -->
                <!-- Acct Number Length -->
                <!-- Acct Number Length -->
                <!-- Acct Number Length -->

                <div class="form-group">
                    <label>{{'label.AddMaskType.Length' | translate}}</label>

                    <input type="number" class="form-control" [(ngModel)]="maskObj.totalLength" formControlName="length"
                        id="length" autocomplete="off"  min="1" max="999" onKeyPress="if(this.value.length == 3) return false"/>

                    <div class="error error-position"
                        *ngIf="maskForm.controls['length'].hasError('required') && maskForm.controls['length'].touched">
                        {{'error.AddMaskType.Length' | translate}} </div>

                </div>

                <!-- Range To be MAsked -->
                <!-- Range To be MAsked -->
                <!-- Range To be MAsked -->
                <!-- Range To be MAsked -->
                <div class="form-group">
                    <label>{{'label.AddMaskType.Ranges' | translate}}</label>

                    <input type="text" class="form-control" [(ngModel)]="maskObj.maskPosition"
                        formControlName="rangeToBeMasked" id="rangeToBeMasked" autocomplete="off" maxlength="30"/>

                    <div class="error error-position"
                        *ngIf="maskForm.controls['rangeToBeMasked'].hasError('required') && maskForm.controls['rangeToBeMasked'].touched">
                        {{'error.AddMaskType.Ranges' | translate}} </div>

                </div>

                <!-- Mask Character-->
                <!-- Mask Character-->
                <!-- Mask Character-->

                <div class="form-group" *ngIf="!showInnerOne">
                    <label>{{'label.AddMaskType.MaskCharacter' | translate}}</label>

                    <input type="text" class="form-control" [(ngModel)]="maskObj.maskChar" formControlName="maskChar"
                    (input)='changeField($event,"[^A-Za-z0-9_@./#&+-$%*(^)]","1","1","maskChar",maskObj.maskChar.length)' id="maskChar" autocomplete="off" />

                    <div class="error error-position"
                        *ngIf="maskForm.controls['maskChar'].hasError('required') && maskForm.controls['maskChar'].touched">
                        {{'error.AddMaskType.MaskCharacter' | translate}} </div>

                </div>




            </div>
        </form>
    </div>
    <input *ngIf="temp.status=='edit'" (click)=Update() type="submit" class="add-btn" value="{{'label.AddMaskType.Update' | translate}}" />
    <input *ngIf="temp.status=='new'" (click)=Submit() type="submit" class="add-btn" value="{{'label.AddMaskType.Submit' | translate}}" />
</div>

<div class="modal fade left-alignmodal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog notify-modal modal-medium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddMaskType.EditStatus' | translate}}
                <button type="button" class="close close12" data-dismiss="modal" aria-label="Close">
                  <span class="icon-close1"></span>
                </button>
            </div>
            <form [formGroup]="isActiveForm">

                <div class="modal-body">
                    <div class="status-list">
                        <div class="status-toggle">
                            <p>{{'label.AddMaskType.Status' | translate}}</p>
                            <div class="tgl-group" let i="index">
                                <input class='tgl tgl-light' type='checkbox' id='display-isActiveTop' formControlName="isActive" (change)="activeNameChange()" [(ngModel)]="maskObj.isActive">
                                <label class='tgl-btn' for="display-isActiveTop"></label>
                                <!-- <span>Active</span> -->
                                <span *ngIf="active">{{'label.AddMaskType.Active' | translate}}</span>
                                <span *ngIf="!active">{{'label.AddMaskType.Inactive' | translate}}</span>
                            </div>
                        </div>

                        <div class="text-areabox">
                            <label>{{'label.AddMaskType.Reason' | translate}}</label>
                            <textarea class="form-control" [(ngModel)]="maskObj.reason" formControlName="reason" id="reason"></textarea>

                            <div class="error error-position" *ngIf="isActiveForm.controls['reason'].hasError('required') && isActiveForm.controls['reason'].touched">
                                {{'error.AddMaskType.Reason' | translate}}</div>
                        </div>


                    </div>
                    <br />
                    <a  class="add-btn" (click)=ActiveUpdate() type="submit"><span>{{'label.AddMaskType.Update' | translate}}</span></a>
                    <a class="cancel-btn" (click)=closeModal()><span>{{'label.AddMaskType.Cancel' | translate}}</span></a>

                </div>
            </form>

        </div>
    </div>
</div>