<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.AddTemplates.Home' | translate}}</a></li>

        <li class="breadcrumb-item active">{{role.menuLabel}}</li>
    </ol>
</div>
<div class="inner-head display-head">

    <h2><a (click)=back() href="javascript:void(0)" class="back-btn"><span
                class="icon-back"></span></a>{{role.menuLabel}}

    </h2>
    <div class="active-sec active-sec2">

        <span *ngIf="statusHideInAdd">
            <span *ngIf="defaultTrue">
                <div class="active-sec">
                    <div class="active-btn">{{'label.AddTemplates.Active' | translate}} <span class="icon-edit-new"
                            data-toggle="modal" (click)=openModal()></span>
                    </div>
                </div>
            </span>
            <span *ngIf="!defaultTrue">
                <div class="active-sec">
                    <div class="active-btn active-btn-red">{{'label.AddTemplates.Inactive' | translate}} <span
                            class="icon-edit-new" data-toggle="modal" (click)=openModal()></span>
                    </div>
                </div>
            </span>
        </span>
    </div>


</div>
<form [formGroup]="DefaultForm" [class.disabled]="isEditOrUpdate()">
    <div class="form-list">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddTemplates.Service' | translate}}</label>
                    <div class="styled-select">
                        <select class="form-control" (change)="changeService($event)" [(ngModel)]="defaultObj.notiId"
                            formControlName="notiId" id="notiId" autocomplete="off">
                            <option value="undefined" selected disabled>
                                {{'label.AddTemplates.SelectService' | translate}}</option>
                            <option *ngFor="let listMessageTemplates of listMessageTemplates; let i=index "
                                value="{{listMessageTemplates.notiId}}">{{listMessageTemplates.notiId}} -
                                {{listMessageTemplates.notiDesc}}</option>

                        </select>
                        <span class="fa fa-sort-desc"></span>
                    </div>

                    <div class="error error-position"
                        *ngIf="DefaultForm.controls['notiId'].hasError('required') && DefaultForm.controls['notiId'].touched">
                        {{'error.AddTemplates.Serviceid' | translate}}</div>
                </div>
            </div>



            <div class="col-sm-12 col-md-5 col-xs-12">
                <div class="form-group">
                    <label style="opacity: 0;">{{'label.AddTemplates.SelectedChannel' | translate}}</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedChannel.channelName"
                        formControlName="selectedChannel">
                    <input type="hidden" class="form-control" [(ngModel)]="selectedChannel.channelId"
                        formControlName="selectedChannelId">
                    <!-- <div class="radio-group pushpull-radiogroup" >
          <div class="radio-btn" [formGroupName]="i" *ngFor="let channel of listChannelId; let i=index" formArrayName="channelId">
            <input id="checkbox-{{i}}" (change)="onChangeService(channel)" type="checkbox" [formControlName]="i"
              value="{{channel.channelId}}" [(ngModel)]="channel.isChecked" />
            <label for="checkbox-{{i}}" class="radio-label">{{channel.channelDesc}}</label>
          </div>
 
          <div class="error error-position"
            *ngIf="DefaultForm.controls['channelId'].hasError('required') && DefaultForm.controls['channelId'].touched">
            Channel is required</div>
        </div> -->




                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-10 col-xs-12">
            <span *ngIf="showType">
                <div class="row">

                    <div class="form-group">
                        <label>{{'label.AddTemplates.MessageType' | translate}}</label>
                        <div class="radio-group compaign-radio">
                            <!-- <div class="radio-btn">
                              <input id="radio-1" type="radio" name="smsResult" value="Success" formControlName="smsResult" [(ngModel)]="defaultObj.smsResult" />
                              <label for="radio-1" class="radio-label">Success</label>
                       </div>
                            <div class="radio-btn">
                              <input id="radio-2" type="radio" name="smsResult" value="Failure" formControlName="smsResult" [(ngModel)]="defaultObj.smsResult" />
                              <label for="radio-2" class="radio-label">Failure</label>
                        </div> -->

                            <div class="radio-group compaign-radio">
                                <div class="radio-btn" *ngFor="let stat of showSuccessandFailure let i=index;">
                                    <input formControlName="smsResult" id="radio-{{i}}" type="radio"
                                        [(ngModel)]="defaultObj.smsResult" value="{{stat.junk}}" />
                                    <label for="radio-{{i}}" class="radio-label">{{stat.junk}}</label>
                                    <span class="i-bg"></span>
                                </div>

                            </div>

                        </div>
                    </div> 
                </div>
            </span>
        </div>


        <div class="col-sm-12 col-md-10 col-xs-12">
            <div class="row">

                <div class="service-bg message-temp">
                    <div class="row">
                        <!-- <div class="col-sm-12 col-md-12 col-xs-12">
            <label class="enablebtn-label">English Text Message - default language
              <div class="tgl-group tg-mg0 tg-mg-padd"><input id="msglang" type="checkbox" checked="" class="tgl tgl-light"><label for="msglang" class="tgl-btn"></label><span>Enable</span></div>
          </label>
        </div> -->
                    </div>
                    <div class="keyboard-holder"
                        [class.disabled]="temp.status == 'reject' || temp.status == 'approveOrReject'"
                        formArrayName="selectedLanguage"
                        *ngFor="let lang of DefaultForm['controls'].selectedLanguage['controls']; let i=index ">
                        <div class="form-group text-areab" *ngIf="showCk">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-xs-12">
                                    <div class="form-group text-areab" formGroupName="{{i}}">
                                        <label style="width: 100%;margin: 7px 0;"> {{getLanguagedescription(i)}}
                                          {{temp.status}}  {{'label.AddTemplates.TextMessage' | translate}}</label>

                                        <ckeditor class="edd" [editor]="Editor" id="text"  [config]="config"
                                            (ready)="onReady($event)"  data="<p>Enter Message Text</p>"
                                            formControlName="lang" #lang></ckeditor>
                                            
                                    </div>
                                    <div class="error error-position"
                                        *ngIf="getLangForm(i).controls['lang'].hasError('required') && getLangForm(i).controls['lang'].touched">
                                        {{'error.AddTemplates.TextMessage' | translate}}
                                    </div>


                                    <div class="error error-position"
                                        *ngIf="getLangForm(i).controls['lang'].hasError('notClosed') && getLangForm(i).controls['lang'].touched">
                                        {{'error.AddTemplates.Parameter' | translate}}
                                    </div>

                                    <div class="error error-position"
                                        *ngIf="getLangForm(i).controls['lang'].hasError('notThere') && getLangForm(i).controls['lang'].touched">
                                        {{'error.AddTemplates.Parameterdoesnot' | translate}}
                                    </div>
                                    <div class="error error-position"
                                        *ngIf="getLangForm(i).controls['lang'].hasError('serviceId') && getLangForm(i).controls['lang'].touched">
                                        {{'error.AddTemplates.KindlySelect' | translate}}
                                    </div>


                                </div>
                            </div>
                            <div class="button-right">
                                <a class="add-btn test-sms add-testsms" data-toggle="modal"
                                    data-target="#parameter-modal" (click)="showParamater(i)">
                                    <span class="icon-plus"></span>{{'label.AddTemplates.AddParameters' | translate}}
                                </a>

                                <a class="add-btn test-sms" data-toggle="modal" data-target="#preview-modal"
                                    (click)="preview(i)"><img src="../../../assets/images/text-sms.png">
                                    {{'label.AddTemplates.PreviewText' | translate}}</a>
                            </div>


                        </div>
                        <div class="col-xs-12">
                            <div class="form-group text-areab" formGroupName="{{i}}" *ngIf="showSMSText"
                                style="width: calc(100% - 30px);">
                                <label class="enablebtn-label"> {{getLanguagedescription(i)}}
                                    {{'label.AddTemplates.TextMessage' | translate}}
                                    <!-- <div class="tgl-group tg-mg0 tg-mg-padd">
            <input id="msglang" type="checkbox" checked="" class="tgl tgl-light"><label for="msglang"
              class="tgl-btn"></label><span>Enable</span></div> -->
                                </label>
                         
                                <textarea class="form-control vkey " formControlName="lang" value={{value}}
                                (input)='changeMessageField($event,i,getLangid)' (focus)="focusBody('Msgbody', i)" id="text+{{i}}" #text+{{i}}  (change)="checkParameters(i)"
                                    #lang></textarea>
                                <!-- <textarea class="form-control vkey" formControlName="lang"  (input)='checkvalue($event,"<@","@>","i")' #lang></textarea> -->

                                <button (click)="activateSpeechSearchMovie(i, getLangid2)">Give Voice </button>
                                <button (click)="ngOnDestroy(i, getLangid)">Stop Voice</button>

                                <button (click)="kealuVoice(i, getLangid2)">Listen Voice</button>
                                <button (click)="stopVoice(i, getLangid)">Stop Listening</button>

                                <span class="virtualkeyboard"><i class="icon-key" (click)="AddKeyborad(i,value)"></i></span>        
                                <div class="error error-position"
                                    *ngIf="getLangForm(i).controls['lang'].hasError('required') && getLangForm(i).controls['lang'].touched">
                                    {{'error.AddTemplates.TextMessage' | translate}}
                                </div>
                                <div class="error error-position"
                                    *ngIf="getLangForm(i).controls['lang'].hasError('maxlength') && getLangForm(i).controls['lang'].touched">
                                    {{'error.AddTemplates.ReachedMax' | translate}}
                                </div>

                                <span id="virtualkeyboard{{i}}" class="virtualkeyboard"><i class="icon-key"
                                        (click)="AddKeyborad(i,lang.value.lang)"></i></span>
                                <div class="error error-position"
                                    *ngIf="getLangForm(i).controls['lang'].hasError('required') && getLangForm(i).controls['lang'].touched">
                                    {{'error.AddTemplates.TextMessage' | translate}}
                                </div>
                                <div class="error error-position"
                                    *ngIf="getLangForm(i).controls['lang'].hasError('maxlength') && getLangForm(i).controls['lang'].touched">
                                    {{'error.AddTemplates.ReachedMax' | translate}}
                                </div>


                                <div class="error error-position"
                                    *ngIf="getLangForm(i).controls['lang'].hasError('notClosed') && getLangForm(i).controls['lang'].touched">
                                    {{'error.AddTemplates.Parameter' | translate}}
                                </div>

                                <div class="error error-position"
                                    *ngIf="getLangForm(i).controls['lang'].hasError('notThere') && getLangForm(i).controls['lang'].touched">
                                    {{'error.AddTemplates.Parameterdoesnot' | translate}}
                                </div>
                                <div class="error error-position"
                                    *ngIf="getLangForm(i).controls['lang'].hasError('serviceId') && getLangForm(i).controls['lang'].touched">
                                    {{'error.AddTemplates.KindlySelect' | translate}}
                                </div>
                                <small class="form-text text-muted"><code>{{500 - lang.value.length}}</code>
                                    {{'label.AddTemplates.of' | translate}}
                                    <code>{{maxIncidentDescriptionLength}}</code>{{'label.AddTemplates.charactersleft' | translate}}
                                </small>


                            </div>
                        </div>
                        <div formGroupName="{{i}}" *ngIf="showHeader">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group text-areab" style="width: calc(100% - 30px);">
                                    <label>{{getLanguagedescription(i)}}
                                        {{'label.AddTemplates.HeaderText' | translate}}</label>
                                    <textarea class="form-control" formControlName="headerText" id="headerText+{{i}}" value="{{value}}"
                                    (focus)="focusHeader('msgHeader', i)"  (input)='changeField($event,"/^[ A-Za-z0-9_@./#&+-]*$/","1","500","headerText",headerText.value.length)'
                                        #headerText></textarea>

                                        <span class="virtualkeyboard" class="add-msg-temIcon" style="right:-38px">
                                            <i class="icon-key" (click)="AddKeyboradHeader(i,value)"></i></span>
                                    <div class="error error-position"
                                        *ngIf="getLangForm(i).controls['headerText'].hasError('required') && getLangForm(i).controls['headerText'].touched">
                                        {{'error.AddTemplates.HeaderText' | translate}}
                                    </div>
                                    <div class="error error-position"
                                        *ngIf="getLangForm(i).controls['headerText'].hasError('maxlength') && getLangForm(i).controls['headerText'].touched">
                                        {{'error.AddTemplates.ReachedMax1' | translate}}
                                    </div>
                                    <small class="form-text text-muted"><code>{{500 - headerText.value.length}}</code>
                                        {{'label.AddTemplates.of' | translate}}
                                        <code>{{maxIncidentDescriptionLength}}</code>{{'label.AddTemplates.charactersleft' | translate}}
                                    </small>
                                </div>
                            </div>



                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group text-areab" style="width: calc(100% - 30px);">
                                    <label>{{getLanguagedescription(i)}}
                                        {{'label.AddTemplates.FooterText' | translate}}</label>
                                    <textarea class="form-control" formControlName="footerText" id="footerText+{{i}}" value="{{value}}"
                                    (focus)="focusFooter('msgFooter', i)"  (input)='changeFieldFooter($event,"/^[ A-Za-z0-9_@./#&+-]*$/","1","500","footerText",footerText.value.length,i)'
                                        #footerText></textarea>
                                        <span class="virtualkeyboard"><i class="icon-key" (click)="AddKeyborad1(i,value)"></i></span>
                                    <div class="error error-position"
                                        *ngIf="getLangForm(i).controls['footerText'].hasError('required') && getLangForm(i).controls['footerText'].touched">
                                        {{'error.AddTemplates.FooterText' | translate}}
                                    </div>
                                    <div class="error error-position"
                                        *ngIf="getLangForm(i).controls['footerText'].hasError('maxlength') && getLangForm(i).controls['footerText'].touched">
                                        {{'error.AddTemplates.FooterTextMax' | translate}}
                                    </div>

                                    <small class="form-text text-muted"><code>{{500 - footerText.value.length}}</code>
                                        {{'label.AddTemplates.of' | translate}}
                                        <code>{{maxIncidentDescriptionLength}}</code>{{'label.AddTemplates.charactersleft' | translate}}</small>
                                </div>
                            </div>

                        </div>


                        <div formGroupName="{{i}}" *ngIf="lowerParamaters">


                            <div class="button-right">
                                <a class="add-btn test-sms add-testsms" data-toggle="modal"
                                    data-target="#parameter-modal" (click)="showParamater(i)">
                                    <span class="icon-plus"></span>
                                    {{'label.AddTemplates.AddParameters' | translate}} </a>


                                <!-- <div class="button-right">
        <a class="add-btn test-sms add-testsms" data-toggle="modal"  data-target="#parameter-modal" (click)="showParamater(i)"><img
          src="../../../assets/images/text-sms.png">Add Parameters</a> 
      </div> -->

                                <a class="add-btn test-sms" data-toggle="modal" data-target="#preview-modal"
                                    (click)="preview(i)"><img src="../../../assets/images/text-sms.png">
                                    {{'label.AddTemplates.PreviewText' | translate}}</a>
                            </div>


                        </div>
                        <div formGroupName="{{i}}">
                            <input type="hidden" formControlName="ide" id="ide" #ide>

                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>
</form>

<!-- <div class="form-list" *ngIf="temp.status=='approveOrReject'">
  <div class="row">
    <div class="col-sm-6 col-md-5 col-xs-12">
      <div class="form-group">
        <label>Reason</label>
        <textarea placeholder="Enter Reason" type="text" class="form-control" [(ngModel)]="defaultObj.reason"
          id="reason" autocomplete="off"
          (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","500","reason",defaultObj.reason.length)'></textarea>
        <div class="error error-position" *ngIf="errReasonMsg">Enter reason</div>

      </div>


    </div>
  </div>
</div> -->


<div class="form-list" *ngIf="temp.status=='approveOrReject'">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-xs-12">
            <div class="form-group">
                <label>{{'label.AddTemplates.Reason' | translate}}</label>
                <textarea placeholder="Enter Reason" type="text" class="form-control" [(ngModel)]="defaultObj.reason"
                    id="reason" autocomplete="off"
                    (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF]","1","500","reason",defaultObj.reason.length)'></textarea>
                <div class="error error-position" *ngIf="errReasonMsg">
                    {{'error.AddTemplates.Enter' | translate}}</div>

            </div>


        </div>
    </div>
</div>

<div class="simple-keyboard"></div>

<div class="button-right">


    <input [class.disabled]="getAccessRole('isEdit')" *ngIf="temp.status=='edit'" (click)=Update() type="submit"
        class="add-btn" value="{{'label.AddTemplates.Update' | translate}}" />
    <input [class.disabled]="getAccessRole('isAdd')"
        *ngIf="temp.status=='new' || temp.status=='draft'||temp.status=='reopen'" (click)=Submit() type="submit"
        class="add-btn" value="{{'label.AddTemplates.Submit' | translate}}" />
    <input [class.disabled]="getAccessRole('isAdd')"
        *ngIf="temp.status=='new'|| temp.status=='draft'||temp.status=='reopen'" (click)=Draft() type="submit"
        class="add-btn" value="{{'label.AddTemplates.Save' | translate}}" />
    <input *ngIf="temp.status=='approveOrReject' &&(user.userId!=defaultObj.createdBy||user.data.isAdminUser)"
        (click)="approve('approve')" type="submit" class="add-btn"
        value="{{'label.AddTemplates.Approve' | translate}}" />
    <input *ngIf="temp.status=='approveOrReject' &&(user.userId!=defaultObj.createdBy||user.data.isAdminUser)"
        (click)="approve('reject')" type="submit" class="cancel-btn"
        value="{{'label.AddTemplates.Reject' | translate}}" />
    <input *ngIf="temp.status=='approveOrReject' &&(user.userId!=defaultObj.createdBy||user.data.isAdminUser)"
        (click)="approve('reopen')" type="submit" class="cancel-btn"
        value="{{'label.AddTemplates.Return' | translate}}" />
    <a (click)=back() class="cancel-btn">cancel</a>
</div>

<div class="modal fade left-alignmodal" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal modal-medium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddTemplates.EditStatus' | translate}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>

                </button>
            </div>
            <div class="modal-body">
                <div class="status-list">
                    <div class="status-toggle">
                        <p>{{'label.AddTemplates.Status' | translate}}</p>
                        <div class="tgl-group">
                            <input class='tgl tgl-light' id='display-creditLimit' type='checkbox'>
                            <label class='tgl-btn' for='display-creditLimit'></label><span>
                                <span>{{'label.AddTemplates.Active' | translate}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="text-areabox">
                        <label>{{'label.AddTemplates.Reason' | translate}}</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <br />
                <a class="add-btn"><span>{{'label.AddTemplates.Update' | translate}}</span></a>
                <a class="cancel-btn"><span>{{'label.AddTemplates.Cancel' | translate}}</span></a>

            </div>

        </div>
    </div>
</div>



<div class="modal fade left-alignmodal" id="preview-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddTemplates.Preview' | translate}}</div>
            <div class="modal-body">
                <div class="previewmodel-body" *ngFor="let previews of previewText">
                    <p class="mg0">{{previews.headerText}}</p>
                    <p class="mg0" [innerHtml]="previews.lang | safe"></p>

                    <p class="mg0">{{previews.footerText}}</p>

                </div>
                <a class="add-btn" (click)="okPreview()">{{'label.AddTemplates.Ok' | translate}}</a>
            </div>
        </div>
    </div>
</div>





<div class="modal fade left-alignmodal" id="parameter-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddTemplates.AddParameters' | translate}}
                <button type="button" class="close close12" (click)="okDone()" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
            </div>
            <div class="modal-body search-inr-csmr">
                <!-- Text Field -->
                <!-- Text Field -->
                <!-- Text Field -->
                <!-- Text Field -->
                <div class="responsive-nt" *ngIf="textFieldData">
                    <h6 class="srch-result"><span>{{listTemplateParameters.length}}</span>
                        {{'label.AddTemplates.Resultfoundfor' | translate}} <span class="user-bold">
                            " {{'label.AddTemplates.TextField' | translate}} "</span></h6>
                    <div class="tablemain" style="margin-right: 0;">
                        <table class="designdata-table table">
                            <thead>
                                <tr>
                                    <th>{{'label.AddTemplates.FieldName' | translate}}
                                        ({{listTemplateParameters.length}})</th>
                                    <th>{{'label.AddTemplates.FieldPosition' | translate}}</th>
                                    <th>{{'label.AddTemplates.StartPosition' | translate}}</th>
                                    <th>{{'label.AddTemplates.EndPosition' | translate}}</th>
                                    <th>{{'label.AddTemplates.DataType' | translate}}</th>
                                    <th>{{'label.AddTemplates.MaskType' | translate}}</th>
                                    <th class="text-center">{{'label.AddTemplates.Actions' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let paremrs of listTemplateParameters">
                                    <td data-th="Template Name" (click)="getFieldName(paremrs.fieldName)">
                                        <a>{{paremrs.fieldName}}</a></td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">
                                        {{paremrs.fieldPosition}}</td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">
                                        {{paremrs.startPosition}}</td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.endPosition}}
                                    </td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.dataType}}
                                    </td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.maskType}}
                                    </td>
                                    <td data-th="Open"><i
                                            class="icon-approve"></i>{{'label.AddTemplates.INSERT' | translate}}</td>



                                </tr>

                            </tbody>
                        </table>


                    </div>

                </div>


                <!-- Delimiter -->
                <!-- Delimiter -->
                <!-- Delimiter -->
                <div class="responsive-nt" *ngIf="delimiterData">
                    <h6 class="srch-result">
                        <span>{{listTemplateParameters.length}}</span>{{'label.AddTemplates.Resultfoundfor' | translate}}
                        <span class="user-bold"> "{{'label.AddTemplates.Delimiter' | translate}} "</span></h6>
                    <div class="tablemain" style="margin-right: 0;">
                        <table class="designdata-table table">
                            <thead>
                                <tr>
                                    <th>{{'label.AddTemplates.FieldName' | translate}}
                                        ({{listTemplateParameters.length}})</th>
                                    <th>{{'label.AddTemplates.FieldPosition' | translate}}</th>
                                    <th>{{'label.AddTemplates.MaxLength' | translate}}</th>
                                    <th>{{'label.AddTemplates.DataType' | translate}}</th>
                                    <th>{{'label.AddTemplates.MaskType' | translate}}</th>
                                    <th>{{'label.AddTemplates.Delimiter' | translate}}</th>
                                    <th class="text-center">{{'label.AddTemplates.Actions' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let paremrs of listTemplateParameters">
                                    <td data-th="Template Name" (click)="getFieldName(paremrs.fieldName)">
                                        <a>{{paremrs.fieldName}}</a></td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">
                                        {{paremrs.fieldPosition}}</td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.maxLength}}
                                    </td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.dataType}}
                                    </td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.maskType}}
                                    </td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.delimeter}}
                                    </td>
                                    <td data-th="Open"><i class="icon-approve"></i>
                                        {{'label.AddTemplates.INSERT' | translate}}</td>



                                </tr>

                            </tbody>
                        </table>


                    </div>

                </div>


                <!-- XML -->
                <!-- XML -->
                <!-- XML -->
                <!-- XML -->
                <div class="responsive-nt" *ngIf="xml">
                    <h6 class="srch-result"><span>{{listTemplateParameters.length}}</span>
                        {{'label.AddTemplates.Resultfoundfor' | translate}} <span class="user-bold"> "
                            {{'label.AddTemplates.XML' | translate}} "</span></h6>
                    <div class="tablemain" style="margin-right: 0;">
                        <table class="designdata-table table">
                            <thead>
                                <tr>
                                    <th>{{'label.AddTemplates.FieldName' | translate}}
                                        ({{listTemplateParameters.length}})</th>

                                    <th>{{'label.AddTemplates.MaxLength' | translate}}</th>
                                    <th>{{'label.AddTemplates.DataType' | translate}}</th>
                                    <th>{{'label.AddTemplates.MaskType' | translate}}</th>
                                    <th class="text-center">{{'label.AddTemplates.Actions' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let paremrs of listTemplateParameters">
                                    <td data-th="Template Name" (click)="getFieldName(paremrs.fieldName)">
                                        <a>{{paremrs.fieldName}}</a></td>

                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.maxLength}}
                                    </td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.dataType}}
                                    </td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.maskType}}
                                    </td>
                                    <td data-th="Open"><i class="icon-approve"></i>
                                        {{'label.AddTemplates.INSERT' | translate}} </td>



                                </tr>

                            </tbody>
                        </table>


                    </div>

                </div>


                <!-- JSON -->
                <!-- JSON -->
                <!-- JSON -->
                <!-- JSON -->
                <div class="responsive-nt" *ngIf="jsonData">
                    <h6 class="srch-result"><span>{{listTemplateParameters.length}}</span>
                        {{'label.AddTemplates.Resultfoundfor' | translate}} <span class="user-bold"> "
                            {{'label.AddTemplates.json' | translate}} "</span></h6>
                    <div class="tablemain" style="margin-right: 0;">
                        <table class="designdata-table table">
                            <thead>
                                <tr>
                                    <th>{{'label.AddTemplates.FieldName' | translate}}
                                        ({{listTemplateParameters.length}})</th>
                                    <th>{{'label.AddTemplates.KeyName' | translate}} </th>
                                    <th>{{'label.AddTemplates.MaxLength' | translate}} </th>
                                    <th>{{'label.AddTemplates.DataType' | translate}} </th>
                                    <th>{{'label.AddTemplates.MaskType' | translate}} </th>
                                    <th class="text-center">{{'label.AddTemplates.Actions' | translate}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let paremrs of listTemplateParameters">
                                    <td data-th="Template Name" (click)="getFieldName(paremrs.fieldName)">
                                        <a>{{paremrs.fieldName}}</a></td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.keyName}}
                                    </td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.maxLength}}
                                    </td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.dataType}}
                                    </td>
                                    <td data-th="Type" (click)="getFieldName(paremrs.fieldName)">{{paremrs.maskType}}
                                    </td>
                                    <td data-th="Open"><i class="icon-approve"></i>
                                        {{'label.AddTemplates.INSERT' | translate}} </td>



                                </tr>

                            </tbody>
                        </table>


                    </div>

                </div>




            </div>

        </div>
    </div>
</div>



<div [class.disabled]="temp.status == 'reject' || temp.status == 'approveOrReject'" data-toggle="modal"
    data-target="#sidemodal" rel="tooltip" data-placement="left" data-original-title="Language List"
    class="side-button languageicon"></div>

<div class="modal fade right promolanguage-model" id="sidemodal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <span class="icon-close"></span>
        </button>
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddTemplates.LanguageList' | translate}}
                <button type="button" class="add-rightside" data-dismiss="modal" aria-label="Close">
                    <span class="icon-plus"></span>
                    <div class="addrole-info">{{'label.AddTemplates.AddLanguage' | translate}}</div>
                </button>

            </div>
            <div class="modal-body">
                <div class="search-list">
                    <input class="form-control" type="text" [(ngModel)]="defaultObj.searchText" />
                    <span class="icon-search"></span>
                </div>


                <div class="role-list">
                    <form [formGroup]="languageForm">
                        <div class="languagelist">
                            <ul>
                                <li *ngFor="let listLanguage of listLanguage | customeTableFilter: defaultObj.searchText:'langDesc' ; let i=index"
                                    formArrayName="language">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="listLanguage.check"
                                                [formControlName]="i" (change)="languageSelect($event,i)" />
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            <!-- {{getLanguageMasterDesctiption(i)}} -->
                                            {{listLanguage.langDesc}}
                                        </label>



                                    </div>
                                </li>

                            </ul>
                        </div>
                    </form>
                    <input type="submit" class="add-btn" value="{{'label.AddTemplates.Save' | translate}}"
                        (click)="addActiveLanguage()" />
                </div>

            </div>

        </div>
    </div>
</div>


<div class="modal fade left-alignmodal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal modal-medium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddTemplates.EditStatus' | translate}}
                <button type="button" class="close close12" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
            </div>
            <form [formGroup]="isActiveForm">

                <div class="modal-body">
                    <div class="status-list">
                        <div class="status-toggle">
                            <p>{{'label.AddTemplates.Status' | translate}}</p>
                            <div class="tgl-group" let i="index">
                                <input class='tgl tgl-light' type='checkbox' id='display-isActiveTop'
                                    formControlName="isActive" [(ngModel)]="defaultObj.isActive">
                                <label class='tgl-btn' for="display-isActiveTop"></label>
                                <!-- <span>Active</span> -->
                                <span *ngIf="active">{{'label.AddTemplates.Active' | translate}}</span>
                                <span *ngIf="!active">{{'label.AddTemplates.Inactive' | translate}}</span>
                            </div>
                        </div>

                        <div class="text-areabox">
                            <label>{{'label.AddTemplates.Reason' | translate}}</label>
                            <textarea class="form-control" [(ngModel)]="defaultObj.reasons" formControlName="reasons"
                                id="reasons"></textarea>

                            <div class="error error-position"
                                *ngIf="isActiveForm.controls['reasons'].hasError('required') && isActiveForm.controls['reasons'].touched">
                                {{'error.AddTemplates.Reason' | translate}} </div>
                        </div>


                    </div>
                    <br />
                    <a class="add-btn" (click)=ActiveUpdate()
                        [class.disabled]="temp.topButton == 'new' || getAccessRole('isEdit') "
                        type="submit"><span>{{'error.AddTemplates.Update' | translate}}</span></a>
                    <a class="cancel-btn"
                        (click)=closeModal()><span>{{'label.AddTemplates.Cancel' | translate}}</span></a>

                </div>
            </form>

        </div>
    </div>
</div>