<div id="loading" style="display: none;"></div>
<div class="overall-loading" id="overall-loading">

    <!-- <div id="loading" class="loading">
    <div class="loadingText">
    </div>
</div> -->
    <!-- {{ message | async | json }} -->

    <router-outlet></router-outlet>
</div>
<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" (click)="modalClose();" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="fa fa-bell-o"></i>
                <h4>{{'label.forgotPassword.title' | translate}}</h4>



                <form [formGroup]="ForgotForm" (ngSubmit)="ForgotSubmit()">
                    <div class="row">
                        <div class="col-xs-12"><br>
                            <div class="form-group">
                                <label>{{'label.forgotPassword.userId' | translate}}</label>
                                <input type="email" class="form-control" [(ngModel)]="forgot.opEmailId" formControlName="opEmailId" id="opEmailId" autocomplete="off" />


                                <div class="error" *ngIf="ForgotForm.controls['opEmailId'].hasError('required') && ForgotForm.controls['opEmailId'].touched">

                                    {{'error.forgotPassword.userIdRequired' | translate}}
                                </div>
                            </div>
                            <!-- <div class="g-recaptcha" data-sitekey="6Lch09cUAAAAAGehnyggQhtmjXRg_SVjMpJ-b0Wh"></div> -->


                            <re-captcha (resolved)="resolved($event)" formControlName="recaptcha" id="recaptcha" siteKey="6Lch09cUAAAAAGehnyggQhtmjXRg_SVjMpJ-b0Wh"></re-captcha>

                            <div class="error" *ngIf="ForgotForm.controls['recaptcha'].hasError('required') && ForgotForm.controls['recaptcha'].touched">

                                {{'error.forgotPassword.recaptchaRequired' | translate}}
                            </div>
                        </div>
                        <div class="submit-btn">
                            <input type="submit" value=" {{'label.forgotPassword.submit' | translate}}" class="add-btn" />
                        </div>



                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="firstTimeChangePassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" (click)=close() aria-label="Close">
                    <span aria-hidden="true" (click)=close()>&times;</span>
                </button>
                <i class="fa fa-bell-o"></i>
                <h4>{{'label.changePassword.title' | translate}}</h4>
                <!-- <p>Are You Sure You want to Delete the Operator</p> -->
                <form [formGroup]="passwordForm">
                    <br>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>{{'label.changePassword.newPassword' | translate}}</label>
                            <input type="password" formControlName="newPassword" [(ngModel)]="changePasswordObj.newPassword" name="newPassword" placeholder="{{'label.changePassword.newPassword' | translate}}" class="form-control" required class="form-control" />
                        </div>
                        <div class="error" *ngIf="passwordForm.get('newPassword').hasError('required') && passwordForm.get('newPassword').touched">
                            {{'error.changePassword.newPasswordRequired' | translate}}
                        </div>

                        <!-- <div class="error"
                            *ngIf="passwordForm.get('newPassword').hasError('minlength') && passwordForm.get('newPassword').touched">
                            Please enter a new password at least 8 characters.

                        </div>
                        <div class="error"
                            *ngIf="passwordForm.get('newPassword').hasError('maxlength') && passwordForm.get('newPassword').touched">
                            Please enter a new password no more than 16 characters.

                        </div>
                        <div class="error"
                            *ngIf="passwordForm.get('newPassword').hasError('pattern') && passwordForm.get('newPassword').touched">
                            Must contain at least one number and one uppercase and special character

                        </div> -->
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>{{'label.changePassword.confirmPassword' | translate}}</label>
                            <input type="password" formControlName="confirmNewPassword" [(ngModel)]="changePasswordObj.confirmNewPassword" name="confirmNewPassword" placeholder="{{'label.changePassword.confirmPassword' | translate}}" class="form-control" required class="form-control"
                                pattern="{{ changePasswordObj.newPassword }}" />
                        </div>
                        <div class="error" *ngIf="passwordForm.get('confirmNewPassword').hasError('required') && passwordForm.get('confirmNewPassword').touched">
                            {{'error.changePassword.confirmPassRequired' | translate}}
                        </div>

                        <div class="error" *ngIf="passwordForm.get('confirmNewPassword').hasError('pattern')">
                            {{'error.changePassword.confirmPassSame' | translate}}</div>

                    </div>



                    <a (click)="submitPassword()" href="javascript:void(0)" class="add-btn">Submit</a>
                </form>
            </div>

        </div>
    </div>
</div>