<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
                routerLink="/home/dashboard/">{{'label.AddDistributionList.Home' | translate}}</a></li>
        <li class="breadcrumb-item active">{{'label.AddDistributionList.AddContacts' | translate}}</li>
    </ol>
</div>
<div class="inner-head display-head">
    <!-- <h2>Add Contacts</h2>
  <a (click)="back()" href="javascript:void(0)" class="cancel-bg cancel-btn"><span class="icon-back"></span>Back</a> -->


    <form [formGroup]="forName">
        <h2 *ngIf="isEdit" class="h2-h2head"><a (click)=back() href="javascript:void(0)" class="back-btn"><span
                    class="icon-back"></span></a>{{'label.AddDistributionList.DistributionListName' | translate}} -
            <span *ngIf='!SaveButtons'>{{distObj.distributionName}}</span>
            <a class="icon-edit-new1" [class.disabled]="getAccessRole('isEdit')" *ngIf="EditButtons"
                (click)="change2()"></a>
            <span class="span-textinline">
                <div *ngIf="SaveButtons" class="edit-after">
                    <input formControlName="forNameEdit"
                        (input)='changeField($event,"[^0-9 a-zA-Z]","1","35","campaignDesc",distObj.distributionName.length)'
                        [(ngModel)]="distObj.distributionName">
                    <a class="cancel-bg cancel-btn"
                        (click)="change3()">{{'label.AddDistributionList.Cancel' | translate}}</a>
                    <a class="add-btn" (click)="editDist()"> {{'label.AddDistributionList.Save' | translate}}</a>
                </div>
                <!--       
      <input [(ngModel)]="distObj.distributionName" readonly disabled>
      <a class="icon-edit-new1" data-toggle="modal" data-target="#contact-edit1"></a> -->
            </span>
        </h2>
        <h2 *ngIf="!isEdit" class="h2-h2head"><a (click)=back() href="javascript:void(0)" class="back-btn"><span
                    class="icon-back"></span></a>{{'label.AddDistributionList.CreateDistributionList' | translate}}

        </h2>
    </form>
    <!-- <h2 (click)="downloadSampleFile()" style="position: absolute;
    right: 5px;"><a href="javascript:void(0)" class="back-btn"></a>
        {{'label.DistributionList.downloadSampleFile' | translate}}</h2> -->
</div>
<div class="form-list">
    <div class="row" *ngIf="!isEdit">
        <!-- <div class="col-sm-9 col-md-11 col-xs-12">
      <div class="row"> -->
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
            <div class="form-group ">
                <label>{{'label.AddDistributionList.DistributionListName' | translate}}</label>
                <input type="text"
                    (input)='changeField($event,"[^0-9 a-zA-Z]","1","35","campaignDesc",distributionNewName.length)'
                    [(ngModel)]="distributionNewName" class="form-control">

            </div>
        </div>
    </div>
    <!-- </div>
  </div> -->
    <form [formGroup]="BeforeDistList">

        <!-- <div class="row">
      <div class="col-sm-9 col-md-11 col-xs-12 ipad-width"> -->
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                <div class="form-group ">
                    <label>{{'label.AddDistributionList.Name' | translate}}</label>
                    <input type="text" [(ngModel)]="distAddObj.mainName" formControlName="mainName" id="mainName"
                        name="mainName"
                        (input)='changeField($event,"[^0-9 a-zA-Z]","1","35","campaignDesc",distAddObj.mainName.length)'
                        class="form-control">
                    <div class="error error-position"
                        *ngIf="BeforeDistList.controls['mainName'].hasError('required') && BeforeDistList.controls['mainName'].touched">
                        {{'error.AddDistributionList.Name' | translate}} </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                <div class="form-group phone-mumber">
                    <label>{{'label.AddDistributionList.PhoneNumber' | translate}}</label>

                    <!-- <select formControlName="opPreMobileNo" [(ngModel)]="distObj.opPreMobileNo" id="opPreMobileNo"
                class="styled-select">
                <option *ngFor="let countryCodes of listCountryCode; let i=index " value="{{countryCodes.countryCode}}">
                  {{countryCodes.countryCode}}
                </option>
              </select> [onlyCountries]="[CountryISO.UnitedStates,
                     CountryISO.UnitedKingdom]"
              <div class="error error-position error-right"
                *ngIf="BeforeDistList.controls['opPreMobileNo'].hasError('required') && BeforeDistList.controls['opPreMobileNo'].touched">
                Code is required</div> -->


                    <ngx-intl-tel-input [cssClass]="'custom'" [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [maxLength]="15" [tooltipField]="TooltipLabel.Name" [separateDialCode]="separateDialCode"
                      [onlyCountries]="CountryISO"    name="CorpPreMobileNo" formControlName="phoneNumber" [(ngModel)]="distAddObj.phoneNumber">
                    </ngx-intl-tel-input>
                    <div class="error error-position"
                        *ngIf="BeforeDistList.controls['phoneNumber'].hasError('required') && BeforeDistList.controls['phoneNumber'].touched">
                        {{'error.AddDistributionList.Phonerequired' | translate}} </div>
                    <div class="error error-position"
                        *ngIf="!BeforeDistList.controls['phoneNumber'].hasError('required') && BeforeDistList.controls['phoneNumber'].hasError('validatePhoneNumber') && BeforeDistList.controls['phoneNumber'].touched">
                        {{'error.AddDistributionList.Invalidphone' | translate}}
                    </div>
                    <!-- <div class="error error-position"
                *ngIf="BeforeDistList.controls['phoneNumber'].hasError('required') && BeforeDistList.controls['phoneNumber'].touched">
                Phone number
                is
                required
              </div> -->
                    <!-- <input type="number" [(ngModel)]="distAddObj.phoneNumber" formControlName="phoneNumber" name="phoneNumber"
                id="phoneNumber" class="form-control">
              <div class="error error-position"
                *ngIf="BeforeDistList.controls['phoneNumber'].hasError('required') && BeforeDistList.controls['phoneNumber'].touched">
                Phone number is required</div> -->
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddDistributionList.Email' | translate}}</label>
                    <input type="text" [(ngModel)]="distAddObj.email" formControlName="email" id="email" name="email"
                        (input)='changeField($event,"[^0-9@.#$%^&*a-zA-Z]","1","50","campaignDesc",distAddObj.email.length)'
                        class="form-control">
                    <div class="error error-position"
                        *ngIf="BeforeDistList.controls['email'].hasError('required') && BeforeDistList.controls['email'].touched">
                        {{'error.AddDistributionList.Emailrequired' | translate}} </div>


                    <div class="error error-position"
                        *ngIf="BeforeDistList.controls['email'].hasError('email') && BeforeDistList.controls['email'].touched">
                        {{'error.AddDistributionList.ValidEmail' | translate}}</div>

                </div>

            </div>
        </div>
        <!-- </div>
      </div> -->
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                <div class="form-group">
                    <label>{{'label.AddDistributionList.PushToken' | translate}}</label>
                    <input type="text" [(ngModel)]="distAddObj.pushToken" formControlName="pushToken" id="pushToken"
                        (input)='changeField($event,"[^0-9@.#$%^&*a-zA-Z]","1","100","campaignDesc",distAddObj.pushToken.length)'
                        name="pushToken" class="form-control">
                    <div class="error error-position"
                        *ngIf="BeforeDistList.controls['pushToken'].hasError('required') && BeforeDistList.controls['pushToken'].touched">
                        {{'error.AddDistributionList.PushToken' | translate}} </div>



                </div>

            </div>

            <!-- <div class="button-right distri-btn"> -->
            <div class="button-right distri-btn">
                <input type="submit" name="submit" value="{{'label.AddDistributionList.Add' | translate}} "
                    [class.disabled]="getAccessRole('isAdd')" (click)="Save()" class="add-btn">
                <!-- <input type="button" name="submit" value="Clear" (click)="Clear()" class="add-btn"> -->

                <!-- <a class="cancel-btn">Upload</a> -->
            </div>


        </div>
        <!-- </div>
    </div> -->


    </form>

    <form [formGroup]="FileUpload" [class.disabled]="getAccessRole('isAdd')">
        <div class="dragdrop-file">
            <div class="cc-upload">
                <div class="custom-upload">
                    <div class="input-group">
                        {{'label.AddDistributionList.Draganddrop' | translate}}
                        <span class="input-group-btn input-group-sm">
                            <input type="file" formControlName="file" value="" #uploadSingleFile
                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                (change)="onFileSelect($event)" class="file" />
                            <button type="button"
                                class="btn btn-fab btn-fab-mini">{{'label.AddDistributionList.SelectaFile' | translate}}
                            </button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </form>




    <div class="responsive-nt" *ngIf="offlineContactsList.length && !isEdit">
   
            <table class="table dataTable td-elips">
                    <thead>
                        <tr>
                            <!-- <th width="2%" scope="col">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" (change)="checkUncheckAll()" [(ngModel)]="masterSelected">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  </label>
                </div>
              </th> -->
                            <th width="20%" scope="col">{{'label.AddDistributionList.Name' | translate}}</th>
                            <th width="15%" scope="col">{{'label.AddDistributionList.Mobile' | translate}}</th>
                            <th width="20%" scope="col">{{'label.AddDistributionList.Email' | translate}}</th>
                            <th width="30%" scope="col">{{'label.AddDistributionList.CreatedOn' | translate}}</th>
                            <th width="10%" scope="col" class="text-align">
                                {{'label.AddDistributionList.Actions' | translate}}</th>
                        </tr>
                    </thead>
             
                    <tbody>
                        <tr *ngFor="let distribute of offlineContactsList;">
                            <!-- <td width="2%">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="distribute.isSelected" value="{{distribute.contactName}}"
                      (change)="isAllSelected(distribute)">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  </label>
                </div>
              </td> -->
                            <td width="20%" class="ellipsis" class="name-td" data-th="Name">
                               <div class="content-wrap"> {{distribute.contactName}}</div></td>
                            <td width="15%" class="ellipsis" data-th="Mobile">{{distribute.mobileNumber}}</td>
                            <td width="20%" class="ellipsis" data-th="Email">{{distribute.email}}</td>
                            <td width="30%" class="ellipsis" data-th="Created On">{{distribute.createdDate | showDate }}</td>
                            <td width="10%" class="ellipsis" data-th="Actions" class="text-align">
                                <!-- <div class="icon-div">
                <span class="icon-user-not"><span class="path1"></span><span class="path2"></span><span
                    class="path3"></span><span class="path4"></span></span>
              </div> -->
                                <div class="icon-div">
                                    <i class="icon-delete" (click)="showModal(distribute)" title="Delete"
                                        data-toggle="tooltip" data-placement="left"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
      
    </div>


    <!-- edit distribution list -->
    <!-- <div class="no-record" *ngIf="!listDistribution.length && isEdit">
    No records found
  </div> -->
    <div class="row" *ngIf="isEdit">
        <div class="col-sm-6 search-flsc">

            <div class="icon-search dtmain-search"></div>
            <div class="dt-box">
                <input type="text" id="searchTextId" placeholder="{{'label.AddDistributionList.Search' | translate}}"
                    class="form-control" [(ngModel)]="reqObj.searchText" />
                <div class="icon-close1 dt-remove"></div>
            </div>

            <div class="doc-count">
                1-{{Contacts}} {{'label.AddDistributionList.of' | translate}} {{Contacts}}
                {{'label.AddDistributionList.Results' | translate}}.
                <div class="dropdown" style="cursor: pointer;">{{totalCount}}
                    {{'label.AddDistributionList.Selected' | translate}}
                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="dropdown-toggle icon-down-arrow1"></a>
                    <ul class="dropdown-menu">
                        <li><a (click)="deleteall()"><span
                                    class="icon-delete aciton-del"></span>{{'label.AddDistributionList.DeleteAll' | translate}}</a>
                        </li>
                        <li>
                            <a (click)="statusCall('active')"><img src="../../../assets/images/distri-active.svg"
                                    class="action-img">
                                {{'label.AddDistributionList.SetStatus' | translate}} </a>
                        </li>
                        <li>
                            <a (click)="statusCall('inactive')"><img src="../../../assets/images/distri-inactive.svg"
                                    class="action-img">
                                {{'label.AddDistributionList.SetStatus1' | translate}} </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ctn-right">
                <div class="tt-contact bordernone">
                    <p>{{'label.AddDistributionList.TotalContacts' | translate}}</p><span>{{Contacts}}</span>
                </div>
                <div class="tt-contact">
                    <p>{{'label.AddDistributionList.Active' | translate}}</p><span>{{active}}</span>
                </div>
                <div class="tt-contact">
                    <p>{{'label.AddDistributionList.Inactive' | translate}}</p><span>{{inactive}}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="responsive-nt checkboxtable-nt tablemain" *ngIf="listDistribution.length && isEdit">

        <table class="table datatable">
            <thead>
                <tr>
                    <th width="2%" scope="col" class="no-sort" [class.disabled]="getAccessRole('isEdit')">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" (change)="checkUncheckAll()" [(ngModel)]="masterSelected">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            </label>
                        </div>
                    </th>
                    <th width="20%" scope="col">{{'label.AddDistributionList.Name' | translate}}</th>
                    <th width="15%" scope="col">{{'label.AddDistributionList.Mobile' | translate}}</th>
                    <th width="20%" scope="col">{{'label.AddDistributionList.Email' | translate}}</th>
                    <th width="30%" scope="col">{{'label.AddDistributionList.CreatedOn' | translate}}</th>
                    <th width="30%" scope="col">{{'label.AddDistributionList.Status' | translate}}</th>
                    <th width="10%" scope="col" class="text-align">{{'label.AddDistributionList.Actions' | translate}}
                    </th>
                </tr>
            </thead>


            <tbody>
                <tr *ngFor="let distribute of listDistribution;">
                    <td class="ellipsis" width="2%" [class.disabled]="getAccessRole('isEdit')">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" [(ngModel)]="distribute.isSelected"
                                    value="{{distribute.contactName}}" (change)="isAllSelected(distribute)">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            </label>
                        </div>
                    </td>
                    <td class="ellipsis" [class.disabled]="getAccessRole('isEdit')" width="20%" class="name-td" data-th="Name"
                        (click)="showModalEdit(distribute)">
                        {{distribute.contactName}}</td>
                    <td class="ellipsis" width="15%" data-th="Mobile">{{distribute.mobileNumber}}</td>
                    <td class="ellipsis" width="20%" data-th="Email">{{distribute.email}}</td>
                    <td class="ellipsis" width="30%" data-th="Created On">{{distribute.createdDate | showDate }}</td>
                    <td class="ellipsis" width="30%" data-th="Created On">{{distribute.isActive? 'Active':'Inactive'}}</td>
                    <td width="10%" data-th="Actions" class="text-align">
                        <!-- <div class="icon-div">
                <span class="icon-user-not"><span class="path1"></span><span class="path2"></span><span
                    class="path3"></span><span class="path4"></span></span>
              </div> -->
                        <div [class.disabled]="getAccessRole('isDelete')" class="icon-div">
                            <i class="icon-delete" (click)="showModal(distribute)" title="Delete" data-toggle="tooltip"
                                data-placement="left"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="button-right scroll-button" *ngIf="!isEdit">
        <a (click)="createDistributionList()"
            class="add-btn"><span>{{'label.AddDistributionList.Create' | translate}}</span></a>
        <a class="cancel-btn" (click)="cancel()"><span>{{'label.AddDistributionList.Cancel' | translate}}</span></a>
    </div>

</div>




<!-- <div class="button-right ">
  <input type="button" name="submit" value="CANCEL"  class="cancel-btn cancel-bg">
</div> -->


<div class="modal fade" id="contact-edit1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- <button type="button" class="close close12" data-dismiss="modal" aria-label="Close">
                <span class="icon-close1"></span>
             </button> -->
                <i class="nodi-icon icon-medit"></i>
                <h4>{{'label.AddDistributionList.EditDistributionList' | translate}} </h4>
                <form [formGroup]="EditDistForm">
                    <div class="text-areabox edit-body">
                        <label>{{'label.AddDistributionList.EnterDistributionListName' | translate}}</label>
                        <!-- <input type="text" class="form-control" /> -->

                        <input type="text" class="form-control" [(ngModel)]="distObj.distributionName"
                            formControlName="distributionName" id="distributionName" autocomplete="off">

                    </div>

                    <div class="error error-position"
                        *ngIf="EditDistForm.controls['distributionName'].hasError('required') && EditDistForm.controls['distributionName'].touched">
                        {{'error.AddDistributionList.Distribution' | translate}} </div>

                    <div class="foot-btn">
                        <a class="add-btn"
                            (click)="editDist()"><span>{{'label.AddDistributionList.Save' | translate}}</span></a>
                        <a class="cancel-btn"
                            (click)="backDsitName()"><span>{{'label.AddDistributionList.Cancel' | translate}}</span></a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade left-alignmodal" id="contact-edit" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-medium modal-smedium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddDistributionList.EditContact' | translate}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>

            </div>
            <div class="modal-body">

                <div class="row margin20">

                    <form [formGroup]="EditDistFormSingle">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>{{'label.AddDistributionList.Name' | translate}}</label>
                                <input type="text" class="form-control" formControlName="mainName" id="mainName"
                                    (input)='changeField($event,"[^0-9 a-zA-Z]","1","35","campaignDesc",selectedUserEdit.contactName.length)'
                                    [(ngModel)]="selectedUserEdit.contactName">

                                <div class="error error-position"
                                    *ngIf="EditDistFormSingle.controls['mainName'].hasError('required') && EditDistFormSingle.controls['mainName'].touched">
                                    {{'error.AddDistributionList.Name' | translate}}</div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group phone-mumber">
                                <label>{{'label.AddDistributionList.PhoneNumber' | translate}}</label>

                                <ngx-intl-tel-input [cssClass]="'custom'" [enablePlaceholder]="true"
                                    [searchCountryFlag]="true" [maxLength]="15"
                                    [selectedCountryISO]="uploadEditContact.mobileIso"
                                    [tooltipField]="TooltipLabel.Name" [separateDialCode]="separateDialCode"
                                    name="CorpPreMobileNo" formControlName="phoneNumber"
                                    [(ngModel)]="selectedUserEdit.postMobileNo">
                                </ngx-intl-tel-input>

                                <div class="error error-position"
                                    *ngIf="EditDistFormSingle.controls['phoneNumber'].hasError('validatePhoneNumber') && EditDistFormSingle.controls['phoneNumber'].touched">
                                    {{'error.AddDistributionList.Invalidphone' | translate}}
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>{{'label.AddDistributionList.Email' | translate}}</label>
                                <input type="text" class="form-control" formControlName="email" id="email"
                                    (input)='changeField($event,"[^0-9@.#$%^&*a-zA-Z]","1","50","campaignDesc",selectedUserEdit.email.length)'
                                    [(ngModel)]="selectedUserEdit.email">

                                <div class="error error-position"
                                    *ngIf="EditDistFormSingle.controls['email'].hasError('required') && EditDistFormSingle.controls['email'].touched">
                                    {{'error.AddDistributionList.Emailrequired' | translate}} </div>


                                <div class="error error-position"
                                    *ngIf="EditDistFormSingle.controls['email'].hasError('pattern') && EditDistFormSingle.controls['email'].touched">
                                    {{'error.AddDistributionList.ValidEmail' | translate}} </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>{{'label.AddDistributionList.PushToken' | translate}}</label>
                                <input type="text" [(ngModel)]="selectedUserEdit.pushToken" formControlName="pushToken"
                                    id="pushToken"
                                    (input)='changeField($event,"[^0-9@.#$%^&*a-zA-Z]","1","100","campaignDesc",selectedUserEdit.pushToken.length)'
                                    name="pushToken" class="form-control">
                                <div class="error error-position"
                                    *ngIf="EditDistFormSingle.controls['pushToken'].hasError('required') && EditDistFormSingle.controls['pushToken'].touched">
                                    {{'error.AddDistributionList.PushToken' | translate}}</div>

                            </div>

                        </div>

                    </form>
                </div>
                <div class="button-right">
                    <a class="add-btn"
                        (click)="editSingleDist()"><span>{{'label.AddDistributionList.Update' | translate}}</span></a>
                    <a class="cancel-btn"
                        (click)="backSingleDist()"><span>{{'label.AddDistributionList.Cancel' | translate}}</span></a>
                </div>
            </div>

        </div>

    </div>
</div>







<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
                <i class="icon-delete del-popup"></i>
                <h4>{{'label.AddDistributionList.AlertMessage' | translate}}</h4>
                <p>{{'label.AddDistributionList.Areyou' | translate}}</p>
                <!-- <div class="text-areabox">
          <label>Reason</label>
          <textarea class="form-control"></textarea>
          <span>(Max 500 Character Allowed)</span>

        </div>  -->
                <a (click)="deleteSingleDist()"
                    class="add-btn"><span>{{'label.AddDistributionList.Submit' | translate}}</span></a>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="multiupload-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal notify-modallg" role="document">
        <div class="modal-content modal-pad12">

            <div class="modal-heading modal-padding">{{'label.AddDistributionList.DistributionList' | translate}}
                <button type="button" class="close close25" aria-label="Close" (click)="closeDetailModal()">
                    <span class="icon-close1"></span>
                </button>
            </div>
            <div class="modal-body padd-modal">
                <div class="ctn-bgray">
                    <div class="tt-contact bordernone">
                        <p>{{'label.AddDistributionList.Uploaded' | translate}} <br />
                            {{'label.AddDistributionList.Documents' | translate}} </p>
                        <span>{{this.uploadFiles.length}}</span>
                    </div>
                    <div class="tt-contact">
                        <p> {{'label.AddDistributionList.TotalContacts' | translate}}</p>
                        <span>{{this.fileUploadContent.validContactList.length+this.contactList.length}}</span>
                    </div>
                    <div class="tt-contact">
                        <p> {{'label.AddDistributionList.ErrorList' | translate}}</p>
                        <span>{{this.contactList.length}}</span>
                    </div>
                </div>
                <div class="up-filename">
                    <a *ngFor="let uploadFile of uploadFiles">{{uploadFile.fileName}}<span class="icon-delete"
                            (click)="deleteFileContent(uploadFile)"></span></a>
                    <!-- <a>Black-Grp....xlsx<span class="icon-delete"></span></a>
          <a>Black-Grp....xlsx<span class="icon-delete"></span></a> -->
                </div>
                <p style="font-size: 15px;"><b>{{'label.AddDistributionList.ErrorList' | translate}}</b></p>
                <div class="responsive-nt padd-35 clearfix">
                    <div class="tablemain">
                        <div class="tableheader">
                            <table class="table table-gray popupDatatable">
                                <thead>
                                    <tr>
                                        <th width="25%" scope="col">
                                            {{'label.AddDistributionList.ContactName' | translate}}</th>
                                        <th width="15%" scope="col">
                                            {{'label.AddDistributionList.MobileNumber' | translate}}</th>
                                        <th width="15%" scope="col">{{'label.AddDistributionList.EmailId' | translate}}
                                        </th>
                                        <th width="15%" scope="col">
                                            {{'label.AddDistributionList.PushToken' | translate}}</th>
                                        <th width="15%" scope="col">{{'label.AddDistributionList.Source' | translate}}
                                        </th>
                                        <th scope="col" width="10%" class="text-center">
                                            {{'label.AddDistributionList.Action' | translate}}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <!-- <tr [ngStyle]="!contacts.isActive?{'background-color': '#DAECF2',color:'#333'} : {'background-color': '#fff',color:'#333'}"
                *ngFor="let contacts of contactList; let i=index "> -->
                                    <tr *ngFor="let contacts of contactList; let i=index ">
                                        <td width="25%" data-th="Contact Name" style="color:#333">
                                            {{contacts.contactName}}</td>
                                        <td width="15%" data-th="Mobile Number" *ngIf="!contacts.validMobileNumber"
                                            style="color: #ED1C24">
                                            {{contacts.mobileNumber}}</td>
                                        <td width="15%" data-th="Mobile Number" *ngIf="contacts.validMobileNumber">
                                            {{contacts.mobileNumber}}
                                        </td>
                                        <td width="15%" data-th="Email Id" *ngIf="!contacts.validEmail"
                                            style="color: #ED1C24">
                                            {{contacts.email}}</td>
                                        <td width="15%" data-th="Email Id" *ngIf="contacts.validEmail">
                                            {{contacts.email}}</td>
                                        <td width="15%" data-th="Push Token" *ngIf="!contacts.validPushToken"
                                            style="color: #ED1C24">
                                            {{contacts.pushToken}} </td>
                                        <td width="15%" data-th="Push Token" *ngIf="contacts.validPushToken">
                                            {{contacts.pushToken}} </td>
                                        <td width="15%" data-th="Source">{{contacts.sourceFileName}}</td>
                                        <td width="10%" data-th="Actions" class="text-center">
                                            <div data-toggle="modal" data-target="#edit-upload"
                                                style="cursor: pointer; display: inline-block;"><i
                                                    (click)="editUploadContact(contacts)" style="font-size: 13px;"
                                                    title="Edit" data-toggle="tooltip" data-placement="left"
                                                    class="icon-edit-new1 alicon-hover"></i></div>
                                            <div style="display: inline-block;"><i (click)="deleteContact(contacts)"
                                                    class="icon-delete" title="Delete" data-toggle="tooltip"
                                                    data-placement="left"
                                                    style="color: #ED1C24; cursor: pointer; font-size: 12px;"></i></div>
                                        </td>
                                        <!-- <td ><i *ngIf="!contacts.isActive" (click)="deleteContact(contacts)" class="icon-delete" style="color: #ED1C24"></i>
                    <i *ngIf="contacts.isActive" class="icon-tick" style="color: green;"></i></td> -->
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="button-right">
                    <a class="add-btn" *ngIf="!contactList.length" (click)="proceedData()"><span>
                            {{'label.AddDistributionList.Proceed' | translate}}</span></a>
                    <a class="cancel-btn" (click)="closeDetailModal()"><span>
                            {{'label.AddDistributionList.Cancel' | translate}}</span></a>
                </div>
                <!-- <div class="foot-btn" *ngIf="contactCount.invalid==0">
          <a class="add-btn" (click)="uploadContacts()"><span>Upload</span></a>
        </div> -->
            </div>

        </div>
    </div>
</div>


<div class="modal fade left-alignmodal" id="edit-upload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-medium modal-smedium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddDistributionList.EditContact' | translate}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>

            </div>
            <form [formGroup]="updateUploadContact">

                <div class="modal-body">
                    <div class="row margin20">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group ">
                                <label>{{'label.AddDistributionList.Name' | translate}}</label>
                                <input type="text" [(ngModel)]="uploadEditContact.contactName"
                                    formControlName="mainName" id="mainName" name="mainName" class="form-control">
                                <div class="error error-position"
                                    *ngIf="updateUploadContact.controls['mainName'].hasError('required') && updateUploadContact.controls['mainName'].touched">
                                    {{'error.AddDistributionList.Name' | translate}} </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group phone-mumber">
                                <label>{{'label.AddDistributionList.PhoneNumber' | translate}}</label>

                                <!-- <select formControlName="opPreMobileNo" [(ngModel)]="distObj.opPreMobileNo" id="opPreMobileNo"
                  class="styled-select">
                  <option *ngFor="let countryCodes of listCountryCode; let i=index " value="{{countryCodes.countryCode}}">
                    {{countryCodes.countryCode}}
                  </option>
                </select>
                <div class="error error-position error-right"
                  *ngIf="BeforeDistList.controls['opPreMobileNo'].hasError('required') && BeforeDistList.controls['opPreMobileNo'].touched">
                  Code is required</div> -->


                                <ngx-intl-tel-input [cssClass]="'custom'" [enablePlaceholder]="true"
                                    [searchCountryFlag]="true" [maxLength]="15"
                                    [selectedCountryISO]="uploadEditContact.mobileIso"
                                    [tooltipField]="TooltipLabel.Name" [separateDialCode]="separateDialCode"
                                    name="CorpPreMobileNo" formControlName="phoneNumber"
                                    [(ngModel)]="uploadEditContact.phoneNumber">
                                </ngx-intl-tel-input>

                                <div class="error error-position"
                                    *ngIf="updateUploadContact.controls['phoneNumber'].hasError('validatePhoneNumber') && updateUploadContact.controls['phoneNumber'].touched">
                                    {{'error.AddDistributionList.Invalidphone' | translate}}
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>{{'label.AddDistributionList.Email' | translate}}</label>
                                <input type="text" [(ngModel)]="uploadEditContact.email" formControlName="email"
                                    id="email" name="email" class="form-control">
                                <div class="error error-position"
                                    *ngIf="updateUploadContact.controls['email'].hasError('required') && updateUploadContact.controls['email'].touched">
                                    {{'error.AddDistributionList.Emailrequired' | translate}} </div>


                                <div class="error error-position"
                                    *ngIf="updateUploadContact.controls['email'].hasError('email') && updateUploadContact.controls['email'].touched">
                                    {{'error.AddDistributionList.ValidEmail' | translate}} </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label>{{'label.AddDistributionList.PushToken' | translate}}</label>
                                <input type="text" [(ngModel)]="uploadEditContact.pushToken" formControlName="pushToken"
                                    id="pushToken" name="pushToken" class="form-control">
                                <div class="error error-position"
                                    *ngIf="updateUploadContact.controls['pushToken'].hasError('required') && updateUploadContact.controls['pushToken'].touched">
                                    {{'error.AddDistributionList.PushToken' | translate}}</div>

                            </div>

                        </div>
                    </div>
                    <div class="button-right">
                        <a class="add-btn"
                            (click)="saveUploadEditContact()"><span>{{'label.AddDistributionList.Update' | translate}}</span></a>
                        <a class="cancel-btn"
                            data-dismiss="modal"><span>{{'label.AddDistributionList.Cancel' | translate}}</span></a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade left-alignmodal" id="multiple-upload-file" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-medium modal-smedium" role="document">
        <div class="modal-content">
            <div class="modal-heading">{{'label.AddDistributionList.UploadtoExistingList' | translate}}
                <button type="button" class="close close25" (click)="cancelSelectMorePopup()" data-dismiss="modal"
                    aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="upload-group">
                    <div class="upload-progres" *ngFor="let uploadFile of uploadFiles">
                        <div class="up-img"><img src="../../../assets/images/excel.svg"></div>
                        <div class="up-process">
                            <p>{{uploadFile.fileName}}</p>
                        </div>
                        <div class="up-remove">
                            <span>{{uploadFile.size}}</span>
                            <button (click)="deleteUploadFile(uploadFile)" class="icon-delete"></button>
                        </div>
                    </div>


                    <div class="up-add">

                        <input type="file" #uploadMulitpleFile value=""
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            (change)="onFileSelect($event)" class="file" />
                        <button><span class="icon-plus"></span>
                            {{'label.AddDistributionList.Selectmorefiles' | translate}}</button>
                    </div>
                </div>
                <!-- <div class="up-select">
            <label>Select Distribution List</label>
            <div class="up-box">
              <div class="styled-select">
                <select>
                  <option>Here is the first option</option>
                  <option>The second option</option>
                  <option>The thrid option</option>
                </select>
                <span class="fa fa-sort-desc"></span>
              </div>
            </div>
          </div> -->
                <div class="button-right">
                    <a class="add-btn" *ngIf="uploadFiles.length"
                        (click)="checkFileContent()"><span>{{'label.AddDistributionList.Proceed' | translate}}
                        </span></a>
                    <a class="cancel-btn" data-dismiss="modal" (click)="cancelSelectMorePopup()"><span>
                            {{'label.AddDistributionList.Cancel' | translate}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>