<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.ManageUser.Home' | translate}}</a></li>
        <li class="breadcrumb-item active">{{role.menuLabel}}</li>
    </ol>
</div>
<div class="inner-head">
    <h2>{{role.menuLabel}}</h2>
</div>
<div class="row">
    <div class="status-filter">

        <!-- <div class="col-sm-6 col-md-5 col-xs-12">
            <div class="form-group">
                <label>Status</label>
                <div class="styled-select">
                    <select class="form-control" [(ngModel)]="reqObj.statusFilter" id="listServices" (change)="onChange($event.target.value)">
          <option value="undefined" selected disabled> Select Service</option>
          <option *ngFor="let status of status; let i = index" value="{{status.id}}">
            {{status.statusDesc}}</option>
          </select>
                    <span class="fa fa-sort-desc"></span>
                </div>
            </div>
        </div> -->
        <div class="col-xs-12">
            <div class="tablesearch-sort">
                <div class="tablesearch-sort">
                    <div class="search-input">
                      <div class="searchexpand">
                        <input type="text" id="searchTextId" placeholder="{{'label.ManageUser.Search' | translate}}" [(ngModel)]="SearchValue"/>
                        <button type="submit"><i class="icon-search"></i></button>
                      </div>
                      <span class="icon-search"></span>
                      <span class="icon-close1 closesearch" (click)="clearAllFilter()"></span>
                    </div>
                    <div class="search-value" *ngIf="reqObj.isDepartmentFilter || reqObj.isStatusFilter || reqObj.isApprovalStatusFilter">
                      <p class="sortby-title">{{'label.ManageUser.Filteredby' | translate}}</p>
                      <p *ngIf="reqObj.isDepartmentFilter">{{'label.ManageUser.Department' | translate}} <i (click)="clearDepartment()" class="icon-close1"></i></p>
                      <p *ngIf="reqObj.isStatusFilter">{{'label.ManageUser.Status' | translate}} <i (click)="clearStatus()" class="icon-close1"></i></p>
                      <p *ngIf="reqObj.isApprovalStatusFilter">{{'label.ManageUser.Status' | translate}} <i (click)="clearApprovedStatus()" class="icon-close1"></i></p>
                      <p class="clearall" (click)="clearAllFilter()">{{'label.ManageUser.ClearAll' | translate}}</p>
                    </div>
                  </div>
            </div>
            <!-- <div class="search-box visible-xs">
                <div class="icon-search main-search search-remove"></div>
                <div class="search-box1">
                    <input type="text" placeholder="Search" [(ngModel)]="reqObj.searchText" (ngModelChange)="changeSearch()" />
                    <div class="icon-search"></div>
                </div>
            </div> -->
            <div class="button-orange">
                <a [class.disabled]="getAccessRole('isAdd')" (click)="addOperator()">{{'label.ManageUser.AddUser' | translate}}<span class="icon-plus"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="responsive-nt">
    <table class="table  datatable table-visible">
                    <thead>
                        <tr>

                            <th scope="col">
                              {{'label.ManageUser.UserName' | translate}} 
                            </th>
                            <th scope="col">
                              {{'label.ManageUser.BranchName' | translate}}
                                
                            </th>
                            <!-- <th scope="col">
                                Contact Name
                            </th> -->
                            <th scope="col">
                              {{'label.ManageUser.DepartmentName' | translate}}
                                
                                <span class="icon-uniE90D user-arrow filter-open"></span>
                                <div class="table-checkfilter">
                                  <div class="searchbox">
                                    <input type="text" placeholder="{{'label.ManageUser.Search' | translate}}" />
                                  </div>
                                  <div class="tablesearch-content">
                                    <ul>
                                      <li *ngFor="let item of tableDepartment">
                                        <div class="checkbox">
                                          <label>
                                            <input (change)="departmentChange()" type="checkbox" [(ngModel)]="item.isChecked" />
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{item.name}}
                                            &nbsp;&nbsp;</label>
                                        </div>
                                      </li>
                  
                                    </ul>
                                  </div>
                                </div>

                            </th>
                            <th scope="col">
                              {{'label.ManageUser.LastLogin' | translate}}
                                
                            </th>
                            <th scope="col">
                              {{'label.ManageUser.Status' | translate}}
                               <span class="icon-uniE90D user-arrow filter-open"></span>
                               <div class="table-checkfilter">
                                 <div class="searchbox">
                                   <input type="text" placeholder="{{'label.ManageUser.Search' | translate}}" />
                                 </div>
                                 <div class="tablesearch-content">
                                   <ul>
                                     <li>
                                       <div class="checkbox">
                                         <label>
                                           <input type="checkbox" [(ngModel)]="statusActive" (change)="onStatusChange('Active')" />
                                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{'label.ManageUser.Active' | translate}}
                                           &nbsp;&nbsp;</label>
                                       </div>
                                     </li>
                                     <li>
                                       <div class="checkbox">
                                         <label>
                                           <input type="checkbox" [(ngModel)]="statusInActive" (change)="onStatusChange('Inactive')" />
                                           <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{'label.ManageUser.Deactive' | translate}}
                                           &nbsp;&nbsp;</label>
                                       </div>
                                     </li>
                                   </ul>
                                 </div>
                               </div>

                            </th>
                            <th>
                              {{'label.ManageUser.ApprovalStatus' | translate}}
                                
                                <span class="icon-uniE90D user-arrow filter-open"></span>
                                <div class="table-checkfilter">
                                  <div class="searchbox">
                                    <input type="text" placeholder="{{'label.ManageUser.Search' | translate}}" />
                                  </div>
                                  <div class="tablesearch-content">
                                    <ul>
                                      <li>
                                        <div class="checkbox">
                                          <label>
                                            <input type="checkbox" [(ngModel)]="statusApproved" (change)="onApprovalStatusChange('Y')" />
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{'label.ManageUser.Approved' | translate}}
                                            &nbsp;&nbsp;</label>
                                        </div>
                                      </li>
                                      <!-- <li>
                                        <div class="checkbox">
                                          <label>
                                            <input type="checkbox" [(ngModel)]="statusInActive" (change)="onStatusChange('R')" />
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>Rejected
                                            &nbsp;&nbsp;</label>
                                        </div>
                                      </li> -->
                                      <li>
                                        <div class="checkbox">
                                          <label>
                                            <input type="checkbox" [(ngModel)]="statusPending" (change)="onApprovalStatusChange('N')" />
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{'label.ManageUser.PendingForApproval' | translate}}
                                            &nbsp;&nbsp;</label>
                                        </div>
                                      </li>
                                      
                                    </ul>
                                  </div>
                                </div>
                            </th>
                            <th scope="col" class="text-align">
                              {{'label.ManageUser.Actions' | translate}}
                                
                            </th>
                        </tr>
                    </thead>
                
          
            <tbody>
                <tr *ngFor="let operator of listOperator">
                    <td class="hover-hand ellipsis"  (click)="gotoDefaultUser(operator)">
                      <a title="{{operator.opFirstName}}" data-toggle="tooltip" >{{operator.opFirstName}}&nbsp;{{operator.opLastName}}</a>
                    </td>
                    <td class="ellipsis" ><a title="{{getBranchName(operator.branchId)}}" data-toggle="tooltip" >{{operator.branchName}}</a></td>
                    <td class="ellipsis" >
                      <a title="{{getDepartmentName(operator.departmentId)}}" data-toggle="tooltip">{{operator.departmentName}}</a></td>
                    <td class="ellipsis" >
                      <a title="{{operator.lastLoginTime | showDate}}" data-toggle="tooltip">{{operator.lastLoginTime | showDate}}</a></td>
                    <td >
                        <p *ngIf="operator.opStatus=='Active'"><i class="fa fa-check"></i>Active </p>
                        <p *ngIf="operator.opStatus=='Inactive'"><i class="fa fa-times"></i>Inactive </p>
                        <p *ngIf="operator.opStatus=='Locked'"><i class="icon-reject"></i>Locked </p>
                    </td>

                    <td data-th="Status">
                        <p *ngIf="operator.status=='Y'"><i class="icon-approve"></i>Approved</p>
                        <p *ngIf="operator.status=='R'"><i class="icon-reject"></i>Rejected </p>
                        <p *ngIf="operator.status=='N'"><i class="icon-pending"></i>Pending For Approval </p>
                    </td>

                    <td data-th="Actions" class="text-align">
                        <div *ngIf=" operator.status=='Y' && operator.adminUser == false && hideDelete == false  " 
                        class="text-align">
                            <i class="icon-delete column6" (click)="showModal(operator)" title="Delete" 
                            data-toggle="tooltip" data-placement="left"></i>
                            <i class="fa fa-key alicon-hover" *ngIf="operator.opStatus=='Locked' && user.data.adminUser"
                            (click)="passwordReset(operator)" aria-hidden="true" style="margin-left: 10px;"></i>
                        </div>
    
                        <div *ngIf="operator.status=='N' && (user.userId!=operator.makerUserId||user.data.isAdminUser)" 
                        [class.disabled]="getAccessRole('isChecker')">    
                            
                            <div class="statuschange" >
                                <i class= "icon-status-change dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                <i class= "icon-close1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                <div class="statuschange-list dropdown-menu dropdown-menu-right">
                                    <p (click)="approveUser(operator)"><i class="icon-approve"></i> Approve
                                    </p>
                                    <p (click)="rejectUser(operator)"><i class="icon-reject"></i> Reject</p>
                                </div>
                            </div>
                        </div>
                    </td>


    
                </tr>
            </tbody>
        </table>
        </div>
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="icon-close1"></span>
        </button>
        <i class="icon-delete del-popup"></i>
                <h4>Alert Message</h4>
                <p>Are you sure you want to delete the selected user</p>

                <a (click)="deleteUser()" class="add-btn"><span>Delete</span></a>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="userApproveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="icon-close1"></span>
        </button>
                <i class="fa fa-bell-o"></i>
                <h4>{{selectedUser.title}}</h4>
                <p>{{selectedUser.body}}</p>
                <div *ngIf="!approve" class="text-areabox">
                    <label>Reason</label>
                    <form [formGroup]="AppOrRejForm">
                        <textarea [(ngModel)]="selectedUser.reason" formControlName="reason" class="form-control" (input)='changeField($event,"[^0-9 a-zA-Z\u0600-\u06FF/\s/g]","1","250","reason",selectedUser.reason.length)'></textarea>
                        <span>(Max 250 Character Allowed)</span>
                        <div *ngIf="errMsg">Enter Reason</div>
                    </form>

                </div>

                <a (click)="send()" *ngIf="approve" class="add-btn"><span>Approve</span></a>
                <a (click)="send()" *ngIf="!approve" class="cancel-bg cancel-btn"><span>Reject</span></a>

            </div>

        </div>
    </div>
</div>