<main>
    <div class="content">
      <section class="section">
        <div class="text">
          <!-- <h3>Lorem Ipsum</h3> -->
          
          <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>

        </div>
      </section>
      <section class="section">
        <div class="text">
          <h3>Temporibus nesciunt</h3>
          <p>Rem quos aliquid tempora dolor temporibus nesciunt</p>
        </div>
      </section>
      <section class="section">
        <div class="text">
          <h3>Rem quos aliquid</h3>
          <ngx-charts-bar-vertical
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
        
    </div>
      </section>
      <section class="section">
        <div class="text">
          <h3>Quam hic dicta</h3>
          <p>Rem quos aliquid tempora dolor temporibus nesciunt</p>
        </div>
      </section>
    </div>
    <div class="nav">
      <button class="prev">prev</button>
      <button class="next">next</button>
    </div>
  </main>