<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.CustomerDetails.Home' | translate}}</a></li>
        <li *ngIf="!isApprove" class="breadcrumb-item active">{{role.menuLabel}}</li>
        <li *ngIf="isApprove" class="breadcrumb-item active">{{'label.CustomerDetails.Approve' | translate}} {{role.menuLabel}}</li>
    </ol>
</div>
<div class="inner-head">
    <h2 *ngIf="!isApprove">{{role.menuLabel}}</h2>
    <h2 *ngIf="isApprove">{{'label.CustomerDetails.Approve' | translate}} {{role.menuLabel}}</h2>
    <a *ngIf="showDetails" (click)=back() href="javascript:void(0)" class="cancel-btn cancel-bg"><span class="icon-back"></span>{{'label.CustomerDetails.Back' | translate}}</a>
</div>

<div class="row">
    <div class="status-filter">

        <div class="col-xs-12">
            <div class="tablesearch-sort">
                <div class="tablesearch-sort">
                    <div class="search-input">
                      <div class="searchexpand">
                        <input type="text" id="searchTextId" placeholder="{{'label.CustomerDetails.Search' | translate}}" [(ngModel)]="SearchValue" />
                        <button type="submit"><i class="icon-search" (click)="clearAllFilter()"></i></button>
                      </div>
                      <span class="icon-search"></span>
                      <span class="icon-close1 closesearch" (click)="resetSearch()"></span>
                    </div>
                    <div class="search-value" *ngIf="reqObj.isCountryFilter || reqObj.isStatusFilter">
                      <p class="sortby-title">{{'label.CustomerDetails.Filteredby' | translate}}</p>
                      <p *ngIf="reqObj.isCountryFilter">{{'label.CustomerDetails.Branch' | translate}} <i (click)="clearBranch()" class="icon-close1"></i></p>
                      <p *ngIf="reqObj.isStatusFilter">{{'label.CustomerDetails.Status' | translate}} <i (click)="clearStatus()" class="icon-close1"></i></p>
                      <p class="clearall" (click)="clearAllFilter()">{{'label.CustomerDetails.ClearAll' | translate}}</p>
                    </div>
                  </div>
            </div>
            <!-- <div class="search-box visible-xs">
                <div class="icon-search main-search search-remove"></div>
                <div class="search-box1">
                    <input type="text" placeholder="Search" [(ngModel)]="reqObj.searchText" (ngModelChange)="changeSearch()" />
                    <div class="icon-search"></div>
                </div>
            </div> -->
            <div class="button-orange">
                <a [class.disabled]="getAccessRole('isAdd')" (click)="regCustomer()">{{'label.CustomerDetails.RegisterCustomer' | translate}} <span
                    class="icon-plus"></span></a>

            </div>
        </div>
    </div>
</div>
<div class="responsive-nt">
  
            <table class="table datatable">
                <thead>
                    <tr>
                        <th scope="col" class="column2">
                          {{'label.CustomerDetails.CustomerNumber' | translate}}  
                        </th>
                        <th scope="col" class="column1">
                          {{'label.CustomerDetails.CustomerName' | translate}}  
                        </th>
                        <th width="15%" scope="col">{{'label.CustomerDetails.BranchName' | translate}}
                            <!-- <span class="icon-sub-user-filter sorting"></span> -->
                            <span class="icon-uniE90D user-arrow filter-open"></span>
                            <div class="table-checkfilter">
                              <div class="searchbox">
                                <input type="text" placeholder="{{'label.CustomerDetails.Search' | translate}}" />
                              </div>
                              <div class="tablesearch-content">
                                <ul>
                                  <li *ngFor="let item of tableBranch">
                                    <div class="checkbox">
                                      <label>
                                        <input (change)="branchChange()" type="checkbox" [(ngModel)]="item.isChecked" />
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{item.name}}
                                        &nbsp;&nbsp;</label>
                                    </div>
                                  </li>
              
                                </ul>
                              </div>
                            </div>
                          </th>
                        <th scope="col" class="column4">
                          {{'label.CustomerDetails.MobileNumber' | translate}}  
                        </th>
                        <th scope="col" class="column5">
                          {{'label.CustomerDetails.Email' | translate}}  
                        </th>
                        <th scope="col" class="column6">
                          {{'label.CustomerDetails.Status' | translate}}  
                            <span class="icon-uniE90D user-arrow filter-open"></span>
                            <div class="table-checkfilter">
                              <div class="searchbox">
                                <input type="text" placeholder="{{'label.CustomerDetails.Search' | translate}}" />
                              </div>
                              <div class="tablesearch-content">
                                <ul>
                                  <li>
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" [(ngModel)]="statusActive" (change)="onStatusChange('true')" />
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{'label.CustomerDetails.Active' | translate}}
                                        &nbsp;&nbsp;</label>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" [(ngModel)]="statusInActive" (change)="onStatusChange('false')" />
                                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{'label.CustomerDetails.Inactive' | translate}}
                                        &nbsp;&nbsp;</label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                        </th>
                        <!-- <th scope="col" class="column7">Actions</th> -->
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let customer of listAllCustomers">
                        <td class="hover-hand column2 ellipsis" data-th="Customer Number" 
                        (click)="gotoCustomer(customer)">
                            <a title="{{customer.customerNumber}}" data-toggle="tooltip" >{{customer.customerNumber}}</a> </td>
                        <td class="column1 ellipsis"  data-th="Customer Name">
                          <a title="{{customer.firstName}}" data-toggle="tooltip" >{{customer.firstName}}</a></td>
                        <td class="column3 ellipsis" data-th="Branch Name">
                          <p title="{{getBranchName(customer.branchId)}}" data-toggle="tooltip" > {{getBranchName(customer.branchId)}}</p></td>
                        <td class="column4" data-th="Mobile Number">{{customer.mobileNo}}</td>
                        <td class="column5 ellipsis"  data-th="Email">
                          <p title="{{customer.emailID}}" data-toggle="tooltip">{{customer.emailID}}</p></td>
                        <td class="column6" data-th="Status">

                            <p *ngIf="customer.status=='true'"><i class="fa fa-check"></i>{{'label.CustomerDetails.Active' | translate}} </p>
                            <p *ngIf="customer.status=='false'"><i class="fa fa-times"></i>{{'label.CustomerDetails.Inactive' | translate}} </p>
                            <!-- <i class="fa fa-check" *ngIf="customer.status=='Active'"></i>
                            <i class="fa fa-times" *ngIf="customer.status=='Deactive'"></i> -->

                            <!-- {{customer.status}} -->
                        </td>
                        <!-- <td class="column7" data-th="Actions">
                            <i title="" data-toggle="tooltip" data-placement="left" class="icon-delete" data-original-title="Delete"></i>
                        </td> -->
                    </tr>
                </tbody>
            </table>
 

</div>

