<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">Home</a></li>
        <li  class="breadcrumb-item active">Audit Logs</li>
    </ol>
</div>

<div class="inner-head display-head inner-head2">
    <h2 class="edit-service">
        <a (click)=back() href="javascript:void(0)" class="back-btn">
            <span class="icon-back"></span></a>
        <span class="serviceName" >Audit Logs - {{code}}</span>

        <!-- <button (click)=topEdite() class="edit-toggle"><span *ngIf="!showNames" class="icon-edit"></span></button> -->
      

    </h2>
                <div class="col-md-12 padl0 padr0 px-0">
                    <div class="panel-group panelgroup-audit-log border-bottom-0" id="accordion">
                        <div class="panel panel-default" id="panel1" *ngFor="let logs of listAllCustomerLogs; let i = index">
                            <div class="panel-heading">
                                <div class="date-content">
                                    <span>{{logs.record_TIME | showDate}}</span>
                                    <p>Service Type : <span>{{logs.txn_CODE}}</span></p>
                                </div>
                                <h4 class="panel-title autilog-collapse">
                                    {{logs.txn_CODE}}
                                    <div class="audit-response-icon">
                                        <span class="text-danger" *ngIf="logs.wf_STATUS == 'R'">Rejected</span>
                                        <span class="text-inprogress" *ngIf="logs.wf_STATUS == 'N'">In-Progress</span>
                                        <span class="text-success" *ngIf="logs.wf_STATUS == 'Y'">Approved</span>
                                        <a data-toggle="collapse"  class="collapsed" [attr.data-target]="'#collapseOne' + i">
                                            <i class="icon-close1"></i>
                                            <i class="icon-down-arrow"></i>

                                        </a>
                               
                                    </div>
                                </h4>

                            </div>
                            <div id="collapseOne{{i}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panael-audt-innercotent">
                                        <div class="inner-content-audit">
                                            <span class="inner-d">{{logs.record_TIME | showDate}}</span>
                                            <div>
                                                <h6>
                                                    Your request for {{logs.txn_CODE}} has been Processed
                                                </h6>
                                                <h6 *ngIf="logs.reason != ' '">
                                                    Comments : <span>{{logs.reason}}</span>
                                                </h6>

                                            </div>
                                        </div>
                                        <div class="response-iner-content text-danger" *ngIf="logs.wf_STATUS == 'R'">
                                            <!-- {{logs.wf_STATUS}} -->
                                            Rejected
                                        </div>
                                        <div class="response-iner-content text-inprogress" *ngIf="logs.wf_STATUS == 'N'">
                                            <!-- {{logs.wf_STATUS}} -->
                                            In-Progress
                                        </div>
                                        <div class="response-iner-content text-success" *ngIf="logs.wf_STATUS == 'Y'">
                                            <!-- {{logs.wf_STATUS}} -->
                                            Approved
                                        </div>

                                        <!-- </div>
                    <div class="panael-audt-innercotent border-bottom-0">
                        <div class="inner-content-audit">
                            <span class="inner-d">17/05/2020</span>
                            <div>
                                <h6>
                                    Your request to change mobile number has been sent for approval
                                </h6>
                            </div>
                        </div>
                        <div class="response-iner-content text-inprogress">
                            In-Progress
                        </div>

                    </div> -->
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="panel panel-default" id="panel2">
            <div class="panel-heading">
                <div class="date-content">
                    <span>17/05/2020</span>
                    <p>Service Type : <span>Update Basic Details</span></p>
                </div>
                <h4 class="panel-title autilog-collapse">
                    Your request to change Email ID has been processed
                    <div class="audit-response-icon">
                        <span class="text-danger">Rejected</span>
                        <a data-toggle="collapse" data-target="#collapseTwo" class="collapsed">
                            <i class="icon-down-arrow"></i>
                            <i class="icon-close1"></i>
                        </a>
                    </div>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panael-audt-innercotent border-bottom-0">
                        <div class="inner-content-audit">
                            <span class="inner-d">17/05/2020</span>
                            <div>
                                <h6>
                                    Your request to change mobile number has been Processed
                                </h6>
                                <h6>
                                    Comments : <span>rejected due to wrong or invalid mobile number</span>
                                </h6>
                            </div>
                        </div>
                        <div class="response-iner-content text-danger">
                            Rejected
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="panel3">
            <div class="panel-heading">
                <div class="date-content">
                    <span>17/05/2020</span>
                    <p>Service Type : <span>Update Basic Details</span></p>
                </div>
                <h4 class="panel-title autilog-collapse">
                    Your request to change Email ID has been processed
                    <div class="audit-response-icon">
                        <span class="text-approved">Approved</span>
                        <a data-toggle="collapse" data-target="#collapseThree" class="collapsed">
                            <i class="icon-down-arrow"></i>
                            <i class="icon-close1"></i>
                        </a>
                    </div>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panael-audt-innercotent border-bottom-0">
                        <div class="inner-content-audit">
                            <span class="inner-d">17/05/2020</span>
                            <div>
                                <h6>
                                    Your request to change mobile number has been Processed
                                </h6>
                                <h6>
                                    Comments : <span>rejected due to wrong or invalid mobile number</span>
                                </h6>
                            </div>
                        </div>
                        <div class="response-iner-content text-danger">
                            Rejected
                        </div>

                    </div>
                </div>
            </div>
        </div> -->
                        </div>
                    </div>


                </div>
            </div>