<header>
  <!-- <p class="pull-right">Not Save</p>
  <p class="pull-right">Saved</p> -->
  

    <div class="homeicon">
        <div class="mobilemenu menu-close visible-xs">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </div>
    </div>
</header>
 
<div class="pagecontainer">

    <div class="site-content ">

        <router-outlet></router-outlet>
        <footer>
            <p class="copyright"> 2020 @ User Survey</p>
        </footer>
    </div>

</div>


<!-- harcode pages -->
<!--
   <li class="has-menu">
        <a href="javascript:void(0)" title="Corporate Management" data-toggle="tooltip" data-placement="right"><i
            class="icon-corporate"></i></a>
        <div class="sub-menu">
          <h2>Corporate <br> Management</h2>
          <ul>
            <li><a routerLink="/home/corporate-master/" title="Corporates">Corporates</a></li>
          </ul>
          <span class="submenu-close"><i class="icon-right-arrow"></i><i class="icon-right-arrow"></i></span>
        </div>
      </li>
      <li class="has-menu">
        <a href="javascript:void(0)" title="Company Master" data-toggle="tooltip" data-placement="right"><i
            class="icon-company"></i></a>
        <div class="sub-menu">
          <h2>Company<br> Master</h2>
          <ul>
            <li><a routerLink="/home/company-master/" title="Companies">Companies</a></li>
          </ul>
          <span class="submenu-close"><i class="icon-right-arrow"></i><i class="icon-right-arrow"></i></span>
        </div>
      </li>
  <li class="has-menu">
    <a routerlink="#" title="Operator Management" data-toggle="tooltip" data-placement="right"><i
        class="icon-user-mg"></i></a>
    <div class="sub-menu">
      <h2>Operator<br> Management</h2>
      <ul>
        <li><a routerLink="/home/operator-management/" title="Operators">Operators</a></li>
        <li><a routerLink="/home/operator-management/approve-operator" title="Approve Operator">Approve Operator</a>
        </li>
      </ul>
      <span class="submenu-close"><i class="icon-right-arrow"></i><i class="icon-right-arrow"></i></span>
    </div>
  </li>
  <li class="has-menu">
    <a href="javascript:void(0)" title="Group Management" data-toggle="tooltip" data-placement="right"><i
        class="icon-customer-mng"></i></a>
    <div class="sub-menu">
      <h2>Group<br> Management</h2>
      <ul>
        <li><a routerLink="/home/group-management/" href="javascript:void(0)" title="Groups">Groups</a></li>
        <li><a routerLink="/home/group-management/group-privileges" href="javascript:void(0)" title="Group privilege">Group privilege</a></li>
      </ul>
      <span class="submenu-close"><i class="icon-right-arrow"></i><i class="icon-right-arrow"></i></span>
    </div>
  </li>
  <li class="has-menu">
    <a href="javascript:void(0)" title="Service Management" data-toggle="tooltip" data-placement="right"><i
        class="icon-service-mng"></i></a>
    <div class="sub-menu">
      <h2>Service <br> Management</h2>
      <ul>
        <li><a routerLink="/home/service-management/default-services/" title="Services">Services</a></li>
        <li><a href="javascript:void(0)" title="Approve Services">Approve Services</a></li>
        <li><a routerLink="/home/service-management/" title="Template Parameters">Template Parameters</a></li>
        <li><a href="javascript:void(0)" title="Approve Template Parameters">Approve Template Parameters</a></li>
        <li><a href="javascript:void(0)" title="Message Templates">Message Templates</a></li>
        <li><a href="javascript:void(0)" title="Approve Message Templates">Approve Message Templates</a></li>
        <li><a href="javascript:void(0)" title="Promotional Marketing">Promotional Marketing</a></li>
        <li><a href="javascript:void(0)" title="Approve Promotional Marketing ">Approve Promotional Marketing </a>
        </li>
      </ul>
      <span class="submenu-close"><i class="icon-right-arrow"></i><i class="icon-right-arrow"></i></span>
    </div>
  </li>


<li>
                <li><a routerLink="/home/service-management/default-services/" title="Services">Services</a></li>
                <li><a routerLink="/home/service-management/approve-default-services/" title="Approve Services">Approve Services</a></li>
                <li><a routerLink="/home/service-management/" title="Template Parameters">Template Parameters</a></li>
                <li><a routerLink="/home/service-management/approve-template" title="Approve Template Parameters">Approve Template Parameters</a></li>
                <li><a routerLink="/home/service-management/message-templates/" title="Message Templates">Message Templates</a></li>
                <li><a routerLink="/home/service-management/approve-message-templates" title="Approve Message Templates">Approve Message Templates</a></li>
              </li>
-->