<!-- <div >
  <div class="head-p">

    

    <p>Today is {{currentDate.format('MMMM DD YYYY')}}</p>
  </div>
</div> -->
<div class="dashboardmain dashboard-site">

  <div class="dashborad-left">
    <div class="head-p">
      <h5>{{'label.Dashboard.Overview' | translate}} <span><button class="refresh-btn" data-toggle="tooltip"
            title="Refresh" (click)="refresh()"><i class="icon-refresh"></i></button></span></h5>
      <p> {{'label.Dashboard.Todayis' | translate}} {{currentDate.format('MMMM DD YYYY')}}</p>
    </div>
    <div class="addmaster-company">
      <div class="nav nav-tabs nav-fill company-tabs" id="nav-tab" role="tablist">
        <a (click)="tabClick(1)" class="nav-item nav-link" [class.active]="activeTab==1"
          data-tab="sms">{{'label.Dashboard.SMS' | translate}}</a>

        <a (click)="tabClick(2)" class="nav-item nav-link " [class.active]="activeTab==2" data-tab="email">
          {{'label.Dashboard.EMAIL' | translate}}</a>
        <a (click)="tabClick(3)" class="nav-item nav-link" [class.active]="activeTab==3" data-tab="push">
          {{'label.Dashboard.PUSHNOTIFICATION' | translate}}</a>
        <div class="graph-select">
          <div class="styled-select">

            <select (change)="viewDropDownChange($event)" [(ngModel)]="dataFrom">
              <option>{{'label.Dashboard.ThisWeek' | translate}}</option>
              <option>{{'label.Dashboard.ThisYear' | translate}}</option>
            </select>
            <span class="icon-down-arrow arrow-dbs"></span>
          </div>
          <!-- <div class="styled-select">
        <select (change)="viewDropDownChange($event)">
          <option>This Week</option>
          <option>This Year</option>
        </select>
        <span class="fa fa-sort-desc"></span>
      </div> -->
        </div>
      </div>

      <div class="col-xs-12 ">
        <div class="row">

          <!-- <div class="company-content" > -->
          <div class="graph-section">
            <div id="chartdiv" style="width: 100%; height: 500px"></div>
          </div>
          <!-- </div> -->


        </div>
      </div>
      <div class="col-xs-12 " *ngIf="pages.campaignManagement || pages.campaignMessage">
        <div class="row">
          <div class="head-p">
            <h5>{{'label.Dashboard.CampaignManagement' | translate}}</h5>
          </div>
          <div  class="statistic-count" >
            <div class="statistic-list" (click)="chartClick('Manage Campaign')" *ngIf="pages.campaignManagement">
              <h3>{{'label.Dashboard.ManageCampaign' | translate}}</h3>
              <div class="list-stcontent"><span>{{campaignPendingData.pushDraft}}</span>
                <p>{{'label.Dashboard.Draft' | translate}}</p>
              </div>
              <div class="list-stcontent"><span>{{campaignPendingData.pushPending}}</span>
                <p>{{'label.Dashboard.Pendingforapproval' | translate}}</p>
              </div>
              <div class="list-stcontent"><span>{{campaignPendingData.pushReturn}}</span>
                <p>{{'label.Dashboard.ReturnedtoMakerReopen' | translate}}</p>
              </div>

            </div>
            <!-- <div class="statistic-list">
              <h3>Distribution  List</h3>
              <div class="list-stcontent"><span>31</span>
                <p>Draft</p>
              </div>
              <div class="list-stcontent"><span>23</span>
                <p>Pending for
                  approval</p>
              </div>
              <div class="list-stcontent"><span>12</span>
                <p>Returned to Maker
                  - Reopen</p>
              </div>
            </div> -->

            <div (click)="chartClick('Campaign Message Template')" class="statistic-list" *ngIf="pages.campaignMessage">
              <h3>{{'label.Dashboard.CampaignMessage' | translate}}</h3>
              <div class="list-stcontent"><span>{{campaignPendingData.messageTemplateDraft}}</span>
                <p>{{'label.Dashboard.Draft' | translate}}</p>
              </div>
              <div class="list-stcontent"><span>{{campaignPendingData.messageTemplatePending}}</span>
                <p>{{'label.Dashboard.Pendingforapproval' | translate}}</p>
              </div>
              <div class="list-stcontent"><span>{{campaignPendingData.messageTemplateReturn}}</span>
                <p>{{'label.Dashboard.ReturnedtoMakerReopen' | translate}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 " *ngIf="pages.manageUser || pages.rolePrivilege">
        <div class="row">
          <div class="head-p">
            <h5>{{'label.Dashboard.UserManagement' | translate}}</h5>
          </div>
          <div class="nav nav-tabs nav-fill company-tabs user-manage" id="nav-tab" role="tablist">
            <!-- <a class="nav-item nav-link" data-tab="list1">Manage Branch</a>
            <a class="nav-item nav-link " data-tab="list2">Manage Company, Individual</a> -->
            <a *ngIf="pages.manageUser" class="nav-item nav-link" (click)="usermangagementTab('user')" data-tab="list3"
              [class.active]="userPendingData.active=='user'">{{'label.Dashboard.ManageUSER' | translate}}</a>
            <a *ngIf="pages.rolePrivilege" class="nav-item nav-link" data-tab="list3"
              (click)="usermangagementTab('role')"
              [class.active]="userPendingData.active=='role'">{{'label.Dashboard.RolePrivileges' | translate}}</a>
          </div>

          <div class="company-content" id="list1" style="display: block; min-height: 50px;">
            <div (click)="gotoUserManagement()">

              <!-- <div id="userChartdiv" style=" height: 500px"></div> -->
              <!-- <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="userdiv">
                    <h4>36</h4>
                    <p>Pending for Approval</p>
                    <a href="#">View Details</a>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="userdiv">
                    <h4>36</h4>
                    <p>Pending for Approval</p>
                    <a href="#">View Details</a>
                  </div>
                </div>
              </div> -->

              <div class="row" *ngIf="userPendingData.active=='user'">
                <div class="col-xs-12 col-md-6">
                  <div class="userdiv">
                    <h4>{{userPendingData.userData[0].Pending}}</h4>
                    <!-- <h4>{{userPendingData.userData[0].Return}}</h4> -->
                    
                    <p>Pending for Approval</p>
                    <a (click)="usermangagementTab('user')">View Details</a>
                  </div>
                </div>
               
              </div>
              <div class="row" *ngIf="userPendingData.active=='role'">
                <div class="col-xs-12 col-md-6">
                  <div class="userdiv">
                    <h4>{{userPendingData.roleData[0].Pending}}</h4>
                    
                    <p>Pending for Approval</p>
                    <a (click)="usermangagementTab('role')">View Details</a>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="userdiv">
                    <h4>{{userPendingData.roleData[0].Draft}}</h4>
                    <p>Draft</p>
                    <a (click)="usermangagementTab('role')">View Details</a>
                  </div>
                </div>
              </div>
              <!-- <div style="width: 100%; "><img src="../../../assets/images/graph1.png"></div> -->
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
  <div class="quicklinks">
    <div class="total-cutom">
      <div class="total-slider owl-carousel">


        <div class="item active">
          <div class="tl-count">
            <h3> {{'label.Dashboard.TotalSchedule' | translate}}</h3>
            <p>{{scheduleList.SMS+ scheduleList.EMAIL+scheduleList.PUSH}}</p>
          </div>
          <div class="tl-nodify">
            <h3>{{'label.Dashboard.SMS' | translate}}</h3>
            <p>{{scheduleList.SMS}}</p>
          </div>
        </div>
        <div class="item">
          <div class="tl-count">
            <h3>{{'label.Dashboard.TotalSchedule' | translate}}</h3>
            <p>{{scheduleList.SMS+ scheduleList.EMAIL+scheduleList.PUSH}}</p>
          </div>
          <div class="tl-nodify">
            <h3>{{'label.Dashboard.Email' | translate}}</h3>
            <p>{{scheduleList.EMAIL}}</p>
          </div>
        </div>
        <div class="item">
          <div class="tl-count">
            <h3>{{'label.Dashboard.TotalSchedule' | translate}}</h3>
            <p>{{scheduleList.SMS+ scheduleList.EMAIL+scheduleList.PUSH}}</p>
          </div>
          <div class="tl-nodify">
            <h3>{{'label.Dashboard.PushNotification' | translate}}</h3>
            <p>{{scheduleList.PUSH}}</p>
          </div>

        </div>
      </div>
    </div>

    <div class="calendar">
      <div class="head-p">
        <h5><span class="icon-calc-event"></span>{{'label.Dashboard.Calendar' | translate}}</h5>
      </div>
      <div class="calendar-navs">



        <div class="year-nav">
          <button (click)="prevYear()">{{preYearString  }}</button>
          <span>{{ currentDate.format('MMMM YYYY') }}</span>
          <button (click)="nextYear()" class="nxt-year">{{nextYearString}}</button>
        </div>

      </div>

      <div class="month-grid">

        <div class="day-names">

          <div *ngFor="let name of dayNames" class="day-name p9">

            {{ name }}

          </div>

        </div>

        <div class="weeks">

          <div *ngFor="let week of weeks" class="week">

            <ng-container *ngFor="let day of week">

              <div class="week-date  disabled" *ngIf="!isSelectedMonth(day.mDate)">

                <span class="date-text">{{ day.mDate.date() }}</span>

              </div>

              <div class="week-date enabled" [class.select-date]="day.selected" *ngIf="isSelectedMonth(day.mDate)"
                (click)="selectDate(day)" [ngClass]="{ today: day.today, selected: day.selected }">

                <span class="date-text">{{ day.mDate.date() }}</span>
                <span class="badge badge-primary" *ngIf="day.count">{{day.count}}</span>
                <span class="badge badge-primary" style="left:3px !important;background-color: #F0D757 !important;"
                  *ngIf="day.promoCount">{{day.promoCount}}</span>

              </div>

            </ng-container>

          </div>
          <div class="month-nav">
            <button (click)="prevMonth()"><span class="icon-calc-left"></span></button>
            <!-- <span class="p4">{{ currentDate.format('MMMM YYYY') }}</span> -->
            <button (click)="nextMonth()" class="calc-next"><span class="icon-calc-right"></span></button>
          </div>

        </div>
        <div *ngIf="schedules.length" class="margin20">
          <div class="head-p schedule-h5">
            <h5>{{'label.Dashboard.Schedulelist' | translate}}</h5>
          </div>
          <div class="week-p">
            <p *ngFor="let schedule of schedules">
              <span *ngIf="schedule.campaignDesc" (click)="chartClick('Manage Campaign')">
                {{schedule.campaignDesc}}</span>
              <span *ngIf="schedule.promoName" (click)="chartClick('Promotional Marketing')">
                {{schedule.promoName}}</span>

            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="schedule-content"
      *ngIf="upcomingScheduleList.SMS.length|| upcomingScheduleList.EMAIL.length ||upcomingScheduleList.PUSH.length">
      <div class="head-p graph-head">
        <h5><span class="icon-scheduled"></span>{{'label.Dashboard.Scheduled' | translate}}
          <!-- <a href="#">View all</a> -->
        </h5>
      </div>
      <ul>
        <li *ngIf="upcomingScheduleList.SMS.length" (click)="chartClick('Manage Campaign')">
          <h3>{{'label.Dashboard.SMS' | translate}}</h3>
          <p><span>{{'label.Dashboard.Title' | translate}}</span> {{upcomingScheduleList.SMS[0].campaignDesc}}</p>
          <p><span>{{'label.Dashboard.Group' | translate}}</span> {{upcomingScheduleList.SMS[0].msgText}}</p>
          <p><span>{{'label.Dashboard.Scheduled' | translate}}</span>
            {{upcomingScheduleList.SMS[0].scheduledTime | showDate}}</p>
          <!-- <a href="#">View</a> -->
        </li>
        <li *ngIf="upcomingScheduleList.EMAIL.length" (click)="chartClick('Manage Campaign')">
          <h3>{{'label.Dashboard.Email' | translate}}</h3>
          <p><span>{{'label.Dashboard.Title' | translate}}</span> {{upcomingScheduleList.EMAIL[0].campaignDesc}}</p>
          <p><span>{{'label.Dashboard.Group' | translate}}</span> {{upcomingScheduleList.EMAIL[0].msgText}}</p>
          <p><span>{{'label.Dashboard.Scheduled' | translate}}</span>
            {{upcomingScheduleList.EMAIL[0].scheduledTime | showDate}}</p>
          <!-- <a href="#">View</a> -->
        </li>
        <li *ngIf="upcomingScheduleList.PUSH.length" (click)="chartClick('Manage Campaign')">
          <h3>{{'label.Dashboard.PUSH' | translate}}</h3>
          <p><span>{{'label.Dashboard.Title' | translate}}</span> {{upcomingScheduleList.PUSH[0].campaignDesc}}</p>
          <p><span>{{'label.Dashboard.Group' | translate}}</span> {{upcomingScheduleList.PUSH[0].msgText}}</p>
          <p><span>{{'label.Dashboard.Scheduled' | translate}}</span>
            {{upcomingScheduleList.PUSH[0].scheduledTime | showDate}}</p>
          <!-- <a href="#">View</a> -->
        </li>

      </ul>

    </div>
    <div class="quicklink-buttons" *ngIf="pages.manageCustomer">
      <div class="head-p">

        <h3 (click)="chartClick('Approve Customer Request')">{{'label.Dashboard.CustomerManagement' | translate}}</h3>

        <div class="statistic-list st-bg">
          <h3 (click)="chartClick('Approve Customer Request')">{{'label.Dashboard.manageCustomerRegist' | translate}}
          </h3>
          <!-- <div class="list-stcontent"><span>{{campaignPendingData.customerDraft}}</span>
            <p>{{'label.Dashboard.Draft' | translate}}</p>
          </div> -->
          <div class="list-stcontent"><span>{{campaignPendingData.customerPending}}</span>
            <p>{{'label.Dashboard.Pendingforapproval' | translate}}</p>
          </div>
          <!-- <div class="list-stcontent"><span>{{campaignPendingData.customerReturn}}</span>
            <p>{{'label.Dashboard.ReturnedtoMakerReopen' | translate}}</p>
          </div> -->
        </div>
      </div>

    </div>
    <!-- <div class="quicklink-buttons">
      <div class="head-p graph-head">
        <h5><span class="icon-qwick-links"></span>Quick Links</h5>
      </div>
      <ul *ngFor="let quick of quickLinksList;let i = index">
        <li><a href="#" title={{quick.menuLabel}}>{{i+1}}. {{quick.menuLabel}}</a></li>

      </ul>
      <a (click)="showAddQuickLinks()" class="view-all" data-toggle="modal" data-target="#exampleModal" title="Add">
        Add</a>
    </div> -->
  </div>
  <!-- <div class="clearfix"></div> -->
  <!-- <div (click)="chartClick('Service Message Templates')">
    got to sdflaksdjf
  </div> -->


</div>
<div *ngIf="pages.messageTemplate || pages.promoMarketing || pages.managerService || pages.templateParameter">
  <div class="head-p">
    <h5>{{'label.Dashboard.ServiceManagement' | translate}} </h5>
  </div>
  <div (click)="chartClick('Service Message Templates')" class="service-mng" *ngIf="pages.messageTemplate">
    <h3>{{'label.Dashboard.ServiceMessageTemplate' | translate}} </h3>
    <div id="messageChart"></div>
  </div>
  <div (click)="chartClick('Promotional Marketing')" class="service-mng" *ngIf="pages.promoMarketing">
    <h3>{{'label.Dashboard.PromotionalMarketing' | translate}} </h3>
    <div id="promoChart"></div>
  </div>
  <div (click)="chartClick('Manage Services')" class="service-mng" *ngIf="pages.managerService">
    <h3>{{'label.Dashboard.manageService' | translate}} </h3>
    <div id="serviceChart"></div>
    <!-- <div class="pie-chart"><img src="../../../assets/images/pie.jpg"></div> -->
  </div>
  <div (click)="chartClick('Template Parameters')" class="service-mng" *ngIf="pages.templateParameter">
    <h3>{{'label.Dashboard.TemplateParameter' | translate}} </h3>
    <div id="templateChart"></div>
  </div>
</div>
<div id="legenddiv"></div>

<!-- <div class="modal fade left-alignmodal" id="quick-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog notify-modal" role="document">
    <div class="modal-content">
      <div class="modal-heading">{{'label.Dashboard.QuickLinks' | translate}}</div>
      <div class="modal-body">

        <div class="form-group" *ngFor="let menu of menuList;let i = index ">
          <label>{{menu.menu_label}} </label>
          <input type="checkbox" [(ngModel)]="menu.theCheckbox" id="theCheckbox{{i}}" (change)="toggleVisibility(menu)"
            value="{{menu.credit}}">

        </div>
        <a class="add-btn" (click)="addQuickLinks()"><span>{{'label.Dashboard.Add' | translate}}</span></a>
        <a class="cancel-btn" (click)="cancel()">{{'label.Dashboard.Cancel' | translate}}</a>
      </div>
    </div>
  </div>
</div> -->