.float{
	position:fixed;
	width:60px;
	height:60px;
	top: 165px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float-red{
	position:fixed;
	width:60px;
	height:60px;
	top: 165px;
	right:40px;
	background-color:rgba(255, 0, 0, 0.692);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
.reqTop{
	position: relative;
    bottom: 4px !important;
}

