<div class="breadcrumb-div">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home/dashboard/">Home</a></li>
      <li class="breadcrumb-item active">Chat Services</li>
    </ol>
  </div>
  <div class="inner-head">
    <h2>chat service</h2>
  </div>


  <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="20"
    >
    <div class="no-record" *ngIf="!listChatUsers.length">
      No Records Found
    </div>
    <div class="responsive-nt" *ngIf="listChatUsers.length">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">User Name</th>
              <th scope="col">Email</th>
              <!-- <th scope="col">Status</th> -->
              <th scope="col" class="text-align">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of listChatUsers">
              <td (click)="goModalChat(company)"><a>{{company.name}}</a></td>
              <!-- <td>{{company.companyName}}</td> -->
              <td>{{company.email}}</td>
              
              <td class="text-align">
                <i class="icon-delete" (click)="DeleteModal(company)" title="Delete" data-toggle="tooltip" data-placement="left"></i>
              </td>
  
  
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="icon-close1"></span>
          </button>
          <i class="fa fa-bell-o"></i>
         <div *ngIf="!chatList">

                <p>Chats</p>

                <div *ngFor="let ChatUsers of listChatUsersDetails;">

                    <p>{{ChatUsers.username}}: - {{ChatUsers.body}}</p>

                </div>
                <textarea [(ngModel)]="chatters.new" rows="3"></textarea>


            </div>

         <div  *ngIf="!DeleteList">

                <sup>Are you sure want to delete</sup>
         </div>
          <!-- <div class="text-areabox">
              <label>Reason</label>
              <textarea class="form-control"></textarea>
              <span>(Max 500 Character Allowed)</span>
    
            </div>  -->
          <a *ngIf="!chatList" (click)="chatEnter()" class="add-btn">Submit</a>
          <a *ngIf="!DeleteList" (click)="deleteEntrieConvo()" class="add-btn">Delete</a>
        </div>
  
      </div>
    </div>
  </div>