<div class="breadcrumb-div">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.ManageCompany.Home' | translate}}</a></li>
    <li class="breadcrumb-item active">{{'label.ManageCompany.CompanyList' | translate}}</li>
  </ol>
</div>
<div class="inner-head">
  <h2>{{'label.ManageCompany.CompanyList' | translate}}</h2>
</div>
<div class="tablesearch-sort">
  <div class="search-input">
    <div class="searchexpand">
      <input type="text" id="searchTextId" placeholder="{{'label.ManageCompany.Search' | translate}}" [(ngModel)]="SearchValue"/>
      <button type="submit"><i class="icon-search"></i></button>
    </div>
    <span class="icon-search"></span>
    <span class="icon-close1 closesearch" (click)="resetSearch()"></span>
  </div>
  <div class="search-value" *ngIf="reqObj.isCountryFilter || reqObj.isStatusFilter">
    <p class="sortby-title">{{'label.ManageCompany.Filteredby' | translate}}</p>
    <p *ngIf="reqObj.isCountryFilter">{{'label.ManageCompany.Country' | translate}} <i (click)="clearCountry()" class="icon-close1"></i></p>
    <p *ngIf="reqObj.isStatusFilter">{{'label.ManageCompany.Status' | translate}} <i (click)="clearStatus()" class="icon-close1"></i></p>
    <p class="clearall" (click)="clearAllFilter()">{{'label.ManageCompany.ClearAll' | translate}}</p>
  </div>
</div>
<div class="button-orange">
  <a (click)="addCompany()" [class.disabled]="getAccessRole('isAdd')">{{'label.ManageCompany.AddCompany' | translate}} <span class="icon-plus"></span></a>
</div>
<div class="search-results">




  <div class="responsive-nt">


    <table class="table datatable">
      <thead>
        <tr>
          <th width="15%" scope="col">{{'label.ManageCompany.CompanyName' | translate}}</th>
          <th width="15%" scope="col">{{'label.ManageCompany.CompanyCode' | translate}}</th>
          <th width="15%" scope="col">{{'label.ManageCompany.Contactname' | translate}}</th>
          <th width="15%" scope="col">{{'label.ManageCompany.Phone' | translate}}</th>
          <th width="15%" scope="col">{{'label.ManageCompany.EmailAddress' | translate}}
            <!-- <span class="icon-sub-user-filter sorting"></span> -->

          </th>
          <th width="15%" scope="col">{{'label.ManageCompany.Country' | translate}}
            <!-- <span class="icon-sub-user-filter sorting"></span> -->
            <span class="icon-uniE90D user-arrow filter-open"></span>
            <div class="table-checkfilter">
              <div class="searchbox">
                <input type="text" placeholder="{{'label.ManageCompany.Search' | translate}}" />
              </div>
              <div class="tablesearch-content">
                <ul>
                  <li *ngFor="let item of tableCountry">
                    <div class="checkbox">
                      <label>
                        <input (change)="countryChange()" type="checkbox" [(ngModel)]="item.isChecked" />
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{item.name}}
                        &nbsp;&nbsp;</label>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </th>
          <th width="15%" scope="col">{{'label.ManageCompany.Status' | translate}}
            <span class="icon-uniE90D user-arrow filter-open"></span>
            <div class="table-checkfilter">
              <div class="searchbox">
                <input type="text" placeholder="Search" />
              </div>
              <div class="tablesearch-content">
                <ul>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" [(ngModel)]="statusActive" (change)="onStatusChange('Active')" />
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{'label.ManageCompany.Active' | translate}}
                        &nbsp;&nbsp;</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" [(ngModel)]="statusInActive" (change)="onStatusChange('inActive')" />
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{'label.ManageCompany.InActive' | translate}}
                        &nbsp;&nbsp;</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </th>
          <th width="15%" scope="col" class="text-align">{{'label.ManageCompany.Action' | translate}}</th>
        </tr>
      </thead>


      <tbody>
        <tr *ngFor="let company of listCompany">
          <td width="15%" class="hover-hand ellipsis"  data-th="Company Name">
            <a title="{{company.companyName}}" data-toggle="tooltip"
              (click)="goEditListCompany(company.companyId)">{{company.companyName}}</a></td>
          <td width="15%" data-th="Company Code">{{company.companyCode}}</td>
          <td width="15%" class="ellipsis" data-th="Contact name">
            <a title="{{company.contactName}}"  data-toggle="tooltip">{{company.contactName}}</a></td>
          <td width="15%" data-th="Phone">{{company.phone}}</td>
          <td width="15%" class="ellipsis"  data-th="Email Address">
            <a title="{{company.email}}" data-toggle="tooltip">{{company.email}}</a></td>
          <td width="15%" class="ellipsis" title="{{company.country}}" data-th="Country">
            <a data-toggle="tooltip">{{company.country}}</a></td>
          <td width="15%" data-th="Status" *ngIf="company.isActive">
            <i class="fa fa-check" aria-hidden="true"></i>{{'label.ManageCompany.Active' | translate}}
          </td>
          <td width="15%" data-th="Status" *ngIf="!company.isActive">
            <i class="fa fa-times" aria-hidden="true"></i>{{'label.ManageCompany.InActive' | translate}}
          </td>
          <td width="15%" data-th="Status" *ngIf="company.isActive=='Deleted'">
            <i class="fa fa-times" aria-hidden="true"></i>{{'label.ManageCompany.Deleted' | translate}}
          </td>
          <td width="15%" data-th="Action" class="text-align" [class.disabled]="getAccessRole('isDelete')">
            <i class="icon-delete" (click)="showModal(company)" title="Delete" data-toggle="tooltip"
              data-placement="left"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="icon-close1"></span>
          </button>
          <i class="icon-delete del-popup"></i>
          <h4>{{'label.ManageCompany.AlertMessage' | translate}}</h4>
          <p>{{'label.ManageCompany.AreYou' | translate}}</p>
         
          <a (click)="deleteUser()" class="add-btn">{{'label.ManageCompany.Delete' | translate}}</a>
        </div>

      </div>
    </div>
  </div>

