<div class="row">
  <form [formGroup]="ForgotForm">
    <div class="col-sm-4 col-md-5 col-xs-12">
      <div class="form-group">
        <label>New Password</label>
        <input type="text" class="form-control" [(ngModel)]="passwordChange.newPassword"
          pattern="(?=.*\d)(?=.*[.!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}" name="newPassword"
          formControlName="newPassword" id="newPassword">
      </div>



      <div class="error error-position"
        *ngIf="ForgotForm.get('newPassword').hasError('required') && ForgotForm.get('newPassword').touched">
        Please enter new password
      </div>

      <div class="error error-position"
        *ngIf="ForgotForm.get('newPassword').hasError('minlength') && ForgotForm.get('newPassword').touched">
        Please enter a new password at least 8 characters.

      </div>
      <div class="error error-position"
        *ngIf="ForgotForm.get('newPassword').hasError('maxlength') && ForgotForm.get('newPassword').touched">
        Please enter a new password no more than 16 characters.

      </div>
      <div class="error error-position"
        *ngIf="ForgotForm.get('newPassword').hasError('pattern') && ForgotForm.get('newPassword').touched">
        Must contain at least one number and one uppercase and special character

      </div>


    </div>


    <div class="col-sm-4 col-md-5 col-xs-12">
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="text" class="form-control" [(ngModel)]="passwordChange.confirmNewPassword"
          formControlName="confirmNewPassword" id="confirmNewPassword" pattern="{{ passwordChange.newPassword }}">
      </div>




      <div class="error error-position"
        *ngIf="ForgotForm.get('confirmNewPassword').hasError('required') && ForgotForm.get('confirmNewPassword').touched">
        Please enter confirm password
      </div>

      <div class="error error-position" *ngIf="ForgotForm.get('confirmNewPassword').hasError('pattern')">
        Password & Confirm Password does not match.</div>


    </div>



    <a (click)="submitPassword()" href="javascript:void(0)" class="add-btn">Submit</a>
  </form>
</div>