<div class="breadcrumb-div">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard/">{{'label.Role&Privileges.Home' | translate}}</a></li>
        <li class="breadcrumb-item active">{{ role.menuLabel }}</li>
    </ol>
</div>
<div class="inner-head">
    <h2>{{ role.menuLabel }}</h2>
</div>
<!-- <div class="tablesearch-sort">
    <div class="search-input">
        <input type="text" placeholder="Search" [(ngModel)]="reqObj.searchText" (ngModelChange)="changeSearch()">
        <span class="icon-search"></span>
        <span class="icon-close1 closesearch"></span>
    </div>
    <div class="search-value">
        <p class="sortby-title">Sorted by</p>
        <p>Role Name <i class="icon-close1"></i></p>
        <p>Active <i class="icon-close1"></i></p>
        <p class="clearall">Clear All</p>
    </div>
</div> -->

<div class="tablesearch-sort">
    <div class="search-input">
        <div class="searchexpand">
            <input type="text" id="searchTextId" placeholder="{{'label.Role&Privileges.Search' | translate}}" [(ngModel)]="SearchValue" />
            <button type="submit"><i class="icon-search"></i></button>
        </div>
        <span class="icon-search"></span>
        <span class="icon-close1 closesearch" (click)="resetSearch()"></span>
    </div>
    <div class="search-value" *ngIf="isFilterStatus">
        <p class="sortby-title">{{'label.Role&Privileges.Filteredby' | translate}}</p>
        <p>{{'label.Role&Privileges.Status' | translate}} <i class="icon-close1" (click)="clearFilter()"></i></p>
        <!-- <p class="clearall">Clear All</p> -->
    </div>
</div>

<div class="button-orange">
    <a (click)="addGroup()" [class.disabled]="getAccessRole('isAdd')">{{'label.Role&Privileges.CreateNewRole' | translate}}<span
            class="icon-plus"></span></a>
</div>
<div class="search-results">
    <div class="responsive-nt">
        <table class="table datatable">
            <thead>
                <tr>
                    <th width="20.5%">{{'label.Role&Privileges.RoleName' | translate}}</th>
                    <th width="15%">{{'label.Role&Privileges.RoleID' | translate}}</th>
                    <th width="20%">{{'label.Role&Privileges.Description' | translate}}</th>
                    <th width="15.5%">
                        {{'label.Role&Privileges.CreatedBy' | translate}}  
                    </th>
                    <th width="15%">{{'label.Role&Privileges.Createdon' | translate}}</th>
                    <th width="15%">{{'label.Role&Privileges.Status' | translate}}
                        <span class="icon-uniE90D user-arrow filter-open"></span>
                        <div class="table-checkfilter">
                            <div class="searchbox">
                                <input type="text" placeholder="{{'label.Role&Privileges.Search' | translate}}" [(ngModel)]="searchStatusFilter" />
                            </div>
                            <div class="tablesearch-content">
                                <ul>
                                    <li *ngFor="let status of filterStatus | customeTableFilter:searchStatusFilter:'statusDesc'; let i = index">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" [(ngModel)]="status.theCheckbox"
                                                    (change)="onStatusChange(status)" /> 
                                                <span class="cr"><i
                                                        class="cr-icon fa fa-check"></i></span>{{status.statusDesc}}
                                                &nbsp;&nbsp;</label>
                                        </div>
                                    </li> 
                                    <!-- <li>
                                <div class="checkbox">
                                  <label>
                                    <input type="checkbox" />
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>Email
                                    &nbsp;&nbsp;</label>
                                </div>
                              </li> -->
                                </ul>
                            </div>
                        </div>
                    </th>
                    <th width="15%" class="text-align" scope="col">{{'label.Role&Privileges.Actions' | translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let Group of listGroup">
                    <td width="20%" [class.disabled]="getAccessRole('isEdit')" (click)="goEditListManagement(Group)" 
                     class="hover-hand ellipsis" data-th="Role Name" >
                       <a title="{{ Group.groupName }}" data-toggle="tooltip"> {{ Group.groupName }}</a>
                    </td>
                    <td width="15%" data-th="Role ID">
                        {{ Group.groupId }}
                    </td>
                    <td width="20%" class="ellipsis"  data-th="Description">
                        <a title="{{ Group.groupDesc }}" data-toggle="tooltip">{{ Group.groupDesc }}</a> </td>
                    <td width="15%" class="ellipsis"  data-th="Created on">
                        <a title="{{ Group.createdBy }}" data-toggle="tooltip">{{ Group.createdBy }}</a> </td>
                    <td width="15%" class="ellipsis" title="{{ Group.createdDate | showDate }}" data-th="Last Modified">
                        <a data-toggle="tooltip">{{ Group.createdDate | showDate }}</a> 
                    </td>
                    <td width="15%" data-th="Status" *ngIf="Group.status == '1'">
                        <i class="fa fa-check" aria-hidden="true"></i>{{'label.Role&Privileges.Active' | translate}}
                    </td>
                    <td width="15%" data-th="Status" *ngIf="Group.status == '0'">
                        <i class="fa fa-times" aria-hidden="true"></i>{{'label.Role&Privileges.Deactive' | translate}}
                    </td>
                    <td width="15%" data-th="Status" *ngIf="Group.status == '2'">
                        <i class="fa fa-lock" aria-hidden="true"></i>{{'label.Role&Privileges.Locked' | translate}}
                    </td>
                    <td width="15%" data-th="Status" *ngIf="Group.statusId == '3'">
                        <i class="icon-pending" aria-hidden="true"></i>{{'label.Role&Privileges.PendingForApproval' | translate}}
                    </td>
                    <td width="15%" data-th="Status" *ngIf="Group.statusId == '4'">
                        <i class="icon-draft" aria-hidden="true"></i>{{'label.Role&Privileges.Draft' | translate}}
                    </td>
                    <td width="8%" data-th="Actions" class="text-align">
                        <div class="statuschange" *ngIf="
                Group.statusId == '3' &&
                (user.userId != Group.createdBy || user.data.isAdminUser)
              " [class.disabled]="getAccessRole('isChecker')">
                            <i class="icon-status-change dropdown-toggle drop-after" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <i class="icon-close1 dropdown-toggle drop-after" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="statuschange-list dropdown-menu dropdown-menu-right">
                                <p (click)="changeStatus(Group, 2)">
                                    <i class="icon-approve"></i>{{'label.Role&Privileges.Approve' | translate}} 
                                </p>
                                <p (click)="changeStatus(Group, 4)">
                                    <i class="icon-reject"></i> {{'label.Role&Privileges.Reject' | translate}}
                                </p>
                            </div>
                        </div>

                        <i *ngIf="
                Group.status == '0' ||
                Group.status == '1' ||
                Group.status == '2'
              " [class.disabled]="getAccessRole('isDelete')" class="icon-delete" (click)="showModal(Group)" title="Delete" data-toggle="tooltip" data-placement="left"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
                <i class="icon-delete del-popup"></i>
                <h4>{{'label.Role&Privileges.AlertMessage' | translate}}</h4>
                <p>{{'label.Role&Privileges.Areyou' | translate}}</p>
                <!-- <div class="text-areabox">
            <label>Reason</label>
            <textarea class="form-control"></textarea>
            <span>(Max 500 Character Allowed)</span>
  
          </div>  -->
                <a (click)="deleteUser()" class="add-btn"><span>{{'label.Role&Privileges.Submit' | translate}}</span></a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog notify-modal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close1"></span>
                </button>
                <i class="fa fa-bell-o"></i>
                <h4>{{ selectedUser.title }}</h4>
                <p>{{ selectedUser.body }}</p>
                <div *ngIf="
            selectedUser.changeStauts != 2 ||
            selectedUser.changeStauts == 6 ||
            selectedUser.changeStauts == 7
          " class="text-areabox">
                    <label>{{'label.Role&Privileges.Reason' | translate}}</label>
                    <form [formGroup]="AppOrRejForm">
                        <textarea [(ngModel)]="selectedUser.reason" class="form-control" formControlName="reason" (input)="
                changeField(
                  $event,
                  '[^0-9 a-zA-Z\u0600-\u06FF/\s/g]',
                  '1',
                  '250',
                  'reason',
                  selectedUser.reason.length
                )
              "></textarea>
                        <span>{{'label.Role&Privileges.Max250' | translate}}</span>
                        <div *ngIf="errMsg">{{'label.Role&Privileges.EnterReason' | translate}}</div>
                    </form>
                </div>

                <a (click)="send()" *ngIf="selectedUser.changeStauts == 2" class="add-btn"><span>{{'label.Role&Privileges.Approve' | translate}}</span></a>

                <a (click)="send()" *ngIf="selectedUser.changeStauts == 4" class="cancel-bg cancel-btn"><span>{{'label.Role&Privileges.Reject' | translate}}</span></a>
            </div>
        </div>
    </div>
</div>